In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
from urllib.request import urlopen

In [114]:
from bs4 import BeautifulSoup

In [115]:
integer_years = list(range(1991,2024))
string_years = list(map(str, integer_years))
print(string_years)

['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [116]:
integer_years2 = list(range(1980,1991))
string_years2 = list(map(str, integer_years2))
print(string_years2)

['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990']

In [6]:
def scrape_advanced_stats(years):
    advanced_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_advanced.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        headers = list(map(lambda x: x.replace(' ', 'Blank'), headers))
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_advanced_stats_df = pd.DataFrame(rows_data, columns = headers)
        year_advanced_stats_df = year_advanced_stats_df.drop(columns = '\xa0', axis = 1)
        advanced_stats_df = advanced_stats_df.append(year_advanced_stats_df)
    print(advanced_stats_df)
    advanced_stats_df.to_csv("advanced_stats2.csv", index=False)

In [7]:
scrape_advanced_stats(string_years2)

       Yr                Player Pos Age   Tm   G    MP   PER   TS%  3PAr  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82  3143  25.3  .639  .001  ...
1    1980         Tom Abernethy  PF  25  GSW  67  1222  11.0  .511  .003  ...
2    1980           Alvan Adams   C  25  PHO  75  2168  19.2  .571  .002  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  2864  15.3  .574  .023  ...
4    1980         Dennis Awtrey   C  31  CHI  26   560   7.4  .524  .000  ...
..    ...                   ...  ..  ..  ...  ..   ...   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62  1421  17.6  .601  .009  ...
455  1990      Haywoode Workman  PG  24  ATL   6    16  26.1  .773  .000  ...
456  1990         James Worthy*  SF  28  LAL  80  2960  19.8  .586  .038  ...
457  1990           Danny Young  PG  27  POR  82  1393  11.5  .508  .180  ...
458  1990         Michael Young  SF  29  LAC  45   459  16.0  .520  .134  ...

     TOV%  USG%  OWS  DWS    WS WS/48  OBPM  DBPM   BPM VORP
0    15.7  24.1  9.5  5.3  14.8  .227   4.8   2.4   7.2  7.3
1     9.9  13.3  1.2  0.8   2.0  .080  -1.0  -0.2  -1.2  0.2
2    18.2  21.9  3.1  3.9   7.0  .155   1.7   1.9   3.6  3.1
3    19.7  17.0  5.9  2.9   8.9  .148   1.4  -0.3   1.1  2.3
4    24.8   7.9  0.1  0.5   0.6  .053  -2.3   0.9  -1.4  0.1
..    ...   ...  ...  ...   ...   ...   ...   ...   ...  ...
454  10.0  21.9  3.3  1.5   4.8  .161   1.3   0.2   1.5  1.3
455   0.0  10.2  0.1  0.0   0.1  .357  -0.2  13.8  13.6  0.1
456  10.0  23.0  7.5  3.1  10.6  .172   3.6   0.2   3.8  4.3
457  17.5  12.9  1.0  1.9   3.0  .103  -1.2   2.1   0.9  1.0
458   6.6  20.5  0.6  0.5   1.1  .119   0.4   0.0   0.4  0.3

[4269 rows x 27 columns]

In [30]:
scrape_advanced_stats(string_years)

       Yr              Player Pos Age   Tm   G    MP   PER   TS%  3PAr  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   290  13.1  .499  .000  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  1505  12.2  .448  .099  ...
2    1991          Mark Acres   C  28  ORL  68  1313   9.2  .551  .014  ...
3    1991       Michael Adams  PG  28  DEN  66  2346  22.3  .530  .397  ...
4    1991        Mark Aguirre  SF  31  DET  78  2006  16.7  .526  .086  ...
..    ...                 ...  ..  ..  ...  ..   ...   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   795  14.1  .573  .172  ...
675  2023          Trae Young  PG  24  ATL  73  2541  22.0  .573  .331  ...
676  2023      Omer Yurtseven   C  24  MIA   9    83  16.7  .675  .259  ...
677  2023         Cody Zeller   C  30  MIA  15   217  16.4  .659  .034  ...
678  2023         Ivica Zubac   C  25  LAC  76  2170  16.7  .661  .004  ...

     TOV%  USG%   OWS   DWS    WS   WS/48  OBPM  DBPM   BPM  VORP
0    14.0  22.1   0.0   0.5   0.5    .079  -3.4  -1.2  -4.6  -0.2
1     9.5  27.2  -0.7  -0.3  -1.0  -0.031  -2.0  -3.0  -5.0  -1.1
2    14.0   9.3   1.4   1.1   2.5    .090  -2.8  -0.2  -3.0  -0.3
3    12.7  28.5   5.8   0.4   6.3    .128   6.0  -0.7   5.3   4.3
4    10.9  25.7   2.8   2.7   5.5    .132   1.2   0.2   1.4   1.7
..    ...   ...   ...   ...   ...     ...   ...   ...   ...   ...
674  16.7  13.5   0.7   1.1   1.8    .109  -1.8   1.9   0.1   0.4
675  15.2  32.6   5.3   1.4   6.7    .126   5.3  -2.0   3.3   3.4
676  11.9  18.0   0.2   0.1   0.3    .159  -2.5  -1.5  -3.9   0.0
677  15.8  18.1   0.4   0.3   0.7    .147  -2.0  -0.7  -2.8   0.0
678  15.9  14.8   3.8   2.9   6.7    .149  -1.1   0.2  -0.9   0.6

[18877 rows x 27 columns]

In [8]:
def scrape_totals_stats(years):
    totals_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_totals.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_totals_stats_df = pd.DataFrame(rows_data, columns = headers)
        totals_stats_df = totals_stats_df.append(year_totals_stats_df)
    print(totals_stats_df)
    totals_stats_df.to_csv("totals_stats2.csv", index=False)

In [9]:
scrape_totals_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  835  1383  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222  153   318  ...
2    1980           Alvan Adams   C  25  PHO  75      2168  465   875  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864  383   794  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560   27    60  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  306   550  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16    2     3  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  711  1298  ...
457  1990           Danny Young  PG  27  POR  82   8  1393  138   328  ...
458  1990         Michael Young  SF  29  LAC  45   2   459   92   194  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  190  696  886  371   81  280  297  216  2034
1     .683   62  129  191   87   35   12   39  118   362
2     .797  158  451  609  322  108   55  218  237  1118
3     .830   59  138  197  671  106   10  242  218  1131
4     .640   29   86  115   40   12   15   27   66    86
..     ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
454   .733   49  136  185   96   39   46   73  160   788
455  1.000    0    3    3    2    3    0    0    3     6
456   .782  160  318  478  288   99   49  160  190  1685
457   .813   29   93  122  231   82    4   80   84   383
458   .711   36   50   86   24   25    3   15   47   219

[4269 rows x 30 columns]

In [28]:
scrape_totals_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   55   116  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  417  1009  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313  109   214  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346  560  1421  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006  420   909  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795  108   198  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541  597  1390  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   16    27  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   37    59  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170  326   514  ...

      FT%  ORB  DRB  TRB  AST  STL BLK  TOV   PF   PTS
0    .568   27   62   89   12    4  12   22   39   135
1    .857   34   87  121  206   55   4  110  149   942
2    .653  140  219  359   25   25  25   42  218   285
3    .879   58  198  256  693  147   6  240  162  1752
4    .757  134  240  374  139   47  20  128  209  1104
..    ...  ...  ...  ...  ...  ...  ..  ...  ...   ...
674  .692   71   95  166   75   54   5   42   88   240
675  .886   56  161  217  741   80   9  300  104  1914
676  .833    8   15   23    2    2   2    4   16    40
677  .686   25   39   64   10    3   4   14   33    98
678  .697  236  520  756   77   29  98  117  219   818

[18877 rows x 30 columns]

In [10]:
def scrape_pergame_stats(years):
    pergame_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_game.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_pergame_stats_df = pd.DataFrame(rows_data, columns = headers)
        pergame_stats_df = pergame_stats_df.append(year_pergame_stats_df)
    print(pergame_stats_df)
    pergame_stats_df.to_csv("pergame_stats2.csv", index=False)

In [11]:
scrape_pergame_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      38.3  10.2  16.9  ...
1    1980         Tom Abernethy  PF  25  GSW  67      18.2   2.3   4.7  ...
2    1980           Alvan Adams   C  25  PHO  75      28.9   6.2  11.7  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  35.8   4.8   9.9  ...
4    1980         Dennis Awtrey   C  31  CHI  26      21.5   1.0   2.3  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  22.9   4.9   8.9  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0   2.7   0.3   0.5  ...
456  1990         James Worthy*  SF  28  LAL  80  80  37.0   8.9  16.2  ...
457  1990           Danny Young  PG  27  POR  82   8  17.0   1.7   4.0  ...
458  1990         Michael Young  SF  29  LAC  45   2  10.2   2.0   4.3  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  2.3  8.5  10.8  4.5  1.0  3.4  3.6  2.6  24.8
1     .683  0.9  1.9   2.9  1.3  0.5  0.2  0.6  1.8   5.4
2     .797  2.1  6.0   8.1  4.3  1.4  0.7  2.9  3.2  14.9
3     .830  0.7  1.7   2.5  8.4  1.3  0.1  3.0  2.7  14.1
4     .640  1.1  3.3   4.4  1.5  0.5  0.6  1.0  2.5   3.3
..     ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
454   .733  0.8  2.2   3.0  1.5  0.6  0.7  1.2  2.6  12.7
455  1.000  0.0  0.5   0.5  0.3  0.5  0.0  0.0  0.5   1.0
456   .782  2.0  4.0   6.0  3.6  1.2  0.6  2.0  2.4  21.1
457   .813  0.4  1.1   1.5  2.8  1.0  0.0  1.0  1.0   4.7
458   .711  0.8  1.1   1.9  0.5  0.6  0.1  0.3  1.0   4.9

[4269 rows x 30 columns]

In [30]:
scrape_pergame_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   6.7  1.3   2.7  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  22.5  6.2  15.1  ...
2    1991          Mark Acres   C  28  ORL  68   0  19.3  1.6   3.1  ...
3    1991       Michael Adams  PG  28  DEN  66  66  35.5  8.5  21.5  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  25.7  5.4  11.7  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9  14.7  2.0   3.7  ...
675  2023          Trae Young  PG  24  ATL  73  73  34.8  8.2  19.0  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0   9.2  1.8   3.0  ...
677  2023         Cody Zeller   C  30  MIA  15   2  14.5  2.5   3.9  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  28.6  4.3   6.8  ...

      FT%  ORB  DRB  TRB   AST  STL  BLK  TOV   PF   PTS
0    .568  0.6  1.4  2.1   0.3  0.1  0.3  0.5  0.9   3.1
1    .857  0.5  1.3  1.8   3.1  0.8  0.1  1.6  2.2  14.1
2    .653  2.1  3.2  5.3   0.4  0.4  0.4  0.6  3.2   4.2
3    .879  0.9  3.0  3.9  10.5  2.2  0.1  3.6  2.5  26.5
4    .757  1.7  3.1  4.8   1.8  0.6  0.3  1.6  2.7  14.2
..    ...  ...  ...  ...   ...  ...  ...  ...  ...   ...
674  .692  1.3  1.8  3.1   1.4  1.0  0.1  0.8  1.6   4.4
675  .886  0.8  2.2  3.0  10.2  1.1  0.1  4.1  1.4  26.2
676  .833  0.9  1.7  2.6   0.2  0.2  0.2  0.4  1.8   4.4
677  .686  1.7  2.6  4.3   0.7  0.2  0.3  0.9  2.2   6.5
678  .697  3.1  6.8  9.9   1.0  0.4  1.3  1.5  2.9  10.8

[18877 rows x 30 columns]

In [12]:
def scrape_per36min_stats(years):
    per36min_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_minute.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_per36min_stats_df = pd.DataFrame(rows_data, columns = headers)
        per36min_stats_df = per36min_stats_df.append(year_per36min_stats_df)
    print(per36min_stats_df)
    per36min_stats_df.to_csv("per36min_stats2.csv", index=False)

In [13]:
scrape_per36min_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  9.6  15.8  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222  4.5   9.4  ...
2    1980           Alvan Adams   C  25  PHO  75      2168  7.7  14.5  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864  4.8  10.0  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560  1.7   3.9  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  7.8  13.9  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16  4.5   6.8  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  8.6  15.8  ...
457  1990           Danny Young  PG  27  POR  82   8  1393  3.6   8.5  ...
458  1990         Michael Young  SF  29  LAC  45   2   459  7.2  15.2  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  2.2  8.0  10.1  4.2  0.9  3.2  3.4  2.5  23.3
1     .683  1.8  3.8   5.6  2.6  1.0  0.4  1.1  3.5  10.7
2     .797  2.6  7.5  10.1  5.3  1.8  0.9  3.6  3.9  18.6
3     .830  0.7  1.7   2.5  8.4  1.3  0.1  3.0  2.7  14.2
4     .640  1.9  5.5   7.4  2.6  0.8  1.0  1.7  4.2   5.5
..     ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
454   .733  1.2  3.4   4.7  2.4  1.0  1.2  1.8  4.1  20.0
455  1.000  0.0  6.8   6.8  4.5  6.8  0.0  0.0  6.8  13.5
456   .782  1.9  3.9   5.8  3.5  1.2  0.6  1.9  2.3  20.5
457   .813  0.7  2.4   3.2  6.0  2.1  0.1  2.1  2.2   9.9
458   .711  2.8  3.9   6.7  1.9  2.0  0.2  1.2  3.7  17.2

[4269 rows x 29 columns]

In [32]:
scrape_per36min_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   6.8  14.4  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  10.0  24.1  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313   3.0   5.9  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346   8.6  21.8  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006   7.5  16.3  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795   4.9   9.0  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541   8.5  19.7  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   6.9  11.7  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   6.1   9.8  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170   5.4   8.5  ...

      FT%  ORB  DRB   TRB   AST  STL  BLK  TOV   PF   PTS
0    .568  3.4  7.7  11.0   1.5  0.5  1.5  2.7  4.8  16.8
1    .857  0.8  2.1   2.9   4.9  1.3  0.1  2.6  3.6  22.5
2    .653  3.8  6.0   9.8   0.7  0.7  0.7  1.2  6.0   7.8
3    .879  0.9  3.0   3.9  10.6  2.3  0.1  3.7  2.5  26.9
4    .757  2.4  4.3   6.7   2.5  0.8  0.4  2.3  3.8  19.8
..    ...  ...  ...   ...   ...  ...  ...  ...  ...   ...
674  .692  3.2  4.3   7.5   3.4  2.4  0.2  1.9  4.0  10.9
675  .886  0.8  2.3   3.1  10.5  1.1  0.1  4.3  1.5  27.1
676  .833  3.5  6.5  10.0   0.9  0.9  0.9  1.7  6.9  17.3
677  .686  4.1  6.5  10.6   1.7  0.5  0.7  2.3  5.5  16.3
678  .697  3.9  8.6  12.5   1.3  0.5  1.6  1.9  3.6  13.6

[18877 rows x 29 columns]

In [9]:
def scrape_per100pos_stats(years):
    per100pos_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS', 'ORtg', 'DRtg'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_poss.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_per100pos_stats_df = pd.DataFrame(rows_data, columns = headers)
        per100pos_stats_df = per100pos_stats_df.append(year_per100pos_stats_df)
    print(per100pos_stats_df)
    per100pos_stats_df.to_csv("per100pos_stats2.csv", index=False)

In [15]:
scrape_per100pos_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  12.3  20.3  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222   6.0  12.4  ...
2    1980           Alvan Adams   C  25  PHO  75      2168   9.8  18.5  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864   6.3  13.0  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560   2.3   5.0  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  10.7  19.3  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16   6.3   9.4  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  12.0  21.9  ...
457  1990           Danny Young  PG  27  POR  82   8  1393   4.6  11.0  ...
458  1990         Michael Young  SF  29  LAC  45   2   459   9.7  20.5  ...

      TRB   AST  STL  BLK  TOV   PF   PTS ORtg DRtg
0    13.0   5.4  1.2  4.1  4.4  3.2  29.8  118  100
1     7.5   3.4  1.4  0.5  1.5  4.6  14.1  109  108
2    12.9   6.8  2.3  1.2  4.6  5.0  23.6  107   99
3     3.2  11.0  1.7  0.2  4.0  3.6  18.5  115  105
4     9.7   3.4  1.0  1.3  2.3  5.6   7.2  102  107
..    ...   ...  ...  ...  ...  ...   ...  ...  ... ..
454   6.5   3.4  1.4  1.6  2.6  5.6  27.6  118  108
455   9.4   6.3  9.4  0.0  0.0  9.4  18.8  175   94
456   8.0   4.8  1.7  0.8  2.7  3.2  28.4  119  108
457   4.1   7.8  2.8  0.1  2.7  2.8  12.9  109  105
458   9.1   2.5  2.6  0.3  1.6  5.0  23.1  111  107

[4269 rows x 32 columns]

In [34]:
scrape_per100pos_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   9.1  19.1  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  11.7  28.3  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313   4.0   7.9  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346  10.1  25.6  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006  10.9  23.7  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795   6.7  12.3  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541  11.2  26.1  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   9.6  16.2  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   8.5  13.6  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170   7.4  11.6  ...

      TRB   AST  STL  BLK  TOV   PF   PTS ORtg DRtg
0    14.7   2.0  0.7  2.0  3.6  6.4  22.2   99  103
1     3.4   5.8  1.5  0.1  3.1  4.2  26.4   96  118
2    13.2   0.9  0.9  0.9  1.5  8.0  10.5  116  109
3     4.6  12.5  2.6  0.1  4.3  2.9  31.5  113  115
4     9.7   3.6  1.2  0.5  3.3  5.4  28.7  109  105
..    ...   ...  ...  ...  ...  ...   ...  ...  ... ..
674  10.3   4.7  3.4  0.3  2.6  5.5  14.9  117  112
675   4.1  13.9  1.5  0.2  5.6  2.0  35.9  116  119
676  13.8   1.2  1.2  1.2  2.4  9.6  24.0  126  112
677  14.7   2.3  0.7  0.9  3.2  7.6  22.5  124  114
678  17.1   1.7  0.7  2.2  2.6  4.9  18.5  125  112

[18877 rows x 32 columns]

In [16]:
def scrape_team_data(years):
    
    teams_df = pd.DataFrame(columns = ["Year", "Team", "W", "L",
                                       "W/L%", "GB", "PS/G", "PA/G",
                                       "SRS", "Playoffs",
                                       "Losing_season"])
    
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_standings.html'
        html = urlopen(url)
        
        soup = BeautifulSoup(html, features="lxml")
        titles = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        
        headers = titles[1:titles.index("SRS")+1]
        
        titles = titles[titles.index("SRS")+1:]
        
        try:
            row_titles = titles[0:titles.index("Eastern Conference")]
        except: row_titles = titles
        for i in headers:
            row_titles.remove(i)
        row_titles.remove("Western Conference")
        divisions = ["Atlantic Division", "Central Division",
                     "Southeast Division", "Northwest Division",
                     "Pacific Division", "Southwest Division",
                     "Midwest Division"]
        for d in divisions:
            try:
                row_titles.remove(d)
            except:
                continue
        
        rows = soup.findAll('tr')[1:]
        team_stats = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        team_stats = [e for e in team_stats if e != []]
        team_stats = team_stats[0:len(row_titles)]
        
        for i in range(0, len(team_stats)):
            team_stats[i].insert(0, row_titles[i])
            team_stats[i].insert(0, year)
            
        headers.insert(0, "Team")
        headers.insert(0, "Year")
        
        year_standings = pd.DataFrame(team_stats, columns = headers)
        
        year_standings["Playoffs"] = ["Y" if "*" in ele else "N" for ele in year_standings["Team"]]
        year_standings["Team"] = [ele.replace('*', '') for ele in year_standings["Team"]]
        year_standings["Losing_season"] = ["Y" if float(ele) < .5 else "N" for ele in year_standings["W/L%"]]
        
        teams_df = teams_df.append(year_standings)
        
    teams_df.to_csv("teams_data2.csv", index=False)

In [17]:
scrape_team_data(string_years2)

In [50]:
scrape_team_data(string_years)

In [18]:
'Next step is to consolidate all seasons for each scrape'

'Next step is to consolidate all seasons for each scrape'

In [108]:
advanced_stats1 = pd.read_csv('advanced_stats.csv')
advanced_stats2 = pd.read_csv('advanced_stats2.csv')
advanced_stats_combined = pd.concat([advanced_stats1, advanced_stats2], ignore_index=True, axis=0)
advanced_stats_combined.to_csv("advanced_stats_combined.csv", index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'advanced_stats.csv'

In [107]:
advanced_stats_combined

NameError: name 'advanced_stats_combined' is not defined

In [23]:
totals_stats1 = pd.read_csv('totals_stats.csv')
totals_stats2 = pd.read_csv('totals_stats2.csv')
totals_stats_combined = pd.concat([totals_stats1, totals_stats2], ignore_index=True, axis=0)
totals_stats_combined.to_csv("totals_stats_combined.csv", index = False)

In [24]:
totals_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,27,62,89,12,4,12,22,39,135
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,34,87,121,206,55,4,110,149,942
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,140,219,359,25,25,25,42,218,285
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,58,198,256,693,147,6,240,162,1752
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,134,240,374,139,47,20,128,209,1104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,49,136,185,96,39,46,73,160,788
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0,3,3,2,3,0,0,3,6
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,160,318,478,288,99,49,160,190,1685
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,29,93,122,231,82,4,80,84,383
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,36,50,86,24,25,3,15,47,219

In [25]:
pergame_stats1 = pd.read_csv('pergame_stats.csv')
pergame_stats2 = pd.read_csv('pergame_stats2.csv')
pergame_stats_combined = pd.concat([pergame_stats1, pergame_stats2], ignore_index=True, axis=0)
pergame_stats_combined.to_csv("pergame_stats_combined.csv", index = False)

In [27]:
pergame_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,6.7,1.3,2.7,...,0.568,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,22.5,6.2,15.1,...,0.857,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1
2,1991,Mark Acres,C,28,ORL,68,0.0,19.3,1.6,3.1,...,0.653,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2
3,1991,Michael Adams,PG,28,DEN,66,66.0,35.5,8.5,21.5,...,0.879,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5
4,1991,Mark Aguirre,SF,31,DET,78,13.0,25.7,5.4,11.7,...,0.757,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,22.9,4.9,8.9,...,0.733,0.8,2.2,3.0,1.5,0.6,0.7,1.2,2.6,12.7
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,2.7,0.3,0.5,...,1.000,0.0,0.5,0.5,0.3,0.5,0.0,0.0,0.5,1.0
23143,1990,James Worthy*,SF,28,LAL,80,80.0,37.0,8.9,16.2,...,0.782,2.0,4.0,6.0,3.6,1.2,0.6,2.0,2.4,21.1
23144,1990,Danny Young,PG,27,POR,82,8.0,17.0,1.7,4.0,...,0.813,0.4,1.1,1.5,2.8,1.0,0.0,1.0,1.0,4.7
23145,1990,Michael Young,SF,29,LAC,45,2.0,10.2,2.0,4.3,...,0.711,0.8,1.1,1.9,0.5,0.6,0.1,0.3,1.0,4.9

In [28]:
per36min_stats1 = pd.read_csv('per36min_stats.csv')
per36min_stats2 = pd.read_csv('per36min_stats2.csv')
per36min_stats_combined = pd.concat([per36min_stats1, per36min_stats2], ignore_index=True, axis=0)
per36min_stats_combined.to_csv("per36min_stats_combined.csv", index = False)

In [29]:
per36min_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,6.8,14.4,...,0.568,3.4,7.7,11.0,1.5,0.5,1.5,2.7,4.8,16.8
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,10.0,24.1,...,0.857,0.8,2.1,2.9,4.9,1.3,0.1,2.6,3.6,22.5
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,3.0,5.9,...,0.653,3.8,6.0,9.8,0.7,0.7,0.7,1.2,6.0,7.8
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,8.6,21.8,...,0.879,0.9,3.0,3.9,10.6,2.3,0.1,3.7,2.5,26.9
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,7.5,16.3,...,0.757,2.4,4.3,6.7,2.5,0.8,0.4,2.3,3.8,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,7.8,13.9,...,0.733,1.2,3.4,4.7,2.4,1.0,1.2,1.8,4.1,20.0
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,4.5,6.8,...,1.000,0.0,6.8,6.8,4.5,6.8,0.0,0.0,6.8,13.5
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,8.6,15.8,...,0.782,1.9,3.9,5.8,3.5,1.2,0.6,1.9,2.3,20.5
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,3.6,8.5,...,0.813,0.7,2.4,3.2,6.0,2.1,0.1,2.1,2.2,9.9
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,7.2,15.2,...,0.711,2.8,3.9,6.7,1.9,2.0,0.2,1.2,3.7,17.2

In [30]:
per100pos_stats1 = pd.read_csv('per100pos_stats.csv')
per100pos_stats2 = pd.read_csv('per100pos_stats2.csv')
per100pos_stats_combined = pd.concat([per100pos_stats1, per100pos_stats2], ignore_index=True, axis=0)
per100pos_stats_combined.to_csv("per100pos_stats_combined.csv", index = False)

In [31]:
per100pos_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,ORtg,DRtg,Unnamed: 31
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,9.1,19.1,...,14.7,2.0,0.7,2.0,3.6,6.4,22.2,99.0,103.0,NaN
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,11.7,28.3,...,3.4,5.8,1.5,0.1,3.1,4.2,26.4,96.0,118.0,NaN
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,4.0,7.9,...,13.2,0.9,0.9,0.9,1.5,8.0,10.5,116.0,109.0,NaN
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,10.1,25.6,...,4.6,12.5,2.6,0.1,4.3,2.9,31.5,113.0,115.0,NaN
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,10.9,23.7,...,9.7,3.6,1.2,0.5,3.3,5.4,28.7,109.0,105.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,10.7,19.3,...,6.5,3.4,1.4,1.6,2.6,5.6,27.6,118.0,108.0,NaN
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,6.3,9.4,...,9.4,6.3,9.4,0.0,0.0,9.4,18.8,175.0,94.0,NaN
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,12.0,21.9,...,8.0,4.8,1.7,0.8,2.7,3.2,28.4,119.0,108.0,NaN
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,4.6,11.0,...,4.1,7.8,2.8,0.1,2.7,2.8,12.9,109.0,105.0,NaN
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,9.7,20.5,...,9.1,2.5,2.6,0.3,1.6,5.0,23.1,111.0,107.0,NaN

In [32]:
teams_data1 = pd.read_csv('teams_data.csv')
teams_data2 = pd.read_csv('teams_data2.csv')
teams_data_combined = pd.concat([teams_data1, teams_data2], ignore_index=True, axis=0)
teams_data_combined.to_csv("teams_data_combined.csv", index = False)

In [33]:
teams_data_combined

,Year,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
0,1991,Boston Celtics,56,26,0.683,—,111.5,105.7,5.22,Y,N
1,1991,Philadelphia 76ers,44,38,0.537,12.0,105.4,105.6,-0.39,Y,N
2,1991,New York Knicks,39,43,0.476,17.0,103.1,103.3,-0.43,Y,Y
3,1991,Washington Bullets,30,52,0.366,26.0,101.4,106.4,-4.84,N,Y
4,1991,New Jersey Nets,26,56,0.317,30.0,102.9,107.5,-4.53,N,Y
...,...,...,...,...,...,...,...,...,...,...,...
1219,1990,Phoenix Suns,54,28,0.659,9.0,114.9,107.8,7.09,Y,N
1220,1990,Seattle SuperSonics,41,41,0.500,22.0,106.9,105.9,1.40,N,N
1221,1990,Golden State Warriors,37,45,0.451,26.0,116.3,119.4,-2.55,N,Y
1222,1990,Los Angeles Clippers,30,52,0.366,33.0,103.8,107.2,-2.80,N,Y
1223,1990,Sacramento Kings,23,59,0.280,40.0,101.7,106.8,-4.41,N,Y

In [ ]:
'Next step is to scrape awards data for MVP and DPOY for those seasons'

In [62]:
def scrape_mvps(years):
    mvps_df = pd.DataFrame(columns = ['Yr', 'Rank', 'Player', 'Age', 'Tm', 'First', 'Pts Won', 'Pts Max', 'Share', 'G','MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS', 'WS/48'])
    for year in years:
        url = 'https://www.basketball-reference.com/awards/awards_' + year + '.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        table = soup.findAll('table')[0]
        headers = [th.getText() for th in table.findAll('tr', limit=2)[1].findAll('th')]
        headers.insert(0, 'Yr')
        rows = table.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
            rows_data[i].insert(1, i+1)
        
        year_mvps_df = pd.DataFrame(rows_data, columns = headers)
        mvps_df = mvps_df.append(year_mvps_df)
        
    mvps_df.to_csv("mvps2.csv", index=False)

In [61]:
scrape_mvps(string_years)

In [63]:
scrape_mvps(string_years2)

In [8]:
mvps_data1 = pd.read_csv('mvps.csv')
mvps_data2 = pd.read_csv('mvps2.csv')
mvps_data_combined = pd.concat([mvps_data1, mvps_data2], ignore_index=True, axis=0)
mvps_data_combined.to_csv("mvps_data_combined.csv", index = False)

In [10]:
dpoy_df = pd.read_csv('/Users/mitchellren/Downloads/dpoy_data.csv')
dpoy_df

,Yr,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,STL,BLK,FG%,3P%,FT%,WS,WS/48,DWS,DBPM,DRtg
0,1991,1,Dennis Rodman,29,DET,51,51,96,0.531,82,...,0.8,0.7,0.493,0.200,0.631,8.7,0.151,5.2,0.7,101
1,1991,2,David Robinson,25,SAS,18,18,96,0.188,82,...,1.5,3.9,0.552,0.143,0.762,17.0,0.264,7.6,3.3,96
2,1991,3,Alvin Robertson,28,MIL,15,15,96,0.156,81,...,3.0,0.2,0.485,0.365,0.757,7.7,0.142,4.3,2.8,103
3,1991,4,Joe Dumars,27,DET,3,3,96,0.031,80,...,1.1,0.1,0.481,0.311,0.890,9.9,0.155,3.1,0.1,108
4,1991,5,Hakeem Olajuwon,28,HOU,2,2,96,0.021,56,...,2.2,3.9,0.508,0.000,0.769,8.6,0.201,5.7,4.0,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1983,2,Tree Rollins,27,ATL,10,10,75,0.133,80,...,0.6,4.3,0.510,0.000,0.726,7.3,0.142,5.0,3.7,97
571,1983,3,Larry Bird,26,BOS,6,6,75,0.080,79,...,1.9,0.9,0.504,0.286,0.840,14.0,0.225,5.6,2.1,98
572,1983,4,Maurice Cheeks,26,PHI,6,6,75,0.080,79,...,2.3,0.4,0.542,0.167,0.754,9.4,0.183,3.8,2.3,101
573,1983,5,Michael Cooper,26,LAL,6,6,75,0.080,82,...,1.4,0.6,0.535,0.238,0.785,5.2,0.116,2.1,1.5,105
574,1983,6,Bobby Jones,31,PHI,6,6,75,0.080,74,...,1.1,1.2,0.543,0.000,0.793,6.4,0.175,3.1,2.8,99

In [11]:
dpoy_df.to_csv("dpoy_data_combined.csv", index = False)

In [35]:
'Next step is to join all the separate files together using players, years, and teams as joinkeys'

'Next step is to join all the separate files together using players, years, and teams as joinkeys'

In [117]:
# Subset dataframes to be 1983-2023 because DPOY didn't start until 1983

mvps_df = pd.read_csv('mvps_data_combined.csv')
advanced_stats_df = pd.read_csv('advanced_stats_combined.csv')
per100pos_df = pd.read_csv('per100pos_stats_combined.csv')
per36min_df = pd.read_csv('per36min_stats_combined.csv')
pergame_df = pd.read_csv('pergame_stats_combined.csv')
teams_df = pd.read_csv('teams_data_combined.csv')
totals_stats_df = pd.read_csv('totals_stats_combined.csv')

In [118]:
mvps_df = mvps_df[mvps_df['Yr'] >= 1983]

In [119]:
mvps_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [120]:
advanced_stats_df = advanced_stats_df[advanced_stats_df['Yr'] >= 1983]

In [121]:
advanced_stats_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [122]:
per100pos_df = per100pos_df[per100pos_df['Yr'] >= 1983]

In [123]:
per100pos_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [124]:
per36min_df = per36min_df[per36min_df['Yr'] >= 1983]

In [125]:
per36min_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [126]:
pergame_df = pergame_df[pergame_df['Yr'] >= 1983]

In [127]:
pergame_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [128]:
teams_df = teams_df[teams_df['Year'] >= 1983]

In [129]:
teams_df['Year'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [130]:
totals_stats_df = totals_stats_df[totals_stats_df['Yr'] >= 1983]

In [131]:
totals_stats_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [132]:
totals_stats_df['joinkey'] = totals_stats_df['Player'] + totals_stats_df['Yr'].astype(str) + totals_stats_df['Tm'] + totals_stats_df['Pos'] + totals_stats_df['Age'].astype(str)

In [133]:
totals_stats_joinkeys = list(totals_stats_df['joinkey'])

In [134]:
advanced_stats_df['joinkey'] = advanced_stats_df['Player'] + advanced_stats_df['Yr'].astype(str) + advanced_stats_df['Tm'] + advanced_stats_df['Pos'] + advanced_stats_df['Age'].astype(str)

In [135]:
advanced_stats_joinkeys = list(advanced_stats_df['joinkey'])

In [136]:
check =  all(item in totals_stats_joinkeys for item in advanced_stats_joinkeys)
 
if check is True:
    print("All joinkeys present in both datasets")    
else :
    print("Not all joinkeys present in both datasets")

All joinkeys present in both datasets

In [137]:
totals_stats_df.columns

Index(['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'joinkey'],
      dtype='object')

In [138]:
advanced_stats_df.columns

Index(['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'joinkey'],
      dtype='object')

In [139]:
advanced_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'MP']

In [140]:
advanced_stats_df = advanced_stats_df.drop(advanced_stats_remove_cols, axis = 1)

In [141]:
advanced_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PER      22048 non-null  float64
 1   TS%      21947 non-null  float64
 2   3PAr     21934 non-null  float64
 3   FTr      21934 non-null  float64
 4   ORB%     22048 non-null  float64
 5   DRB%     22048 non-null  float64
 6   TRB%     22048 non-null  float64
 7   AST%     22048 non-null  float64
 8   STL%     22048 non-null  float64
 9   BLK%     22048 non-null  float64
 10  TOV%     21965 non-null  float64
 11  USG%     22048 non-null  float64
 12  OWS      22053 non-null  float64
 13  DWS      22053 non-null  float64
 14  WS       22053 non-null  float64
 15  WS/48    22048 non-null  float64
 16  OBPM     22053 non-null  float64
 17  DBPM     22053 non-null  float64
 18  BPM      22053 non-null  float64
 19  VORP     22053 non-null  float64
 20  joinkey  22053 non-null  object
dtypes: float64(20), object(1)
memory usage: 3.7+ MB

In [142]:
totals_and_advanced_df = totals_stats_df.merge(advanced_stats_df, on = 'joinkey', how = 'left')
totals_and_advanced_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,14.0,22.1,0.0,0.5,0.5,0.079,-3.4,-1.2,-4.6,-0.2
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,9.5,27.2,-0.7,-0.3,-1.0,-0.031,-2.0,-3.0,-5.0,-1.1
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,14.0,9.3,1.4,1.1,2.5,0.090,-2.8,-0.2,-3.0,-0.3
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,12.7,28.5,5.8,0.4,6.3,0.128,6.0,-0.7,5.3,4.3
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,10.9,25.7,2.8,2.7,5.5,0.132,1.2,0.2,1.4,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,10.0,21.9,3.3,1.5,4.8,0.161,1.3,0.2,1.5,1.3
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,0.0,10.2,0.1,0.0,0.1,0.357,-0.2,13.8,13.6,0.1
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,10.0,23.0,7.5,3.1,10.6,0.172,3.6,0.2,3.8,4.3
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,17.5,12.9,1.0,1.9,3.0,0.103,-1.2,2.1,0.9,1.0
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,6.6,20.5,0.6,0.5,1.1,0.119,0.4,0.0,0.4,0.3

In [143]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  int64
 8   FG           22048 non-null  float64
 9   FGA          22048 non-null  float64
 10  FG%          21934 non-null  float64
 11  3P           22048 non-null  float64
 12  3PA          22048 non-null  float64
 13  3P%          18518 non-null  float64
 14  2P           22048 non-null  float64
 15  2PA          22048 non-null  float64
 16  2P%          21857 non-null  float64
 17  FT           22048 non-null  float64
 18  FTA          22048 non-null  float64
 19  FT%          21033 non-null  float64
 20  ORB          22048 non-null  float64
 21  DRB          22048 non-null  float64
 22  TRB          22048 non-null  float64
 23  AST          22048 non-null  float64
 24  STL          22048 non-null  float64
 25  BLK          22048 non-null  float64
 26  TOV          22048 non-null  float64
 27  PF           22048 non-null  float64
 28  PTS          22048 non-null  float64
 29  ORtg         21984 non-null  float64
 30  DRtg         22048 non-null  float64
 31  Unnamed: 31  0 non-null      float64
dtypes: float64(25), int64(4), object(3)
memory usage: 5.6+ MB

In [144]:
per100pos_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP', 'Unnamed: 31']

In [145]:
per100pos_df = per100pos_df.rename(columns={"FG": "FGper100pos", "FGA": "FGAper100pos", "FG%": "FG%per100pos", 
                             "3P": "3Pper100pos", "3PA": "3PAper100pos", "3P%": "3P%per100pos",
                            "2P": "2Pper100pos", "2PA": "2PAper100pos", "2P%": "2P%per100pos",
                            "FT": "FTper100pos", "FTA": "FTAper100pos", "FT%": "FT%per100pos",
                            "ORB": "ORBper100pos", "DRB": "DRBper100pos", "TRB": "TRBper100pos",
                            "AST": "ASTper100pos", "STL": "STLper100pos", "BLK": "BLKper100pos",
                            "TOV": "TOVper100pos", "PF": "PFper100pos", "PTS": "PTSper100pos",
                            "ORtg": "ORtgper100pos", "DRtg": "DRtgper100pos"})

In [146]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Yr             22053 non-null  int64
 1   Player         22053 non-null  object
 2   Pos            22053 non-null  object
 3   Age            22053 non-null  int64
 4   Tm             22053 non-null  object
 5   G              22053 non-null  int64
 6   GS             22053 non-null  float64
 7   MP             22053 non-null  int64
 8   FGper100pos    22048 non-null  float64
 9   FGAper100pos   22048 non-null  float64
 10  FG%per100pos   21934 non-null  float64
 11  3Pper100pos    22048 non-null  float64
 12  3PAper100pos   22048 non-null  float64
 13  3P%per100pos   18518 non-null  float64
 14  2Pper100pos    22048 non-null  float64
 15  2PAper100pos   22048 non-null  float64
 16  2P%per100pos   21857 non-null  float64
 17  FTper100pos    22048 non-null  float64
 18  FTAper100pos   22048 non-null  float64
 19  FT%per100pos   21033 non-null  float64
 20  ORBper100pos   22048 non-null  float64
 21  DRBper100pos   22048 non-null  float64
 22  TRBper100pos   22048 non-null  float64
 23  ASTper100pos   22048 non-null  float64
 24  STLper100pos   22048 non-null  float64
 25  BLKper100pos   22048 non-null  float64
 26  TOVper100pos   22048 non-null  float64
 27  PFper100pos    22048 non-null  float64
 28  PTSper100pos   22048 non-null  float64
 29  ORtgper100pos  21984 non-null  float64
 30  DRtgper100pos  22048 non-null  float64
 31  Unnamed: 31    0 non-null      float64
dtypes: float64(25), int64(4), object(3)
memory usage: 5.6+ MB

In [147]:
per100pos_df['joinkey'] = per100pos_df['Player'] + per100pos_df['Yr'].astype(str) + per100pos_df['Tm'] + per100pos_df['Pos'] + per100pos_df['Age'].astype(str)

In [148]:
per100pos_df = per100pos_df.drop(per100pos_stats_remove_cols, axis = 1)

In [149]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FGper100pos    22048 non-null  float64
 1   FGAper100pos   22048 non-null  float64
 2   FG%per100pos   21934 non-null  float64
 3   3Pper100pos    22048 non-null  float64
 4   3PAper100pos   22048 non-null  float64
 5   3P%per100pos   18518 non-null  float64
 6   2Pper100pos    22048 non-null  float64
 7   2PAper100pos   22048 non-null  float64
 8   2P%per100pos   21857 non-null  float64
 9   FTper100pos    22048 non-null  float64
 10  FTAper100pos   22048 non-null  float64
 11  FT%per100pos   21033 non-null  float64
 12  ORBper100pos   22048 non-null  float64
 13  DRBper100pos   22048 non-null  float64
 14  TRBper100pos   22048 non-null  float64
 15  ASTper100pos   22048 non-null  float64
 16  STLper100pos   22048 non-null  float64
 17  BLKper100pos   22048 non-null  float64
 18  TOVper100pos   22048 non-null  float64
 19  PFper100pos    22048 non-null  float64
 20  PTSper100pos   22048 non-null  float64
 21  ORtgper100pos  21984 non-null  float64
 22  DRtgper100pos  22048 non-null  float64
 23  joinkey        22053 non-null  object
dtypes: float64(23), object(1)
memory usage: 4.2+ MB

In [150]:
totals_and_advanced_and_per100pos_df = totals_and_advanced_df.merge(per100pos_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRBper100pos,TRBper100pos,ASTper100pos,STLper100pos,BLKper100pos,TOVper100pos,PFper100pos,PTSper100pos,ORtgper100pos,DRtgper100pos
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,10.2,14.7,2.0,0.7,2.0,3.6,6.4,22.2,99.0,103.0
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,2.4,3.4,5.8,1.5,0.1,3.1,4.2,26.4,96.0,118.0
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,8.0,13.2,0.9,0.9,0.9,1.5,8.0,10.5,116.0,109.0
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,3.6,4.6,12.5,2.6,0.1,4.3,2.9,31.5,113.0,115.0
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,6.2,9.7,3.6,1.2,0.5,3.3,5.4,28.7,109.0,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,4.8,6.5,3.4,1.4,1.6,2.6,5.6,27.6,118.0,108.0
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,9.4,9.4,6.3,9.4,0.0,0.0,9.4,18.8,175.0,94.0
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,5.4,8.0,4.8,1.7,0.8,2.7,3.2,28.4,119.0,108.0
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,3.1,4.1,7.8,2.8,0.1,2.7,2.8,12.9,109.0,105.0
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,5.3,9.1,2.5,2.6,0.3,1.6,5.0,23.1,111.0,107.0

In [151]:
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      22053 non-null  int64
 1   Player  22053 non-null  object
 2   Pos     22053 non-null  object
 3   Age     22053 non-null  int64
 4   Tm      22053 non-null  object
 5   G       22053 non-null  int64
 6   GS      22053 non-null  float64
 7   MP      22053 non-null  int64
 8   FG      22048 non-null  float64
 9   FGA     22048 non-null  float64
 10  FG%     21934 non-null  float64
 11  3P      22048 non-null  float64
 12  3PA     22048 non-null  float64
 13  3P%     18518 non-null  float64
 14  2P      22048 non-null  float64
 15  2PA     22048 non-null  float64
 16  2P%     21857 non-null  float64
 17  FT      22048 non-null  float64
 18  FTA     22048 non-null  float64
 19  FT%     21033 non-null  float64
 20  ORB     22048 non-null  float64
 21  DRB     22048 non-null  float64
 22  TRB     22048 non-null  float64
 23  AST     22048 non-null  float64
 24  STL     22048 non-null  float64
 25  BLK     22048 non-null  float64
 26  TOV     22048 non-null  float64
 27  PF      22048 non-null  float64
 28  PTS     22048 non-null  float64
dtypes: float64(22), int64(4), object(3)
memory usage: 5.0+ MB

In [152]:
per36min_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP']

In [153]:
per36min_df = per36min_df.rename(columns={"FG": "FGper36min", "FGA": "FGAper36min", "FG%": "FG%per36min", 
                             "3P": "3Pper36min", "3PA": "3PAper36min", "3P%": "3P%per36min",
                            "2P": "2Pper36min", "2PA": "2PAper36min", "2P%": "2P%per36min",
                            "FT": "FTper36min", "FTA": "FTAper36min", "FT%": "FT%per36min",
                            "ORB": "ORBper36min", "DRB": "DRBper36min", "TRB": "TRBper36min",
                            "AST": "ASTper36min", "STL": "STLper36min", "BLK": "BLKper36min",
                            "TOV": "TOVper36min", "PF": "PFper36min", "PTS": "PTSper36min"})

In [154]:
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  int64
 8   FGper36min   22048 non-null  float64
 9   FGAper36min  22048 non-null  float64
 10  FG%per36min  21934 non-null  float64
 11  3Pper36min   22048 non-null  float64
 12  3PAper36min  22048 non-null  float64
 13  3P%per36min  18518 non-null  float64
 14  2Pper36min   22048 non-null  float64
 15  2PAper36min  22048 non-null  float64
 16  2P%per36min  21857 non-null  float64
 17  FTper36min   22048 non-null  float64
 18  FTAper36min  22048 non-null  float64
 19  FT%per36min  21033 non-null  float64
 20  ORBper36min  22048 non-null  float64
 21  DRBper36min  22048 non-null  float64
 22  TRBper36min  22048 non-null  float64
 23  ASTper36min  22048 non-null  float64
 24  STLper36min  22048 non-null  float64
 25  BLKper36min  22048 non-null  float64
 26  TOVper36min  22048 non-null  float64
 27  PFper36min   22048 non-null  float64
 28  PTSper36min  22048 non-null  float64
dtypes: float64(22), int64(4), object(3)
memory usage: 5.0+ MB

In [155]:
per36min_df['joinkey'] = per36min_df['Player'] + per36min_df['Yr'].astype(str) + per36min_df['Tm'] + per36min_df['Pos'] + per36min_df['Age'].astype(str)

In [156]:
per36min_df = per36min_df.drop(per36min_stats_remove_cols, axis = 1)
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FGper36min   22048 non-null  float64
 1   FGAper36min  22048 non-null  float64
 2   FG%per36min  21934 non-null  float64
 3   3Pper36min   22048 non-null  float64
 4   3PAper36min  22048 non-null  float64
 5   3P%per36min  18518 non-null  float64
 6   2Pper36min   22048 non-null  float64
 7   2PAper36min  22048 non-null  float64
 8   2P%per36min  21857 non-null  float64
 9   FTper36min   22048 non-null  float64
 10  FTAper36min  22048 non-null  float64
 11  FT%per36min  21033 non-null  float64
 12  ORBper36min  22048 non-null  float64
 13  DRBper36min  22048 non-null  float64
 14  TRBper36min  22048 non-null  float64
 15  ASTper36min  22048 non-null  float64
 16  STLper36min  22048 non-null  float64
 17  BLKper36min  22048 non-null  float64
 18  TOVper36min  22048 non-null  float64
 19  PFper36min   22048 non-null  float64
 20  PTSper36min  22048 non-null  float64
 21  joinkey      22053 non-null  object
dtypes: float64(21), object(1)
memory usage: 3.9+ MB

In [157]:
totals_and_advanced_and_per100pos_and_per36min_df = totals_and_advanced_and_per100pos_df.merge(per36min_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%per36min,ORBper36min,DRBper36min,TRBper36min,ASTper36min,STLper36min,BLKper36min,TOVper36min,PFper36min,PTSper36min
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,3.4,7.7,11.0,1.5,0.5,1.5,2.7,4.8,16.8
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,0.8,2.1,2.9,4.9,1.3,0.1,2.6,3.6,22.5
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,3.8,6.0,9.8,0.7,0.7,0.7,1.2,6.0,7.8
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,0.9,3.0,3.9,10.6,2.3,0.1,3.7,2.5,26.9
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,2.4,4.3,6.7,2.5,0.8,0.4,2.3,3.8,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,1.2,3.4,4.7,2.4,1.0,1.2,1.8,4.1,20.0
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0.0,6.8,6.8,4.5,6.8,0.0,0.0,6.8,13.5
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,1.9,3.9,5.8,3.5,1.2,0.6,1.9,2.3,20.5
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,0.7,2.4,3.2,6.0,2.1,0.1,2.1,2.2,9.9
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,2.8,3.9,6.7,1.9,2.0,0.2,1.2,3.7,17.2

In [158]:
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      22053 non-null  int64
 1   Player  22053 non-null  object
 2   Pos     22053 non-null  object
 3   Age     22053 non-null  int64
 4   Tm      22053 non-null  object
 5   G       22053 non-null  int64
 6   GS      22053 non-null  float64
 7   MP      22053 non-null  float64
 8   FG      22053 non-null  float64
 9   FGA     22053 non-null  float64
 10  FG%     21934 non-null  float64
 11  3P      22053 non-null  float64
 12  3PA     22053 non-null  float64
 13  3P%     18518 non-null  float64
 14  2P      22053 non-null  float64
 15  2PA     22053 non-null  float64
 16  2P%     21857 non-null  float64
 17  eFG%    21934 non-null  float64
 18  FT      22053 non-null  float64
 19  FTA     22053 non-null  float64
 20  FT%     21033 non-null  float64
 21  ORB     22053 non-null  float64
 22  DRB     22053 non-null  float64
 23  TRB     22053 non-null  float64
 24  AST     22053 non-null  float64
 25  STL     22053 non-null  float64
 26  BLK     22053 non-null  float64
 27  TOV     22053 non-null  float64
 28  PF      22053 non-null  float64
 29  PTS     22053 non-null  float64
dtypes: float64(24), int64(3), object(3)
memory usage: 5.2+ MB

In [159]:
pergame_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP']

In [160]:
pergame_df = pergame_df.rename(columns={"FG": "FGpergame", "FGA": "FGApergame", "FG%": "FG%pergame", 
                             "3P": "3Ppergame", "3PA": "3PApergame", "3P%": "3P%pergame",
                            "2P": "2Ppergame", "2PA": "2PApergame", "2P%": "2P%pergame", "eFG%": "eFG%pergame",
                            "FT": "FTpergame", "FTA": "FTApergame", "FT%": "FT%pergame",
                            "ORB": "ORBpergame", "DRB": "DRBpergame", "TRB": "TRBpergame",
                            "AST": "ASTpergame", "STL": "STLpergame", "BLK": "BLKpergame",
                            "TOV": "TOVpergame", "PF": "PFpergame", "PTS": "PTSpergame"})

In [161]:
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  float64
 8   FGpergame    22053 non-null  float64
 9   FGApergame   22053 non-null  float64
 10  FG%pergame   21934 non-null  float64
 11  3Ppergame    22053 non-null  float64
 12  3PApergame   22053 non-null  float64
 13  3P%pergame   18518 non-null  float64
 14  2Ppergame    22053 non-null  float64
 15  2PApergame   22053 non-null  float64
 16  2P%pergame   21857 non-null  float64
 17  eFG%pergame  21934 non-null  float64
 18  FTpergame    22053 non-null  float64
 19  FTApergame   22053 non-null  float64
 20  FT%pergame   21033 non-null  float64
 21  ORBpergame   22053 non-null  float64
 22  DRBpergame   22053 non-null  float64
 23  TRBpergame   22053 non-null  float64
 24  ASTpergame   22053 non-null  float64
 25  STLpergame   22053 non-null  float64
 26  BLKpergame   22053 non-null  float64
 27  TOVpergame   22053 non-null  float64
 28  PFpergame    22053 non-null  float64
 29  PTSpergame   22053 non-null  float64
dtypes: float64(24), int64(3), object(3)
memory usage: 5.2+ MB

In [162]:
pergame_df['joinkey'] = pergame_df['Player'] + pergame_df['Yr'].astype(str) + pergame_df['Tm'] + pergame_df['Pos'] + pergame_df['Age'].astype(str)

In [163]:
pergame_df = pergame_df.drop(pergame_stats_remove_cols, axis = 1)
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FGpergame    22053 non-null  float64
 1   FGApergame   22053 non-null  float64
 2   FG%pergame   21934 non-null  float64
 3   3Ppergame    22053 non-null  float64
 4   3PApergame   22053 non-null  float64
 5   3P%pergame   18518 non-null  float64
 6   2Ppergame    22053 non-null  float64
 7   2PApergame   22053 non-null  float64
 8   2P%pergame   21857 non-null  float64
 9   eFG%pergame  21934 non-null  float64
 10  FTpergame    22053 non-null  float64
 11  FTApergame   22053 non-null  float64
 12  FT%pergame   21033 non-null  float64
 13  ORBpergame   22053 non-null  float64
 14  DRBpergame   22053 non-null  float64
 15  TRBpergame   22053 non-null  float64
 16  ASTpergame   22053 non-null  float64
 17  STLpergame   22053 non-null  float64
 18  BLKpergame   22053 non-null  float64
 19  TOVpergame   22053 non-null  float64
 20  PFpergame    22053 non-null  float64
 21  PTSpergame   22053 non-null  float64
 22  joinkey      22053 non-null  object
dtypes: float64(22), object(1)
memory usage: 4.0+ MB

In [164]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df = totals_and_advanced_and_per100pos_and_per36min_df.merge(pergame_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%pergame,ORBpergame,DRBpergame,TRBpergame,ASTpergame,STLpergame,BLKpergame,TOVpergame,PFpergame,PTSpergame
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,0.8,2.2,3.0,1.5,0.6,0.7,1.2,2.6,12.7
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0.0,0.5,0.5,0.3,0.5,0.0,0.0,0.5,1.0
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,2.0,4.0,6.0,3.6,1.2,0.6,2.0,2.4,21.1
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,0.4,1.1,1.5,2.8,1.0,0.0,1.0,1.0,4.7
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,0.8,1.1,1.9,0.5,0.6,0.1,0.3,1.0,4.9

In [165]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156 entries, 0 to 1223
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1156 non-null   int64
 1   Team           1156 non-null   object
 2   W              1156 non-null   int64
 3   L              1156 non-null   int64
 4   W/L%           1156 non-null   float64
 5   GB             1156 non-null   object
 6   PS/G           1156 non-null   float64
 7   PA/G           1156 non-null   float64
 8   SRS            1156 non-null   float64
 9   Playoffs       1156 non-null   object
 10  Losing_season  1156 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 108.4+ KB

In [166]:
teams_list = list(teams_df['Team'].unique())
teams_list

['Boston Celtics',
 'Philadelphia 76ers',
 'New York Knicks',
 'Washington Bullets',
 'New Jersey Nets',
 'Miami Heat',
 'Chicago Bulls',
 'Detroit Pistons',
 'Milwaukee Bucks',
 'Atlanta Hawks',
 'Indiana Pacers',
 'Cleveland Cavaliers',
 'Charlotte Hornets',
 'San Antonio Spurs',
 'Utah Jazz',
 'Houston Rockets',
 'Orlando Magic',
 'Minnesota Timberwolves',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Portland Trail Blazers',
 'Los Angeles Lakers',
 'Phoenix Suns',
 'Golden State Warriors',
 'Seattle SuperSonics',
 'Los Angeles Clippers',
 'Sacramento Kings',
 'Toronto Raptors',
 'Vancouver Grizzlies',
 'Washington Wizards',
 'Memphis Grizzlies',
 'New Orleans Hornets',
 'Charlotte Bobcats',
 'New Orleans/Oklahoma City Hornets',
 'Oklahoma City Thunder',
 'Brooklyn Nets',
 'New Orleans Pelicans',
 'Milwaukee Bucks\xa0(1)\xa0',
 'Boston Celtics\xa0(2)\xa0',
 'Philadelphia 76ers\xa0(3)\xa0',
 'Cleveland Cavaliers\xa0(4)\xa0',
 'New York Knicks\xa0(5)\xa0',
 'Brooklyn Nets\xa0(6)\xa0',
 'Miami Heat\xa0(7)\xa0',
 'Atlanta Hawks\xa0(8)\xa0',
 'Toronto Raptors\xa0(9)\xa0',
 'Chicago Bulls\xa0(10)\xa0',
 'Indiana Pacers\xa0(11)\xa0',
 'Washington Wizards\xa0(12)\xa0',
 'Orlando Magic\xa0(13)\xa0',
 'Charlotte Hornets\xa0(14)\xa0',
 'Detroit Pistons\xa0(15)\xa0',
 'Denver Nuggets\xa0(1)\xa0',
 'Memphis Grizzlies\xa0(2)\xa0',
 'Sacramento Kings\xa0(3)\xa0',
 'Phoenix Suns\xa0(4)\xa0',
 'Los Angeles Clippers\xa0(5)\xa0',
 'Golden State Warriors\xa0(6)\xa0',
 'Los Angeles Lakers\xa0(7)\xa0',
 'Minnesota Timberwolves\xa0(8)\xa0',
 'New Orleans Pelicans\xa0(9)\xa0',
 'Oklahoma City Thunder\xa0(10)\xa0',
 'Dallas Mavericks\xa0(11)\xa0',
 'Utah Jazz\xa0(12)\xa0',
 'Portland Trail Blazers\xa0(13)\xa0',
 'Houston Rockets\xa0(14)\xa0',
 'San Antonio Spurs\xa0(15)\xa0',
 'Kansas City Kings',
 'San Diego Clippers']

In [167]:
teams_df[teams_df['Team'] == 'Charlotte Hornets']

,Year,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
12,1991,Charlotte Hornets,26,56,0.317,35.0,102.8,108.0,-4.95,N,Y
40,1992,Charlotte Hornets,31,51,0.378,36.0,109.5,113.4,-3.57,N,Y
63,1993,Charlotte Hornets,44,38,0.537,13.0,110.1,110.4,-0.02,Y,N
92,1994,Charlotte Hornets,41,41,0.500,16.0,106.5,106.7,-0.23,N,N
116,1995,Charlotte Hornets,50,32,0.610,2.0,100.6,97.3,2.87,Y,N
147,1996,Charlotte Hornets,41,41,0.500,31.0,102.8,103.4,-0.48,N,N
174,1997,Charlotte Hornets,54,28,0.659,15.0,98.9,97.0,2.13,Y,N
202,1998,Charlotte Hornets,51,31,0.622,11.0,96.6,94.6,2.45,Y,N
233,1999,Charlotte Hornets,26,24,0.520,7.0,92.9,93.0,0.63,N,N
259,2000,Charlotte Hornets,49,33,0.598,7.0,98.4,95.8,2.33,Y,N
289,2001,Charlotte Hornets,46,36,0.561,6.0,91.9,89.8,1.45,Y,N
317,2002,Charlotte Hornets,44,38,0.537,6.0,93.9,92.9,0.57,Y,N
709,2015,Charlotte Hornets,33,49,0.402,27.0,94.2,97.3,-3.44,N,Y
731,2016,Charlotte Hornets,48,34,0.585,9.0,103.4,100.7,2.36,Y,N
766,2017,Charlotte Hornets,36,46,0.439,17.0,104.9,104.7,-0.07,N,Y
795,2018,Charlotte Hornets,36,46,0.439,23.0,108.2,108.0,0.07,N,Y
824,2019,Charlotte Hornets,39,43,0.476,21.0,110.7,111.8,-1.32,N,Y
854,2020,Charlotte Hornets,23,42,0.354,29.0,102.9,109.6,-7.03,N,Y
885,2021,Charlotte Hornets,33,39,0.458,16.0,109.5,111.4,-1.94,N,Y
915,2022,Charlotte Hornets,43,39,0.524,10.0,115.3,114.9,0.53,N,N
1177,1989,Charlotte Hornets,20,62,0.244,32.0,104.5,113.0,-7.74,N,Y
1216,1990,Charlotte Hornets,19,63,0.232,37.0,100.4,108.2,-7.00,N,Y

In [168]:
stats_teams = list(totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique())
stats_teams

['POR',
 'DEN',
 'ORL',
 'DET',
 'WSB',
 'DAL',
 'TOT',
 'MIL',
 'NJN',
 'PHI',
 'SAS',
 'CHI',
 'GSW',
 'MIA',
 'CLE',
 'UTA',
 'LAC',
 'SEA',
 'ATL',
 'PHO',
 'BOS',
 'CHH',
 'SAC',
 'MIN',
 'LAL',
 'HOU',
 'NYK',
 'IND',
 'VAN',
 'TOR',
 'WAS',
 'MEM',
 'NOH',
 'CHA',
 'NOK',
 'OKC',
 'BRK',
 'NOP',
 'CHO',
 'SDC',
 'KCK']

In [169]:
team_mappings= {'Boston Celtics':'BOS', 'Philadelphia 76ers':'PHI', 'New York Knicks':'NYK', 'Washington Bullets':'WSB',
'New Jersey Nets':'NJN', 'Miami Heat':'MIA', 'Chicago Bulls':'CHI', 'Detroit Pistons':'DET', 'Milwaukee Bucks':'MIL',
'Atlanta Hawks':'ATL', 'Indiana Pacers':'IND', 'Cleveland Cavaliers':'CLE', 'Charlotte Hornets':'CHA', 'San Antonio Spurs':'SAS',
'Utah Jazz':'UTA', 'Houston Rockets':'HOU', 'Orlando Magic':'ORL', 'Minnesota Timberwolves':'MIN', 'Dallas Mavericks':'DAL',
'Denver Nuggets':'DEN', 'Portland Trail Blazers':'POR', 'Los Angeles Lakers':'LAL', 'Phoenix Suns':'PHO', 'Golden State Warriors':'GSW',
'Seattle SuperSonics':'SEA', 'Los Angeles Clippers':'LAC', 'Sacramento Kings':'SAC', 'Toronto Raptors':'TOR', 'Vancouver Grizzlies':'VAN',
'Washington Wizards':'WAS', 'Memphis Grizzlies':'MEM', 'New Orleans Hornets':'NOH', 'Charlotte Bobcats':'CHA', 'New Orleans/Oklahoma City Hornets':'NOK',
'Oklahoma City Thunder':'OKC', 'Brooklyn Nets':'BRK', 'New Orleans Pelicans':'NOP', 'Milwaukee Bucks\xa0(1)\xa0':'MIL', 'Boston Celtics\xa0(2)\xa0':'BOS',
'Philadelphia 76ers\xa0(3)\xa0':'PHI', 'Cleveland Cavaliers\xa0(4)\xa0':'CLE', 'New York Knicks\xa0(5)\xa0':'NYK', 'Brooklyn Nets\xa0(6)\xa0':'BRK',
'Miami Heat\xa0(7)\xa0':'MIA', 'Atlanta Hawks\xa0(8)\xa0':'ATL', 'Toronto Raptors\xa0(9)\xa0':'TOR', 'Chicago Bulls\xa0(10)\xa0':'CHI',
'Indiana Pacers\xa0(11)\xa0':'IND', 'Washington Wizards\xa0(12)\xa0':'WAS', 'Orlando Magic\xa0(13)\xa0':'ORL', 'Charlotte Hornets\xa0(14)\xa0':'CHA',
'Detroit Pistons\xa0(15)\xa0':'DET', 'Denver Nuggets\xa0(1)\xa0':'DEN', 'Memphis Grizzlies\xa0(2)\xa0':'MEM', 'Sacramento Kings\xa0(3)\xa0':'SAC',
'Phoenix Suns\xa0(4)\xa0':'PHO', 'Los Angeles Clippers\xa0(5)\xa0':'LAC', 'Golden State Warriors\xa0(6)\xa0':'GSW', 'Los Angeles Lakers\xa0(7)\xa0':'LAL',
'Minnesota Timberwolves\xa0(8)\xa0':'MIN', 'New Orleans Pelicans\xa0(9)\xa0':'NOP', 'Oklahoma City Thunder\xa0(10)\xa0':'OKC',
'Dallas Mavericks\xa0(11)\xa0':'DAL', 'Utah Jazz\xa0(12)\xa0':'UTA', 'Portland Trail Blazers\xa0(13)\xa0':'POR', 'Houston Rockets\xa0(14)\xa0':'HOU',
'San Antonio Spurs\xa0(15)\xa0':'SAS', 'Kansas City Kings':'KCK', 'San Diego Clippers':'SDC'}

In [170]:
teams_df['Team'].map(team_mappings).unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOK', 'OKC', 'BRK', 'NOP',
       'KCK', 'SDC'], dtype=object)

In [171]:
teams_df['Team'] = teams_df['Team'].map(team_mappings)
teams_df['Team'].unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOK', 'OKC', 'BRK', 'NOP',
       'KCK', 'SDC'], dtype=object)

In [172]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique()

array(['POR', 'DEN', 'ORL', 'DET', 'WSB', 'DAL', 'TOT', 'MIL', 'NJN',
       'PHI', 'SAS', 'CHI', 'GSW', 'MIA', 'CLE', 'UTA', 'LAC', 'SEA',
       'ATL', 'PHO', 'BOS', 'CHH', 'SAC', 'MIN', 'LAL', 'HOU', 'NYK',
       'IND', 'VAN', 'TOR', 'WAS', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC',
       'BRK', 'NOP', 'CHO', 'SDC', 'KCK'], dtype=object)

In [173]:
extra_mappings = {'NOK':'NOP', 'CHO':'CHA', 'CHH':'CHA', 'POR':'POR', 'DEN':'DEN', 'ORL':'ORL', 
                  'DET':'DET', 'WSB':'WSB', 'DAL':'DAL', 'TOT':'TOT', 'MIL':'MIL', 'NJN':'NJN',
       'PHI':'PHI', 'SAS':'SAS', 'CHI':'CHI', 'GSW':'GSW', 'MIA':'MIA', 'CLE':'CLE', 'UTA':'UTA', 'LAC':'LAC', 'SEA':'SEA',
       'ATL':'ATL', 'PHO':'PHO', 'BOS':'BOS', 'SAC':'SAC', 'MIN':'MIN', 'LAL':'LAL', 'HOU':'HOU', 'NYK':'NYK',
       'IND':'IND', 'VAN':'VAN', 'TOR':'TOR', 'WAS':'WAS', 'MEM':'MEM', 'NOH':'NOH', 'CHA':'CHA', 'OKC':'OKC',
       'BRK':'BRK', 'NOP':'NOP', 'SDC':'SDC', 'KCK':'KCK'}

In [174]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].map(extra_mappings)

In [175]:
teams_df['Team'] = teams_df['Team'].map(extra_mappings)
teams_df['Team'].unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOP', 'OKC', 'BRK', 'KCK',
       'SDC'], dtype=object)

In [176]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique()

array(['POR', 'DEN', 'ORL', 'DET', 'WSB', 'DAL', 'TOT', 'MIL', 'NJN',
       'PHI', 'SAS', 'CHI', 'GSW', 'MIA', 'CLE', 'UTA', 'LAC', 'SEA',
       'ATL', 'PHO', 'BOS', 'CHA', 'SAC', 'MIN', 'LAL', 'HOU', 'NYK',
       'IND', 'VAN', 'TOR', 'WAS', 'MEM', 'NOH', 'NOP', 'OKC', 'BRK',
       'SDC', 'KCK'], dtype=object)

In [177]:
teams_df['joinkey2'] = teams_df['Year'].astype(str) + teams_df['Team']
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156 entries, 0 to 1223
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1156 non-null   int64
 1   Team           1156 non-null   object
 2   W              1156 non-null   int64
 3   L              1156 non-null   int64
 4   W/L%           1156 non-null   float64
 5   GB             1156 non-null   object
 6   PS/G           1156 non-null   float64
 7   PA/G           1156 non-null   float64
 8   SRS            1156 non-null   float64
 9   Playoffs       1156 non-null   object
 10  Losing_season  1156 non-null   object
 11  joinkey2       1156 non-null   object
dtypes: float64(4), int64(3), object(5)
memory usage: 117.4+ KB

In [178]:
teams_df['joinkey2']

0       1991BOS
1       1991PHI
2       1991NYK
3       1991WSB
4       1991NJN
         ...
1219    1990PHO
1220    1990SEA
1221    1990GSW
1222    1990LAC
1223    1990SAC
Name: joinkey2, Length: 1156, dtype: object

In [179]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['joinkey2'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Yr'].astype(str) + totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm']
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 22052
Columns: 118 entries, Yr to joinkey2
dtypes: float64(92), int64(21), object(5)
memory usage: 20.0+ MB

In [180]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df.merge(teams_df, on = 'joinkey2', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,POR,63.0,19.0,0.768,—,114.7,106.0,8.47,Y,N
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,ORL,31.0,51.0,0.378,24.0,105.9,109.9,-3.79,N,Y
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,DET,50.0,32.0,0.610,11.0,100.1,96.8,3.08,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,LAL,63.0,19.0,0.768,—,110.7,103.9,6.74,Y,N
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,ATL,41.0,41.0,0.500,18.0,108.5,107.5,0.64,N,N
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,LAL,63.0,19.0,0.768,—,110.7,103.9,6.74,Y,N
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,POR,59.0,23.0,0.720,4.0,114.2,107.9,6.48,Y,N
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,LAC,30.0,52.0,0.366,33.0,103.8,107.2,-2.80,N,Y

In [181]:
nulls = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df[totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Losing_season'].isnull() == True]

In [182]:
len(nulls['Tm'])

1996

In [183]:
'remove Tm = TOT because they are totals rows'

'remove Tm = TOT because they are totals rows'

In [184]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df[totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Tm'] != 'TOT']

In [185]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,POR,63.0,19.0,0.768,—,114.7,106.0,8.47,Y,N
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,ORL,31.0,51.0,0.378,24.0,105.9,109.9,-3.79,N,Y
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,DET,50.0,32.0,0.610,11.0,100.1,96.8,3.08,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,LAL,63.0,19.0,0.768,—,110.7,103.9,6.74,Y,N
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,ATL,41.0,41.0,0.500,18.0,108.5,107.5,0.64,N,N
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,LAL,63.0,19.0,0.768,—,110.7,103.9,6.74,Y,N
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,POR,59.0,23.0,0.720,4.0,114.2,107.9,6.48,Y,N
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,LAC,30.0,52.0,0.366,33.0,103.8,107.2,-2.80,N,Y

In [186]:
mvps_df['Tm'] = mvps_df['Tm'].map(extra_mappings)
mvps_df['Tm'].unique()

array(['CHI', 'LAL', 'SAS', 'PHI', 'UTA', 'POR', 'PHO', 'ATL', 'BOS',
       'NYK', 'DET', 'WSB', 'HOU', 'GSW', 'CLE', 'LAC', 'IND', 'ORL',
       'SEA', 'TOT', 'DAL', 'MIA', 'SAC', 'CHA', 'MIN', 'WAS', 'TOR',
       'MIL', 'NJN', 'NOH', 'DEN', 'OKC', 'MEM', 'NOP', 'BRK', 'SDC',
       'KCK'], dtype=object)

In [187]:
mvps_df = mvps_df[mvps_df['Tm'] != 'TOT']
mvps_df

,Yr,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1991,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,...,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321
1,1991,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,...,19.4,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251
2,1991,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,...,25.6,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264
3,1991,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,...,27.6,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258
4,1991,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,...,29.0,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,1990,10,Larry Bird,33,BOS,0.0,5.0,920,0.005,75,...,24.3,9.5,7.5,1.4,0.8,0.473,0.333,0.930,9.5,0.154
706,1990,11,Buck Williams,29,POR,0.0,5.0,920,0.005,82,...,13.6,9.8,1.4,0.8,0.5,0.548,0.000,0.706,8.7,0.149
707,1990,12,Clyde Drexler,27,POR,0.0,3.0,920,0.003,73,...,23.3,6.9,5.9,2.0,0.7,0.494,0.283,0.774,11.6,0.208
708,1990,13,Joe Dumars,26,DET,0.0,1.0,920,0.001,75,...,17.8,2.8,4.9,0.8,0.0,0.480,0.400,0.900,8.7,0.162
709,1990,14,Isiah Thomas,28,DET,0.0,1.0,920,0.001,81,...,18.4,3.8,9.4,1.7,0.2,0.438,0.309,0.775,6.7,0.107

In [188]:
mvps_df['Player'] = mvps_df['Player'].str.replace('[^\w\s]', '')

In [189]:
mvps_df['joinkey3'] = mvps_df['Player'] + mvps_df['Yr'].astype(str) + mvps_df['Tm'] + mvps_df['Age'].astype(str)

In [190]:
mvps_df['joinkey3'].unique()

array(['Michael Jordan1991CHI27', 'Magic Johnson1991LAL31',
       'David Robinson1991SAS25', 'Charles Barkley1991PHI27',
       'Karl Malone1991UTA27', 'Clyde Drexler1991POR28',
       'Kevin Johnson1991PHO24', 'Dominique Wilkins1991ATL31',
       'Larry Bird1991BOS34', 'Terry Porter1991POR27',
       'Patrick Ewing1991NYK28', 'John Stockton1991UTA28',
       'Isiah Thomas1991DET29', 'Robert Parish1991BOS37',
       'Joe Dumars1991DET27', 'Bernard King1991WSB34',
       'Kenny Smith1991HOU25', 'Hakeem Olajuwon1991HOU28',
       'Tim Hardaway1991GSW24', 'Kevin McHale1991BOS33',
       'Michael Jordan1992CHI28', 'Clyde Drexler1992POR29',
       'David Robinson1992SAS26', 'Karl Malone1992UTA28',
       'Patrick Ewing1992NYK29', 'Chris Mullin1992GSW28',
       'Mark Price1992CLE27', 'Tim Hardaway1992GSW25',
       'Scottie Pippen1992CHI26', 'Dennis Rodman1992DET30',
       'Brad Daugherty1992CLE26', 'Charles Barkley1992PHI28',
       'John Stockton1992UTA29', 'Larry Bird1992BOS35',
       'Kevin Johnson1992PHO25', 'Danny Manning1992LAC25',
       'Detlef Schrempf1992IND29', 'Charles Barkley1993PHO29',
       'Hakeem Olajuwon1993HOU30', 'Michael Jordan1993CHI29',
       'Patrick Ewing1993NYK30', 'Dominique Wilkins1993ATL33',
       'David Robinson1993SAS27', 'Shaquille ONeal1993ORL20',
       'Karl Malone1993UTA29', 'Mark Price1993CLE28',
       'Brad Daugherty1993CLE27', 'Clyde Drexler1993POR30',
       'Joe Dumars1993DET29', 'Shawn Kemp1993SEA23',
       'John Stockton1993UTA30', 'Hakeem Olajuwon1994HOU31',
       'David Robinson1994SAS28', 'Scottie Pippen1994CHI28',
       'Shaquille ONeal1994ORL21', 'Patrick Ewing1994NYK31',
       'Gary Payton1994SEA25', 'Shawn Kemp1994SEA24',
       'Karl Malone1994UTA30', 'Mark Price1994CLE29',
       'Charles Barkley1994PHO30', 'Mookie Blaylock1994ATL26',
       'Kevin Johnson1994PHO27', 'Dennis Rodman1994SAS32',
       'Latrell Sprewell1994GSW23', 'John Stockton1994UTA31',
       'Kevin Willis1994ATL31', 'David Robinson1995SAS29',
       'Shaquille ONeal1995ORL22', 'Karl Malone1995UTA31',
       'Patrick Ewing1995NYK32', 'Hakeem Olajuwon1995HOU32',
       'Charles Barkley1995PHO31', 'Scottie Pippen1995CHI29',
       'John Stockton1995UTA32', 'Gary Payton1995SEA26',
       'Anfernee Hardaway1995ORL23', 'Michael Jordan1995CHI31',
       'Dennis Rodman1995SAS33', 'Jason Kidd1995DAL21',
       'Cedric Ceballos1995LAL25', 'Michael Jordan1996CHI32',
       'David Robinson1996SAS30', 'Anfernee Hardaway1996ORL24',
       'Hakeem Olajuwon1996HOU33', 'Scottie Pippen1996CHI30',
       'Gary Payton1996SEA27', 'Karl Malone1996UTA32',
       'Shawn Kemp1996SEA26', 'Grant Hill1996DET23',
       'Shaquille ONeal1996ORL23', 'John Stockton1996UTA33',
       'Charles Barkley1996PHO32', 'Magic Johnson1996LAL36',
       'Alonzo Mourning1996MIA25', 'Dennis Rodman1996CHI34',
       'Terrell Brandon1996CLE25', 'Mitch Richmond1996SAC30',
       'Karl Malone1997UTA33', 'Michael Jordan1997CHI33',
       'Grant Hill1997DET24', 'Tim Hardaway1997MIA30',
       'Glen Rice1997CHA29', 'Gary Payton1997SEA28',
       'Hakeem Olajuwon1997HOU34', 'Patrick Ewing1997NYK34',
       'Anthony Mason1997CHA30', 'Shaquille ONeal1997LAL24',
       'Scottie Pippen1997CHI31', 'Alonzo Mourning1997MIA26',
       'Dikembe Mutombo1997ATL30', 'Mitch Richmond1997SAC31',
       'John Stockton1997UTA34', 'Charles Barkley1997HOU33',
       'Tom Gugliotta1997MIN27', 'Allen Iverson1997PHI21',
       'Kevin Johnson1997PHO30', 'Steve Smith1997ATL27',
       'Michael Jordan1998CHI34', 'Karl Malone1998UTA34',
       'Gary Payton1998SEA29', 'Shaquille ONeal1998LAL25',
       'Tim Duncan1998SAS21', 'Tim Hardaway1998MIA31',
       'David Robinson1998SAS32', 'Vin Baker1998SEA26',
       'Grant Hill1998DET25', 'Scottie Pippen1998CHI32',
       'Glen Rice1998CHA30', 'Antoine Walker1998BOS21',
       'Jason Kidd1998PHO24', 'John Stockton1998UTA35',
       'Mitch Richmond1998SAC32', 'Reggie Miller1998IND32',
       'Rik Smits1998IND31', 'Michael Finley1998DAL24',
       'Rod Strickland1998WAS31', 'Karl Malone1999UTA35',
       'Alonzo Mourning1999MIA28', 'Tim Duncan1999SAS22',
       'Allen Iverson1999PHI23', 'Jason Kidd1999PHO25',
       'Shaquille ONeal1999LAL26', 'Chris Webber1999SAC25',
       'Grant Hill1999DET26', 'Gary Payton1999SEA30',
       'Kevin Garnett1999MIN22', 'Shawn Kemp1999CLE29',
       'David Robinson1999SAS33', 'Hakeem Olajuwon1999HOU36',
       'Arvydas Sabonis1999POR34', 'Darrell Armstrong1999ORL30',
       'Vince Carter1999TOR22', 'Anfernee Hardaway1999ORL27',
       'Mark Jackson1999IND33', 'Glenn Robinson1999MIL26',
       'Steve Smith1999ATL29', 'Rasheed Wallace1999POR24',
       'Shaquille ONeal2000LAL27', 'Kevin Garnett2000MIN23',
       'Alonzo Mourning2000MIA29', 'Karl Malone2000UTA36',
       'Tim Duncan2000SAS23', 'Gary Payton2000SEA31',
       'Allen Iverson2000PHI24', 'Grant Hill2000DET27',
       'Chris Webber2000SAC26', 'Vince Carter2000TOR23',
       'Jason Kidd2000PHO26', 'Kobe Bryant2000LAL21',
       'Darrell Armstrong2000ORL31', 'Michael Finley2000DAL26',
       'Reggie Miller2000IND34', 'Jalen Rose2000IND27',
       'Allen Iverson2001PHI25', 'Tim Duncan2001SAS24',
       'Shaquille ONeal2001LAL28', 'Chris Webber2001SAC27',
       'Kevin Garnett2001MIN24', 'Tracy McGrady2001ORL21',
       'Karl Malone2001UTA37', 'Jason Kidd2001PHO27',
       'Kobe Bryant2001LAL22', 'David Robinson2001SAS35',
       'Ray Allen2001MIL25', 'Vince Carter2001TOR24',
       'Paul Pierce2001BOS23', 'Jerry Stackhouse2001DET26',
       'Michael Finley2001DAL27', 'Anthony Mason2001MIA34',
       'John Stockton2001UTA38', 'Tim Duncan2002SAS25',
       'Jason Kidd2002NJN28', 'Shaquille ONeal2002LAL29',
       'Tracy McGrady2002ORL22', 'Kobe Bryant2002LAL23',
       'Gary Payton2002SEA33', 'Chris Webber2002SAC28',
       'Dirk Nowitzki2002DAL23', 'Allen Iverson2002PHI26',
       'Ben Wallace2002DET27', 'Paul Pierce2002BOS24',
       'Kevin Garnett2002MIN25', 'Michael Jordan2002WAS38',
       'Steve Nash2002DAL27', 'Jerry Stackhouse2002DET27',
       'Mike Bibby2002SAC23', 'Elton Brand2002LAC22',
       'Peja Stojaković2002SAC24', 'Tim Duncan2003SAS26',
       'Kevin Garnett2003MIN26', 'Kobe Bryant2003LAL24',
       'Tracy McGrady2003ORL23', 'Shaquille ONeal2003LAL30',
       'Allen Iverson2003PHI27', 'Dirk Nowitzki2003DAL24',
       'Ben Wallace2003DET28', 'Jason Kidd2003NJN29',
       'Chris Webber2003SAC29', 'Jamal Mashburn2003NOH30',
       'Steve Nash2003DAL28', 'Paul Pierce2003BOS25',
       'Kevin Garnett2004MIN27', 'Tim Duncan2004SAS27',
       'Jermaine ONeal2004IND25', 'Peja Stojaković2004SAC26',
       'Kobe Bryant2004LAL25', 'Shaquille ONeal2004LAL31',
       'Ben Wallace2004DET29', 'Jason Kidd2004NJN30',
       'LeBron James2004CLE19', 'Sam Cassell2004MIN34',
       'Baron Davis2004NOH24', 'Dirk Nowitzki2004DAL25',
       'Andrei Kirilenko2004UTA22', 'Carmelo Anthony2004DEN19',
       'Yao Ming2004HOU23', 'Michael Redd2004MIL24',
       'Steve Nash2005PHO30', 'Shaquille ONeal2005MIA32',
       'Dirk Nowitzki2005DAL26', 'Tim Duncan2005SAS28',
       'Allen Iverson2005PHI29', 'LeBron James2005CLE20',
       'Tracy McGrady2005HOU25', 'Dwyane Wade2005MIA23',
       'Amare Stoudemire2005PHO22', 'Ray Allen2005SEA29',
       'Kevin Garnett2005MIN28', 'Gilbert Arenas2005WAS23',
       'PJ Brown2005NOH35', 'Marcus Camby2005DEN30',
       'Shawn Marion2005PHO26', 'Steve Nash2006PHO31',
       'LeBron James2006CLE21', 'Dirk Nowitzki2006DAL27',
       'Kobe Bryant2006LAL27', 'Chauncey Billups2006DET29',
       'Dwyane Wade2006MIA24', 'Elton Brand2006LAC26',
       'Tim Duncan2006SAS29', 'Tony Parker2006SAS23',
       'Allen Iverson2006PHI30', 'Shawn Marion2006PHO27',
       'Dirk Nowitzki2007DAL28', 'Steve Nash2007PHO32',
       'Kobe Bryant2007LAL28', 'Tim Duncan2007SAS30',
       'LeBron James2007CLE22', 'Tracy McGrady2007HOU27',
       'Chris Bosh2007TOR22', 'Gilbert Arenas2007WAS25',
       'Carlos Boozer2007UTA25', 'Kevin Garnett2007MIN30',
       'Chauncey Billups2007DET30', 'Shaquille ONeal2007MIA34',
       'Dwyane Wade2007MIA25', 'Amare Stoudemire2007PHO24',
       'Carmelo Anthony2007DEN22', 'Baron Davis2007GSW27',
       'Tony Parker2007SAS24', 'Kobe Bryant2008LAL29',
       'Chris Paul2008NOH22', 'Kevin Garnett2008BOS31',
       'LeBron James2008CLE23', 'Dwight Howard2008ORL22',
       'Amare Stoudemire2008PHO25', 'Tim Duncan2008SAS31',
       'Tracy McGrady2008HOU28', 'Steve Nash2008PHO33',
       'Manu Ginóbili2008SAS30', 'Dirk Nowitzki2008DAL29',
       'Deron Williams2008UTA23', 'Carmelo Anthony2008DEN23',
       'Carlos Boozer2008UTA26', 'Antawn Jamison2008WAS31',
       'Paul Pierce2008BOS30', 'Rasheed Wallace2008DET33',
       'LeBron James2009CLE24', 'Kobe Bryant2009LAL30',
       'Dwyane Wade2009MIA27', 'Dwight Howard2009ORL23',
       'Chris Paul2009NOH23', 'Paul Pierce2009BOS31',
       'Tony Parker2009SAS26', 'Brandon Roy2009POR24',
       'Dirk Nowitzki2009DAL30', 'Tim Duncan2009SAS32',
       'Yao Ming2009HOU28', 'LeBron James2010CLE25',
       'Kevin Durant2010OKC21', 'Kobe Bryant2010LAL31',
       'Dwight Howard2010ORL24', 'Dwyane Wade2010MIA28',
       'Carmelo Anthony2010DEN25', 'Dirk Nowitzki2010DAL31',
       'Steve Nash2010PHO35', 'Deron Williams2010UTA25',
       'Amare Stoudemire2010PHO27', 'Manu Ginóbili2010SAS32',
       'Chauncey Billups2010DEN33', 'Chris Bosh2010TOR25',
       'Joe Johnson2010ATL28', 'Derrick Rose2011CHI22',
       'Dwight Howard2011ORL25', 'LeBron James2011MIA26',
       'Kobe Bryant2011LAL32', 'Kevin Durant2011OKC22',
       'Dirk Nowitzki2011DAL32', 'Dwyane Wade2011MIA29',
       'Manu Ginóbili2011SAS33', 'Amare Stoudemire2011NYK28',
       'Blake Griffin2011LAC21', 'Rajon Rondo2011BOS24',
       'Tony Parker2011SAS28', 'Chris Paul2011NOH25',
       'LeBron James2012MIA27', 'Kevin Durant2012OKC23',
       'Chris Paul2012LAC26', 'Kobe Bryant2012LAL33',
       'Tony Parker2012SAS29', 'Kevin Love2012MIN23',
       'Dwight Howard2012ORL26', 'Rajon Rondo2012BOS25',
       'Steve Nash2012PHO37', 'Dwyane Wade2012MIA30',
       'Derrick Rose2012CHI23', 'Dirk Nowitzki2012DAL33',
       'Russell Westbrook2012OKC23', 'Tim Duncan2012SAS35',
       'Joe Johnson2012ATL30', 'LeBron James2013MIA28',
       'Kevin Durant2013OKC24', 'Carmelo Anthony2013NYK28',
       'Chris Paul2013LAC27', 'Kobe Bryant2013LAL34',
       'Tony Parker2013SAS30', 'Tim Duncan2013SAS36',
       'James Harden2013HOU23', 'Russell Westbrook2013OKC24',
       'Dwyane Wade2013MIA31', 'Stephen Curry2013GSW24',
       'Kevin Garnett2013BOS36', 'Marc Gasol2013MEM28',
       'Ty Lawson2013DEN25', 'David Lee2013GSW29', 'Joakim Noah2013CHI27',
       'Kevin Durant2014OKC25', 'LeBron James2014MIA29',
       'Blake Griffin2014LAC24', 'Joakim Noah2014CHI28',
       'James Harden2014HOU24', 'Stephen Curry2014GSW25',
       'Chris Paul2014LAC28', 'Al Jefferson2014CHA29',
       'Paul George2014IND23', 'LaMarcus Aldridge2014POR28',
       'Kevin Love2014MIN25', 'Tim Duncan2014SAS37',
       'Tony Parker2014SAS31', 'Dirk Nowitzki2014DAL35',
       'Carmelo Anthony2014NYK29', 'Goran Dragić2014PHO27',
       'Mike Conley2014MEM26', 'Stephen Curry2015GSW26',
       'James Harden2015HOU25', 'LeBron James2015CLE30',
       'Russell Westbrook2015OKC26', 'Anthony Davis2015NOP21',
       'Chris Paul2015LAC29', 'LaMarcus Aldridge2015POR29',
       'Marc Gasol2015MEM30', 'Blake Griffin2015LAC25',
       'Tim Duncan2015SAS38', 'Kawhi Leonard2015SAS23',
       'Klay Thompson2015GSW24', 'Stephen Curry2016GSW27',
       'Kawhi Leonard2016SAS24', 'LeBron James2016CLE31',
       'Russell Westbrook2016OKC27', 'Kevin Durant2016OKC27',
       'Chris Paul2016LAC30', 'Draymond Green2016GSW25',
       'Damian Lillard2016POR25', 'James Harden2016HOU26',
       'Kyle Lowry2016TOR29', 'Russell Westbrook2017OKC28',
       'James Harden2017HOU27', 'Kawhi Leonard2017SAS25',
       'LeBron James2017CLE32', 'Isaiah Thomas2017BOS27',
       'Stephen Curry2017GSW28', 'Giannis Antetokounmpo2017MIL22',
       'John Wall2017WAS26', 'Anthony Davis2017NOP23',
       'Kevin Durant2017GSW28', 'DeMar DeRozan2017TOR27',
       'James Harden2018HOU28', 'LeBron James2018CLE33',
       'Anthony Davis2018NOP24', 'Damian Lillard2018POR27',
       'Russell Westbrook2018OKC29', 'Giannis Antetokounmpo2018MIL23',
       'Kevin Durant2018GSW29', 'DeMar DeRozan2018TOR28',
       'LaMarcus Aldridge2018SAS32', 'Jimmy Butler2018MIN28',
       'Stephen Curry2018GSW29', 'Joel Embiid2018PHI23',
       'Victor Oladipo2018IND25', 'Giannis Antetokounmpo2019MIL24',
       'James Harden2019HOU29', 'Paul George2019OKC28',
       'Nikola Jokić2019DEN23', 'Stephen Curry2019GSW30',
       'Damian Lillard2019POR28', 'Joel Embiid2019PHI24',
       'Kevin Durant2019GSW30', 'Kawhi Leonard2019TOR27',
       'Russell Westbrook2019OKC30', 'Rudy Gobert2019UTA26',
       'LeBron James2019LAL34', 'Giannis Antetokounmpo2020MIL25',
       'LeBron James2020LAL35', 'James Harden2020HOU30',
       'Luka Dončić2020DAL20', 'Kawhi Leonard2020LAC28',
       'Anthony Davis2020LAL26', 'Chris Paul2020OKC34',
       'Damian Lillard2020POR29', 'Nikola Jokić2020DEN24',
       'Pascal Siakam2020TOR25', 'Jimmy Butler2020MIA30',
       'Jayson Tatum2020BOS21', 'Nikola Jokić2021DEN25',
       'Joel Embiid2021PHI26', 'Stephen Curry2021GSW32',
       'Giannis Antetokounmpo2021MIL26', 'Chris Paul2021PHO35',
       'Luka Dončić2021DAL21', 'Damian Lillard2021POR30',
       'Julius Randle2021NYK26', 'Rudy Gobert2021UTA28',
       'Russell Westbrook2021WAS32', 'Ben Simmons2021PHI24',
       'LeBron James2021LAL36', 'Kawhi Leonard2021LAC29',
       'Nikola Jokić2022DEN26', 'Joel Embiid2022PHI27',
       'Giannis Antetokounmpo2022MIL27', 'Devin Booker2022PHO25',
       'Luka Dončić2022DAL22', 'Jayson Tatum2022BOS23',
       'Ja Morant2022MEM22', 'Stephen Curry2022GSW33',
       'Chris Paul2022PHO36', 'DeMar DeRozan2022CHI32',
       'Kevin Durant2022BRK33', 'LeBron James2022LAL37',
       'Joel Embiid2023PHI28', 'Nikola Jokić2023DEN27',
       'Giannis Antetokounmpo2023MIL28', 'Jayson Tatum2023BOS24',
       'Shai GilgeousAlexander2023OKC24', 'Donovan Mitchell2023CLE26',
       'Domantas Sabonis2023SAC26', 'Luka Dončić2023DAL23',
       'Stephen Curry2023GSW34', 'Jimmy Butler2023MIA33',
       'DeAaron Fox2023SAC25', 'Jalen Brunson2023NYK26',
       'Ja Morant2023MEM23', 'Moses Malone1983PHI27',
       'Larry Bird1983BOS26', 'Magic Johnson1983LAL23',
       'Sidney Moncrief1983MIL25', 'Julius Erving1983PHI32',
       'Alex English1983DEN29', 'Buck Williams1983NJN22',
       'Artis Gilmore1983SAS33', 'George Gervin1983SAS30',
       'Kareem AbdulJabbar1983LAL35', 'Jack Sikma1983SEA27',
       'Jeff Ruland1983WSB24', 'Terry Cummings1983SDC21',
       'Maurice Lucas1983PHO30', 'Alton Lister1983MIL24',
       'Bernard King1983NYK26', 'Isiah Thomas1983DET21',
       'Larry Drew1983KCK24', 'Gus Williams1983SEA29',
       'Dan Roundfield1983ATL29', 'Marques Johnson1983MIL26',
       'Norm Nixon1983LAL27', 'Kiki Vandeweghe1983DEN24',
       'Larry Bird1984BOS27', 'Bernard King1984NYK27',
       'Magic Johnson1984LAL24', 'Kareem AbdulJabbar1984LAL36',
       'Isiah Thomas1984DET22', 'Julius Erving1984PHI33',
       'Adrian Dantley1984UTA28', 'Sidney Moncrief1984MIL26',
       'Jeff Ruland1984WSB25', 'Moses Malone1984PHI28',
       'Mark Aguirre1984DAL24', 'Bill Laimbeer1984DET26',
       'Rickey Green1984UTA29', 'World B Free1984CLE30',
       'Marques Johnson1984MIL27', 'Larry Bird1985BOS28',
       'Magic Johnson1985LAL25', 'Moses Malone1985PHI29',
       'Kareem AbdulJabbar1985LAL37', 'Terry Cummings1985MIL23',
       'Michael Jordan1985CHI21', 'Bernard King1985NYK28',
       'Sidney Moncrief1985MIL27', 'Isiah Thomas1985DET23',
       'Ralph Sampson1985HOU24', 'Calvin Natt1985DEN28',
       'Alex English1985DEN31', 'Hakeem Olajuwon1985HOU22',
       'Micheal Ray Richardson1985NJN29', 'Andrew Toney1985PHI27',
       'Mark Eaton1985UTA28', 'Paul Pressey1985MIL26',
       'Jack Sikma1985SEA29', 'Dominique Wilkins1985ATL25',
       'World B Free1985CLE31', 'Purvis Short1985GSW27',
       'Clyde Drexler1985POR22', 'Julius Erving1985PHI34',
       'Larry Bird1986BOS29', 'Dominique Wilkins1986ATL26',
       'Magic Johnson1986LAL26', 'Hakeem Olajuwon1986HOU23',
       'Kareem AbdulJabbar1986LAL38', 'Charles Barkley1986PHI22',
       'Sidney Moncrief1986MIL28', 'Alex English1986DEN32',
       'Isiah Thomas1986DET24', 'Moses Malone1986PHI30',
       'Terry Cummings1986MIL24', 'James Worthy1986LAL24',
       'Kevin McHale1986BOS28', 'Paul Pressey1986MIL27',
       'Alvin Robertson1986SAS23', 'Adrian Dantley1986UTA30',
       'Buck Williams1986NJN25', 'Dennis Johnson1986BOS31',
       'Magic Johnson1987LAL27', 'Michael Jordan1987CHI23',
       'Larry Bird1987BOS30', 'Kevin McHale1987BOS29',
       'Dominique Wilkins1987ATL27', 'Charles Barkley1987PHI23',
       'Hakeem Olajuwon1987HOU24', 'Isiah Thomas1987DET25',
       'Fat Lever1987DEN26', 'Moses Malone1987WSB31',
       'Steve Johnson1987POR29', 'Karl Malone1987UTA23',
       'Robert Parish1987BOS33', 'Alex English1987DEN33',
       'Mark Aguirre1987DAL27', 'Rolando Blackman1987DAL27',
       'Joe Barry Carroll1987GSW28', 'Michael Jordan1988CHI24',
       'Larry Bird1988BOS31', 'Magic Johnson1988LAL28',
       'Charles Barkley1988PHI24', 'Clyde Drexler1988POR25',
       'Dominique Wilkins1988ATL28', 'Hakeem Olajuwon1988HOU25',
       'Karl Malone1988UTA24', 'Fat Lever1988DEN27',
       'John Stockton1988UTA25', 'Alex English1988DEN34',
       'Isiah Thomas1988DET26', 'Mark Jackson1988NYK22',
       'Michael Adams1988DEN25', 'Mark Aguirre1988DAL28',
       'Adrian Dantley1988DET32', 'Buck Williams1988NJN27',
       'Magic Johnson1989LAL29', 'Michael Jordan1989CHI25',
       'Karl Malone1989UTA25', 'Patrick Ewing1989NYK26',
       'Hakeem Olajuwon1989HOU26', 'Charles Barkley1989PHI25',
       'John Stockton1989UTA26', 'Kevin Johnson1989PHO22',
       'Tom Chambers1989PHO29', 'Mark Price1989CLE24',
       'Brad Daugherty1989CLE23', 'Robert Parish1989BOS35',
       'Mark Eaton1989UTA32', 'Moses Malone1989ATL33',
       'Chris Mullin1989GSW25', 'Larry Nance1989CLE29',
       'Terry Cummings1989MIL27', 'Joe Dumars1989DET25',
       'Isiah Thomas1989DET27', 'Magic Johnson1990LAL30',
       'Charles Barkley1990PHI26', 'Michael Jordan1990CHI26',
       'Karl Malone1990UTA26', 'Patrick Ewing1990NYK27',
       'David Robinson1990SAS24', 'Hakeem Olajuwon1990HOU27',
       'Tom Chambers1990PHO30', 'John Stockton1990UTA27',
       'Larry Bird1990BOS33', 'Buck Williams1990POR29',
       'Clyde Drexler1990POR27', 'Joe Dumars1990DET26',
       'Isiah Thomas1990DET28'], dtype=object)

In [191]:
mvp_remove_cols = ['Yr', 'Player', 'Age', 'Tm', 'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS', 'WS/48']

In [192]:
mvps_df = mvps_df.drop(mvp_remove_cols, axis = 1)
mvps_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 0 to 709
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      638 non-null    int64
 1   First     638 non-null    float64
 2   Pts Won   638 non-null    float64
 3   Pts Max   638 non-null    int64
 4   Share     638 non-null    float64
 5   joinkey3  638 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 34.9+ KB

In [193]:
mvps_df = mvps_df.rename(columns = {'Rank':'Rank-MVP', 'First':'First-MVP', 'Pts Won':'Pts Won-MVP', 'Pts Max':'Pts Max-MVP', 'Share':""'Share-MVP'})
mvps_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 0 to 709
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank-MVP     638 non-null    int64
 1   First-MVP    638 non-null    float64
 2   Pts Won-MVP  638 non-null    float64
 3   Pts Max-MVP  638 non-null    int64
 4   Share-MVP    638 non-null    float64
 5   joinkey3     638 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 34.9+ KB

In [194]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'].str.replace('[^\w\s]', '')

<ipython-input-194-ce0d3d5c90bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'].str.replace('[^\w\s]', '')

In [195]:
'removed special characters from main dataset but not MVP dataset - will need to do the same for both to ensure matching'

'removed special characters from main dataset but not MVP dataset - will need to do the same for both to ensure matching'

In [196]:
list(totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'].unique())

['Alaa Abdelnaby',
 'Mahmoud AbdulRauf',
 'Mark Acres',
 'Michael Adams',
 'Mark Aguirre',
 'Danny Ainge',
 'Mark Alarie',
 'Steve Alford',
 'Greg Anderson',
 'Nick Anderson',
 'Ron Anderson',
 'Willie Anderson',
 'Michael Ansley',
 'BJ Armstrong',
 'Vincent Askew',
 'Keith Askins',
 'Miloš Babić',
 'Thurl Bailey',
 'Cedric Ball',
 'Ken Bannister',
 'Charles Barkley',
 'Dana Barros',
 'John Battle',
 'Kenny Battle',
 'William Bedford',
 'Benoit Benjamin',
 'Winston Bennett',
 'Larry Bird',
 'Rolando Blackman',
 'Lance Blanks',
 'Mookie Blaylock',
 'Muggsy Bogues',
 'Manute Bol',
 'Anthony Bonner',
 'Sam Bowie',
 'Randy Breuer',
 'Frank Brickowski',
 'Scott Brooks',
 'Chucky Brown',
 'Dee Brown',
 'Mike Brown',
 'Tony Brown',
 'Mark Bryant',
 'Jud Buechler',
 'Matt Bullard',
 'Willie Burton',
 'Greg Butler',
 'Michael Cage',
 'Adrian Caldwell',
 'Rick Calloway',
 'Elden Campbell',
 'Tony Campbell',
 'Antoine Carr',
 'Joe Barry Carroll',
 'Bill Cartwright',
 'Terry Catledge',
 'Duane Causwell',
 'Cedric Ceballos',
 'Tom Chambers',
 'Rex Chapman',
 'Maurice Cheeks',
 'Derrick Chievous',
 'Richard Coffey',
 'Derrick Coleman',
 'Bimbo Coles',
 'Steve Colter',
 'Lester Conner',
 'Anthony Cook',
 'Wayne Cooper',
 'Tyrone Corbin',
 'Dave Corzine',
 'Pat Cummings',
 'Terry Cummings',
 'Earl Cureton',
 'Dell Curry',
 'Quintin Dailey',
 'Adrian Dantley',
 'Brad Daugherty',
 'Brad Davis',
 'Terry Davis',
 'Walter Davis',
 'Johnny Dawkins',
 'Tony Dawson',
 'Byron Dinkins',
 'Vlade Divac',
 'James Donaldson',
 'Sherman Douglas',
 'Greg Dreiling',
 'Larry Drew',
 'Clyde Drexler',
 'Kevin Duckworth',
 'Chris Dudley',
 'Joe Dumars',
 'TR Dunn',
 'Ledell Eackles',
 'Mark Eaton',
 'Blue Edwards',
 'James Edwards',
 'Kevin Edwards',
 'Craig Ehlo',
 'Mario Elie',
 'Sean Elliott',
 'Dale Ellis',
 'Pervis Ellison',
 'AJ English',
 'Alex English',
 'Patrick Ewing',
 'Jim Farmer',
 'Dave Feitl',
 'Duane Ferrell',
 'Danny Ferry',
 'Vern Fleming',
 'Sleepy Floyd',
 'Greg Foster',
 'Anthony Frederick',
 'Corey Gaines',
 'Kevin Gamble',
 'Winston Garland',
 'Tom Garrick',
 'Kenny Gattison',
 'Tate George',
 'Derrick Gervin',
 'Kendall Gill',
 'Armen Gilliam',
 'Gerald Glass',
 'Mike Gminski',
 'Dan Godfread',
 'Jim Grandholm',
 'Gary Grant',
 'Greg Grant',
 'Harvey Grant',
 'Horace Grant',
 'Stuart Gray',
 'Jeff Grayer',
 'AC Green',
 'Rickey Green',
 'Sidney Green',
 'Dave Greenwood',
 'Darrell Griffith',
 'Scott Haffner',
 'Jack Haley',
 'Tom Hammonds',
 'Bob Hansen',
 'Tim Hardaway',
 'Derek Harper',
 'Ron Harper',
 'Tony Harris',
 'Scott Hastings',
 'Hersey Hawkins',
 'Gerald Henderson',
 'Steve Henson',
 'Mike Higgins',
 'Rod Higgins',
 'Sean Higgins',
 'Tyrone Hill',
 'Roy Hinson',
 'Craig Hodges',
 'Dave Hoppen',
 'Dennis Hopson',
 'Jeff Hornacek',
 'Jay Humphries',
 'Byron Irvin',
 'Mark Jackson',
 'Dave Jamerson',
 'Henry James',
 'Les Jepsen',
 'Avery Johnson',
 'Buck Johnson',
 'Eddie Johnson',
 'Kevin Johnson',
 'Magic Johnson',
 'Steve Johnson',
 'Vinnie Johnson',
 'Charles Jones',
 'Michael Jordan',
 'Shawn Kemp',
 'Steve Kerr',
 'Jerome Kersey',
 'Alec Kessler',
 'Randolph Keys',
 'Bo Kimble',
 'Bernard King',
 'Stacey King',
 'Greg Kite',
 'Joe Kleine',
 'Negele Knight',
 'Bart Kofoed',
 'Jon Koncak',
 'Frank Kornet',
 'Bill Laimbeer',
 'Jerome Lane',
 'Andrew Lang',
 'Eric Leckner',
 'Kurk Lee',
 'Tim Legler',
 'Gary Leonard',
 'Jim Les',
 'Clifford Lett',
 'Fat Lever',
 'Cliff Levingston',
 'Reggie Lewis',
 'Marcus Liberty',
 'Todd Lichti',
 'Alton Lister',
 'Ian Lockhart',
 'Brad Lohaus',
 'Grant Long',
 'John Long',
 'Rick Mahorn',
 'Dan Majerle',
 'Jeff Malone',
 'Karl Malone',
 'Moses Malone',
 'Danny Manning',
 'Šarūnas Marčiulionis',
 'Jeff Martin',
 'Anthony Mason',
 'Tony Massenburg',
 'Vernon Maxwell',
 'Travis Mays',
 'George McCloud',
 'Tim McCormick',
 'Rodney McCray',
 'Xavier McDaniel',
 'Kevin McHale',
 'Derrick McKey',
 'Nate McMillan',
 'Mark McNamara',
 'Scott Meents',
 'Reggie Miller',
 'Terry Mills',
 'Sam Mitchell',
 'Paul Mokeski',
 'Sidney Moncrief',
 'Chris Morris',
 'John Morton',
 'Chris Mullin',
 'Chris Munk',
 'Tod Murphy',
 'Jerrod Mustaf',
 'Pete Myers',
 'Larry Nance',
 'Craig Neal',
 'Ed Nealy',
 'Johnny Newman',
 'Ken Norman',
 'Dan OSullivan',
 'Charles Oakley',
 'Alan Ogg',
 'Hakeem Olajuwon',
 'Jawann Oldham',
 'Brian Oliver',
 'Gerald Paddio',
 'Walter Palmer',
 'Robert Parish',
 'John Paxson',
 'Kenny Payne',
 'Gary Payton',
 'Will Perdue',
 'Sam Perkins',
 'Tim Perry',
 'Chuck Person',
 'Jim Petersen',
 'Dražen Petrović',
 'Ricky Pierce',
 'Ed Pinckney',
 'Scottie Pippen',
 'Olden Polynice',
 'Dave Popson',
 'Terry Porter',
 'Paul Pressey',
 'Mark Price',
 'Kevin Pritchard',
 'Brian Quinnett',
 'Kurt Rambis',
 'Blair Rasmussen',
 'JR Reid',
 'Robert Reid',
 'Jerry Reynolds',
 'Glen Rice',
 'Pooh Richardson',
 'Mitch Richmond',
 'Doc Rivers',
 'Fred Roberts',
 'Alvin Robertson',
 'Clifford Robinson',
 'David Robinson',
 'Larry Robinson',
 'Rumeal Robinson',
 'Dennis Rodman',
 'Tree Rollins',
 'Delaney Rudd',
 'John Salley',
 'Ralph Sampson',
 'Jeff Sanders',
 'Mike Sanders',
 'Danny Schayes',
 'Steve Scheffler',
 'Dwayne Schintzius',
 'Detlef Schrempf',
 'Byron Scott',
 'Dennis Scott',
 'Rony Seikaly',
 'John Shasky',
 'Brian Shaw',
 'Jack Sikma',
 'Lionel Simmons',
 'Scott Skiles',
 'Charles Smith',
 'Clinton Smith',
 'Derek Smith',
 'Kenny Smith',
 'Larry Smith',
 'Michael Smith',
 'Otis Smith',
 'Tony Smith',
 'Rik Smits',
 'Mike Smrek',
 'Rory Sparrow',
 'Felton Spencer',
 'John Starks',
 'Everette Stephens',
 'John Stockton',
 'Rod Strickland',
 'Jon Sundvold',
 'Roy Tarpley',
 'Terry Teagle',
 'Reggie Theus',
 'Irving Thomas',
 'Isiah Thomas',
 'Jim Thomas',
 'Billy Thompson',
 'LaSalle Thompson',
 'Mychal Thompson',
 'Bob Thornton',
 'Otis Thorpe',
 'Sedale Threatt',
 'Wayman Tisdale',
 'Tom Tolbert',
 'Andy Toolson',
 'Kelly Tripucka',
 'Trent Tucker',
 'Andre Turner',
 'Jeff Turner',
 'Kelvin Upshaw',
 'Darnell Valentine',
 'Kiki Vandeweghe',
 'Loy Vaught',
 'Sam Vincent',
 'Stojko Vranković',
 'Milt Wagner',
 'Darrell Walker',
 'Kenny Walker',
 'Spud Webb',
 'Bill Wennington',
 'Doug West',
 'Mark West',
 'Randy White',
 'Morlon Wiley',
 'Dominique Wilkins',
 'Eddie Lee Wilkins',
 'Gerald Wilkins',
 'Buck Williams',
 'Herb Williams',
 'Hot Rod Williams',
 'Jayson Williams',
 'John Williams',
 'Kenny Williams',
 'Micheal Williams',
 'Reggie Williams',
 'Scott Williams',
 'Kevin Willis',
 'Trevor Wilson',
 'Kennard Winchester',
 'David Wingate',
 'Randy Wittman',
 'Joe Wolf',
 'David Wood',
 'Leon Wood',
 'Mike Woodson',
 'Orlando Woolridge',
 'Haywoode Workman',
 'James Worthy',
 'Howard Wright',
 'AJ Wynder',
 'Danny Young',
 'Rafael Addison',
 'Victor Alexander',
 'Kenny Anderson',
 'Greg Anthony',
 'Stacey Augmon',
 'Isaac Austin',
 'John Bagley',
 'Steve Bardo',
 'David Benoit',
 'Anthony Bowie',
 'Terrell Brandon',
 'Kevin Brooks',
 'Myron Brown',
 'Randy Brown',
 'Steve Burtt',
 'Demetrius Calip',
 'Pete Chilcutt',
 'Marty Conlon',
 'Tom Copa',
 'Lanard Copeland',
 'Chris Corchiani',
 'Corey Crowder',
 'Dale Davis',
 'Bison Dele',
 'Patrick Eddie',
 'LeRon Ellis',
 'Rick Fox',
 'Tellis Frank',
 'Chris Gatling',
 'Paul Graham',
 'Ron Grandison',
 'Sean Green',
 'Carl Herrera',
 'Donald Hodge',
 'Brian Howard',
 'Cedric Hunter',
 'Mike Iuzzolino',
 'Jaren Jackson',
 'Larry Johnson',
 'Albert King',
 'Rich King',
 'Larry Krystkowiak',
 'Doug Lee',
 'Luc Longley',
 'Kevin Lynch',
 'Mark Macon',
 'Tharon Mayes',
 'Bob McCann',
 'Carlton McKinney',
 'Rodney Monroe',
 'Tracy Moore',
 'Eric Murdock',
 'Dikembe Mutombo',
 'Chuck Nevitt',
 'Jimmy Oliver',
 'Billy Owens',
 'Keith Owens',
 'Robert Pack',
 'Elliot Perry',
 'Bobby Phills',
 'Mark Randall',
 'David Rivers',
 'Stanley Roberts',
 'Cliff Robinson',
 'Donald Royal',
 'Jeff Ruland',
 'Brad Sellers',
 'Charles Shackleford',
 'Doug Smith',
 'LaBradford Smith',
 'Steve Smith',
 'Larry Stewart',
 'Derek Strong',
 'Lamont Strothers',
 'Greg Sutton',
 'Carl Thomas',
 'Charles Thomas',
 'Stephen Thompson',
 'John Turner',
 'João Vianna',
 'Alexander Volkov',
 'Ennis Whatley',
 'Mitchell Wiggins',
 'Eric Anderson',
 'Anthony Avent',
 'Jon Barry',
 'Tony Bennett',
 'Alex Blackwell',
 'Ricky Blanton',
 'Walter Bond',
 'Dexter Cambridge',
 'Doug Christie',
 'Duane Cooper',
 'Joe Courtney',
 'John Crotty',
 'Radisav Ćurčić',
 'Lloyd Daniels',
 'Hubert Davis',
 'Todd Day',
 'Vinny Del Negro',
 'Richard Dumas',
 'Pat Durham',
 'LaPhonso Ellis',
 'Jo Jo English',
 'Matt Geiger',
 'Litterial Green',
 'Tom Gugliotta',
 'Jay Guidinger',
 'Robert Horry',
 'Byron Houston',
 'Stephen Howard',
 'Jim Jackson',
 'Keith Jennings',
 'Dave Johnson',
 'Frank Johnson',
 'Thomas Jordan',
 'Adam Keefe',
 'Tim Kempton',
 'Stan Kimbrough',
 'Christian Laettner',
 'Sam Mack',
 'Don MacLean',
 'Marlon Maxey',
 'Lee Mayberry',
 'Oliver Miller',
 'Harold Miner',
 'Isaiah Morris',
 'Alonzo Mourning',
 'Tracy Murray',
 'Melvin Newbern',
 'Shaquille ONeal',
 'Matt Othick',
 'Doug Overton',
 'Anthony Peeler',
 'Gary Plummer',
 'Brent Price',
 'Anthony Pullard',
 'Sean Rooks',
 'Malik Sealy',
 'Chris Smith',
 'Reggie Smith',
 'Andre Spencer',
 'Elmore Spencer',
 'Latrell Sprewell',
 'Barry Stevens',
 'Bryant Stith',
 'Alex Stivrins',
 'Gundars Vētra',
 'Duane Washington',
 'Clarence Weatherspoon',
 'Marcus Webb',
 'Robert Werdann',
 'Corey Williams',
 'Lorenzo Williams',
 'Walt Williams',
 'Randy Woods',
 'Gary Alexander',
 'Vin Baker',
 'Corie Blount',
 'Shawn Bradley',
 'PJ Brown',
 'Evers Burns',
 'Scott Burrell',
 'Mitchell Butler',
 'Sam Cassell',
 'Calbert Cheaney',
 'Ben Coleman',
 'Michael Curry',
 'Antonio Davis',
 'Brian Davis',
 'Terry Dehere',
 'Dell Demps',
 'Acie Earl',
 'Bill Edwards',
 'Doug Edwards',
 'Harold Ellis',
 'Alphonso Ford',
 'Chad Gallagher',
 'Andrew Gaze',
 'Ricky Grace',
 'Greg Graham',
 'Josh Grant',
 'Andrés Guibert',
 'Geert Hammink',
 'Anfernee Hardaway',
 'Lucious Harris',
 'Antonio Harvey',
 'Scott Haskin',
 'Skeeter Henry',
 'Tito Horford',
 'Allan Houston',
 'Lindsey Hunter',
 'Bobby Hurley',
 'Stanley Jackson',
 'Chris Jent',
 'Ervin Johnson',
 'Popeye Jones',
 'Adonis Jordan',
 'Reggie Jordan',
 'Warren Kidd',
 'Chris King',
 'Toni Kukoč',
 'George Lynch',
 'Malcolm Mackey',
 'Gerald Madkins',
 'Roy Marble',
 'Bob Martin',
 'Jamal Mashburn',
 'Darnell Mee',
 'Chris Mills',
 'Darren Morningstar',
 'Gheorghe Mureșan',
 'Bo Outlaw',
 'Mike Peplowski',
 'Richard Petruška',
 'Dino Radja',
 'Isaiah Rider',
 'Eric Riley',
 'James Robinson',
 'Rodney Rogers',
 'Bryon Russell',
 'Kevin Thompson',
 'Sedric Toney',
 'Keith Tower',
 'Nick Van Exel',
 'Rex Walters',
 'Chris Webber',
 'Matt Wenstrom',
 'David Wesley',
 'Chris Whitney',
 'Aaron Williams',
 'Luther Wright',
 'Derrick Alston',
 'Darrell Armstrong',
 'Sergei Bazarevich',
 'Elmer Bennett',
 'James Blackwell',
 'Tim Breaux',
 'Chris Childs',
 'Bill Curley',
 'Yinka Dare',
 'Tony Dumas',
 'Howard Eisley',
 'Matt Fish',
 'Brian Grant',
 'Darrin Hancock',
 'Jerome Harmon',
 'Grant Hill',
 'Tom Hovasse',
 'Juwan Howard',
 'Askia Jones',
 'Eddie Jones',
 'Jason Kidd',
 'Antonio Lang',
 'Ryan Lorthridge',
 'Donyell Marshall',
 'Darrick Martin',
 'Jim McIlvaine',
 'Aaron McKie',
 'Anthony Miller',
 'Greg Minor',
 'Eric Mobley',
 'Eric Montross',
 'Dwayne Morton',
 'Lamond Murray',
 'Ivano Newbill',
 'Julius Nwosu',
 'Wesley Person',
 'Derrick Phelps',
 'Eric Piatkowski',
 'Eldridge Recasner',
 'Khalid Reeves',
 'Glenn Robinson',
 'Carlos Rogers',
 'Jalen Rose',
 'Clifford Rozier',
 'Trevor Ruffin',
 'Dickey Simpkins',
 'Reggie Slater',
 'Mark Strickland',
 'Aaron Swinson',
 'Žan Tabak',
 'Brooks Thompson',
 'Anthony Tucker',
 'Henry Turner',
 'BJ Tyler',
 'Fred Vinson',
 'Charlie Ward',
 'Jamie Watson',
 'Monty Williams',
 'Dontonio Wingfield',
 'Sharone Wright',
 'Cory Alexander',
 'Jerome Allen',
 'John Amaechi',
 'Ashraf Amaya',
 'Brent Barry',
 'Corey Beck',
 'Mario Bennett',
 'Travis Best',
 'Melvin Booker',
 'Donnie Boyce',
 'Marques Bragg',
 'Junior Burrough',
 'Jason Caffey',
 'Chris Carr',
 'Randolph Childress',
 'Robert Churchwell',
 'Charles Claxton',
 'John Coker',
 'Rastko Cvetković',
 'Sasha Danilović',
 'Mark Davis',
 'Andrew DeClercq',
 'Tyus Edney',
 'Vincenzo Esposito',
 'Michael Finley',
 'Sherell Ford',
 'Kevin Garnett',
 'Anthony Goldwire',
 'Thomas Hamilton',
 'Alvin Heggs',
 'Alan Henderson',
 'Fred Hoiberg',
 'Darryl Johnson',
 'Frankie King',
 'Jimmy King',
 'Voshon Lenard',
 'Cedric Lewis',
 'Martin Lewis',
 'Rich Manning',
 'Donny Marshall',
 'Cuonzo Martin',
 'Clint McDaniel',
 'Antonio McDyess',
 'Loren Meyer',
 'Lawrence Moten',
 'Todd Mundt',
 'Howard Nathan',
 'Ed OBannon',
 'Greg Ostertag',
 'Cherokee Parks',
 'Theo Ratliff',
 'Bryant Reeves',
 'Don Reid',
 'Terrence Rencher',
 'Shawn Respert',
 'Lou Roe',
 'Stefano Rusconi',
 'Arvydas Sabonis',
 'Joe Smith',
 'Eric Snow',
 'Jerry Stackhouse',
 'Damon Stoudamire',
 'Bob Sura',
 'Larry Sykes',
 'Kurt Thomas',
 'Gary Trent',
 'Logan Vander Velden',
 'David Vaughn',
 'Rasheed Wallace',
 'Jeff Webster',
 'Dwayne Whitfield',
 'Eric Williams',
 'Corliss Williamson',
 'George Zídek',
 'Shareef AbdurRahim',
 'Ray Allen',
 'Shandon Anderson',
 'Dexter Boney',
 'Bruce Bowen',
 'Mark Bradtke',
 'Marcus Brown',
 'Kobe Bryant',
 'Marcus Camby',
 'Jimmy Carruth',
 'Erick Dampier',
 'Ben Davis',
 'Emanual Davis',
 'Tony Delk',
 'Nate Driggers',
 'Brian Evans',
 'Jamie Feick',
 'Derek Fisher',
 'Todd Fuller',
 'Dean Garrett',
 'Reggie Geary',
 'Devin Gray',
 'Evric Gray',
 'Darvin Ham',
 'Steve Hamer',
 'Othella Harrington',
 'Michael Hawkins',
 'Shane Heal',
 'Mark Hendrickson',
 'Allen Iverson',
 'Kerry Kittles',
 'Travis Knight',
 'Priest Lauderdale',
 'Randy Livingston',
 'Horacio Llamas',
 'Matt Maloney',
 'Stephon Marbury',
 'Walter McCarty',
 'Amal McCaskill',
 'Jeff McInnis',
 'Martin Müürsepp',
 'Steve Nash',
 'Ruben Nembhard',
 'Gaylon Nickerson',
 'Moochie Norris',
 'Jermaine ONeal',
 'Ray Owes',
 'Vitaly Potapenko',
 'Chris Robinson',
 'Roy Rogers',
 'Malik Rose',
 'Kevin Salvadori',
 'Jason Sasser',
 'Brent Scott',
 'James Scott',
 'Shawnelle Scott',
 'Stevin Smith',
 'Matt Steigenga',
 'Joe Stephens',
 'Erick Strickland',
 'Brett Szabo',
 'Antoine Walker',
 'Samaki Walker',
 'Ben Wallace',
 'John Wallace',
 'Donald Whiteside',
 'Jerome Williams',
 'Lorenzen Wright',
 'Aleksandar Djordjevic',
 'Tariq AbdulWahad',
 'Derek Anderson',
 'Chris Anstey',
 'Drew Barry',
 'Tony Battie',
 'Chauncey Billups',
 'Etdrick Bohannon',
 'Keith Booth',
 'Rick Brunson',
 'Kelvin Cato',
 'Keith Closs',
 'James Collins',
 'James Cotton',
 'Chris Crawford',
 'Austin Croshere',
 'William Cunningham',
 'Antonio Daniels',
 'Tim Duncan',
 'Tony Farmer',
 'Danny Fortson',
 'Adonal Foyle',
 'Lawrence Funderburke',
 'Chris Garner',
 'Kiwane Lemorris Garris',
 'Ed Gray',
 'Derek Grimm',
 'Reggie Hanson',
 'Cedric Henderson',
 'Jerald Honeycutt',
 'Troy Hudson',
 'Zydrunas Ilgauskas',
 'Bobby Jackson',
 'Anthony Johnson',
 'Dontae Jones',
 'Brevin Knight',
 'Rusty LaRue',
 'Jason Lawson',
 'Michael McDonald',
 'Tracy McGrady',
 'Ron Mercer',
 'Marko Milič',
 'Jeff Nordgaard',
 'Charles OBannon',
 'Kevin Ollie',
 'Anthony Parker',
 'Scot Pollard',
 'Mark Pope',
 'Rodrick Rhodes',
 'Shea Seals',
 'God Shammgod',
 'Kebu Stewart',
 'Michael Stewart',
 'Ed Stokes',
 'Johnny Taylor',
 'Maurice Taylor',
 'John Thomas',
 'Tim Thomas',
 'Keith Van Horn',
 'Jacque Vaughn',
 'Eric Washington',
 'Bubba Wells',
 'DeJuan Wheat',
 'Alvin Williams',
 'Brandon Williams',
 'Travis Williams',
 'Peter Aluma',
 'Toby Bailey',
 'Mark Baker',
 'Corey Benjamin',
 'Mike Bibby',
 'Earl Boykins',
 'Gerald Brown',
 'Cory Carr',
 'Vince Carter',
 'Keon Clark',
 'Kornél Dávid',
 'Ricky Davis',
 'Michael Dickerson',
 'Michael Doleac',
 'Bryce Drew',
 'Marlon Garnett',
 'Pat Garrity',
 'Paul Grant',
 'Matt Harpring',
 'Al Harrington',
 'JR Henderson',
 'Larry Hughes',
 'Randell Jackson',
 'Sam Jacobson',
 'Jerome James',
 'Antawn Jamison',
 'Damon Jones',
 'Jonathan Kerner',
 'Gerard King',
 'Raef LaFrentz',
 'Rashard Lewis',
 'Felipe López',
 'Tyronn Lue',
 'Sean Marks',
 'Kelly McCarty',
 'Jelani McCoy',
 'Roshown McLeod',
 'Brad Miller',
 'Cuttino Mobley',
 'Nazr Mohammed',
 'Mikki Moore',
 'Makhtar NDiaye',
 'Tyrone Nesby',
 'Rasho Nesterović',
 'Dirk Nowitzki',
 'Michael Olowokandi',
 'Andrae Patterson',
 'Ruben Patterson',
 'Paul Pierce',
 'Casey Shaw',
 'Jeff Sheppard',
 'Miles Simon',
 'Alvin Sims',
 'Brian Skinner',
 'Ryan Stack',
 'Vladimir Stepania',
 'Peja Stojaković',
 'Bruno Šundov',
 'Robert Traylor',
 'Bonzi Wells',
 'Tyson Wheeler',
 'Jahidi White',
 'Jason Williams',
 'Shammond Williams',
 'Trevor Winter',
 'Korleone Young',
 'Rafer Alston',
 'Chucky Atkins',
 'William Avery',
 'Jonathan Bender',
 'Calvin Booth',
 'Lazaro Borrell',
 'Cal Bowdler',
 'Ryan Bowen',
 'Ira Bowman',
 'AJ Bramlett',
 'Elton Brand',
 'Greg Buckner',
 'Rodney Buford',
 'Anthony Carter',
 'John Celestand',
 'Vonteego Cummings',
 'Baron Davis',
 'Derrick Dial',
 'Obinna Ekezie',
 'Evan Eschmeyer',
 'Jeff Foster',
 'Steve Francis',
 'Devean George',
 'Dion Glover',
 'Adrian Griffin',
 'Richard Hamilton',
 'Chris Herren',
 'Derek Hood',
 'Rick Hughes',
 'Jermaine Jackson',
 'Tim James',
 'Harold Jamison',
 'DeMarco Johnson',
 'Jumaine Jones',
 'Lari Ketner',
 'Trajan Langdon',
 'Quincy Lewis',
 'Todd MacCulloch',
 'Corey Maggette',
 'Shawn Marion',
 'Andre Miller',
 'Jason Miskiri',
 'Lamar Odom',
 'Scott Padgett',
 'Milt Palacio',
 'James Posey',
 'Laron Profit',
 'Aleksandar Radojević',
 ...]

In [197]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Yr'].astype(str) + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Tm'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Age'].astype(str)

<ipython-input-197-739e1b26f921>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Yr'].astype(str) + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Tm'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Age'].astype(str)

In [198]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3']

0           Alaa Abdelnaby1991POR22
1        Mahmoud AbdulRauf1991DEN21
2               Mark Acres1991ORL28
3            Michael Adams1991DEN28
4             Mark Aguirre1991DET31
                    ...
22048    Orlando Woolridge1990LAL30
22049     Haywoode Workman1990ATL24
22050         James Worthy1990LAL28
22051          Danny Young1990POR27
22052        Michael Young1990LAC29
Name: joinkey3, Length: 20057, dtype: object

In [199]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df.merge(mvps_df, on = 'joinkey3', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,PA/G,SRS,Playoffs,Losing_season,joinkey3,Rank-MVP,First-MVP,Pts Won-MVP,Pts Max-MVP,Share-MVP
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,106.0,8.47,Y,N,Alaa Abdelnaby1991POR22,NaN,NaN,NaN,NaN,NaN
1,1991,Mahmoud AbdulRauf,PG,21,DEN,67,19.0,1505,417,1009,...,130.8,-10.31,N,Y,Mahmoud AbdulRauf1991DEN21,NaN,NaN,NaN,NaN,NaN
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,109.9,-3.79,N,Y,Mark Acres1991ORL28,NaN,NaN,NaN,NaN,NaN
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,130.8,-10.31,N,Y,Michael Adams1991DEN28,NaN,NaN,NaN,NaN,NaN
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,96.8,3.08,Y,N,Mark Aguirre1991DET31,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20052,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,103.9,6.74,Y,N,Orlando Woolridge1990LAL30,NaN,NaN,NaN,NaN,NaN
20053,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,107.5,0.64,N,N,Haywoode Workman1990ATL24,NaN,NaN,NaN,NaN,NaN
20054,1990,James Worthy,SF,28,LAL,80,80.0,2960,711,1298,...,103.9,6.74,Y,N,James Worthy1990LAL28,NaN,NaN,NaN,NaN,NaN
20055,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,107.9,6.48,Y,N,Danny Young1990POR27,NaN,NaN,NaN,NaN,NaN
20056,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,107.2,-2.80,N,Y,Michael Young1990LAC29,NaN,NaN,NaN,NaN,NaN

In [200]:
'removed special characters from player names - the rest are likely player mismatch spelling'

'removed special characters from player names - the rest are likely player mismatch spelling'

In [201]:
mvps_joinkeys = list(mvps_df['joinkey3'].unique())

In [202]:
fullset_joinkeys = list(totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3'].unique())

In [203]:
outliers_indices = []
counter = -1

for joinkey in mvps_joinkeys:
    if joinkey not in fullset_joinkeys:
        counter += 1
        outliers_indices.append(counter)
    else:
        counter += 1

In [204]:
len(outliers_indices)

0

In [205]:
'Follow same cleaning steps for DPOY dataset'

'Follow same cleaning steps for DPOY dataset'

In [206]:
dpoy_df = pd.read_csv('dpoy_data_combined.csv')
dpoy_df

,Yr,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,STL,BLK,FG%,3P%,FT%,WS,WS/48,DWS,DBPM,DRtg
0,1991,1,Dennis Rodman,29,DET,51,51,96,0.531,82,...,0.8,0.7,0.493,0.200,0.631,8.7,0.151,5.2,0.7,101
1,1991,2,David Robinson,25,SAS,18,18,96,0.188,82,...,1.5,3.9,0.552,0.143,0.762,17.0,0.264,7.6,3.3,96
2,1991,3,Alvin Robertson,28,MIL,15,15,96,0.156,81,...,3.0,0.2,0.485,0.365,0.757,7.7,0.142,4.3,2.8,103
3,1991,4,Joe Dumars,27,DET,3,3,96,0.031,80,...,1.1,0.1,0.481,0.311,0.890,9.9,0.155,3.1,0.1,108
4,1991,5,Hakeem Olajuwon,28,HOU,2,2,96,0.021,56,...,2.2,3.9,0.508,0.000,0.769,8.6,0.201,5.7,4.0,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1983,2,Tree Rollins,27,ATL,10,10,75,0.133,80,...,0.6,4.3,0.510,0.000,0.726,7.3,0.142,5.0,3.7,97
571,1983,3,Larry Bird,26,BOS,6,6,75,0.080,79,...,1.9,0.9,0.504,0.286,0.840,14.0,0.225,5.6,2.1,98
572,1983,4,Maurice Cheeks,26,PHI,6,6,75,0.080,79,...,2.3,0.4,0.542,0.167,0.754,9.4,0.183,3.8,2.3,101
573,1983,5,Michael Cooper,26,LAL,6,6,75,0.080,82,...,1.4,0.6,0.535,0.238,0.785,5.2,0.116,2.1,1.5,105
574,1983,6,Bobby Jones,31,PHI,6,6,75,0.080,74,...,1.1,1.2,0.543,0.000,0.793,6.4,0.175,3.1,2.8,99

In [207]:
dpoy_df['Player'] = dpoy_df['Player'].str.replace('[^\w\s]', '')

In [208]:
dpoy_df = dpoy_df[dpoy_df['Yr'] >= 1983]

In [209]:
dpoy_df['Tm'] = dpoy_df['Tm'].map(extra_mappings)
dpoy_df['Tm'].unique()

array(['DET', 'SAS', 'MIL', 'HOU', 'POR', 'NYK', 'DAL', 'CHI', 'UTA',
       'PHO', 'DEN', 'SEA', 'ATL', 'IND', 'CHA', 'ORL', 'LAC', 'GSW',
       'BOS', 'MIN', 'NJN', 'CLE', 'MIA', 'PHI', 'TOT', 'LAL', 'SAC',
       'MEM', 'WAS', 'NOP', 'TOR', 'NOH', 'OKC', 'BRK', 'WSB'],
      dtype=object)

In [210]:
dpoy_df = dpoy_df[dpoy_df['Tm'] != 'TOT']
dpoy_df['Tm'].unique()

array(['DET', 'SAS', 'MIL', 'HOU', 'POR', 'NYK', 'DAL', 'CHI', 'UTA',
       'PHO', 'DEN', 'SEA', 'ATL', 'IND', 'CHA', 'ORL', 'LAC', 'GSW',
       'BOS', 'MIN', 'NJN', 'CLE', 'MIA', 'PHI', 'LAL', 'SAC', 'MEM',
       'WAS', 'NOP', 'TOR', 'NOH', 'OKC', 'BRK', 'WSB'], dtype=object)

In [211]:
dpoy_df['joinkey3'] = dpoy_df['Player'] + dpoy_df['Yr'].astype(str) + dpoy_df['Tm'] + dpoy_df['Age'].astype(str)

In [212]:
dpoy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564 entries, 0 to 574
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr        564 non-null    int64
 1   Rank      564 non-null    int64
 2   Player    564 non-null    object
 3   Age       564 non-null    int64
 4   Tm        564 non-null    object
 5   First     564 non-null    int64
 6   Pts Won   564 non-null    int64
 7   Pts Max   564 non-null    int64
 8   Share     564 non-null    float64
 9   G         564 non-null    int64
 10  MP        564 non-null    float64
 11  PTS       564 non-null    float64
 12  TRB       564 non-null    float64
 13  AST       564 non-null    float64
 14  STL       564 non-null    float64
 15  BLK       564 non-null    float64
 16  FG%       564 non-null    float64
 17  3P%       523 non-null    float64
 18  FT%       564 non-null    float64
 19  WS        564 non-null    float64
 20  WS/48     564 non-null    float64
 21  DWS       564 non-null    float64
 22  DBPM      564 non-null    float64
 23  DRtg      564 non-null    int64
 24  joinkey3  564 non-null    object
dtypes: float64(14), int64(8), object(3)
memory usage: 114.6+ KB

In [213]:
dpoy_remove_cols = ['Yr', 'Player', 'Age', 'Tm', 'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS', 'WS/48', 'DWS', 'DBPM', 'DRtg']

In [214]:
dpoy_df = dpoy_df.drop(dpoy_remove_cols, axis = 1)
dpoy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564 entries, 0 to 574
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      564 non-null    int64
 1   First     564 non-null    int64
 2   Pts Won   564 non-null    int64
 3   Pts Max   564 non-null    int64
 4   Share     564 non-null    float64
 5   joinkey3  564 non-null    object
dtypes: float64(1), int64(4), object(1)
memory usage: 30.8+ KB

In [215]:
dpoy_df = dpoy_df.rename(columns = {'Rank':'Rank-DPOY', 'First':'First-DPOY', 'Pts Won':'Pts won-DPOY', 'Pts Max':'Pts Max-DPOY', 'Share':'Share-DPOY'})
dpoy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564 entries, 0 to 574
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank-DPOY     564 non-null    int64
 1   First-DPOY    564 non-null    int64
 2   Pts won-DPOY  564 non-null    int64
 3   Pts Max-DPOY  564 non-null    int64
 4   Share-DPOY    564 non-null    float64
 5   joinkey3      564 non-null    object
dtypes: float64(1), int64(4), object(1)
memory usage: 30.8+ KB

In [216]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_and_dpoys_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df.merge(dpoy_df, on = 'joinkey3', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_and_dpoys_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Rank-MVP,First-MVP,Pts Won-MVP,Pts Max-MVP,Share-MVP,Rank-DPOY,First-DPOY,Pts won-DPOY,Pts Max-DPOY,Share-DPOY
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,Mahmoud AbdulRauf,PG,21,DEN,67,19.0,1505,417,1009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20052,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20053,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20054,1990,James Worthy,SF,28,LAL,80,80.0,2960,711,1298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20055,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20056,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
dpoy_joinkeys = list(dpoy_df['joinkey3'].unique())

In [218]:
outliers_indices = []
counter = -1

for joinkey in mvps_joinkeys:
    if joinkey not in fullset_joinkeys:
        counter += 1
        outliers_indices.append(counter)
    else:
        counter += 1

In [219]:
outliers_indices

[]

In [220]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_and_dpoys_df.to_csv('test_join.csv', index = False)

In [221]:
'Visualize and further clean joined dataset'

'Visualize and further clean joined dataset'