In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mvp_df = pd.read_csv('mvps.csv', encoding='latin-1', sep = ';')

In [3]:
print(mvp_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     474 non-null    object
 1   Player   474 non-null    object
 2   Age      474 non-null    int64
 3   Tm       474 non-null    object
 4   First    474 non-null    int64
 5   Pts Won  474 non-null    int64
 6   Pts Max  474 non-null    int64
 7   Share    474 non-null    float64
 8   G        474 non-null    int64
 9   MP       474 non-null    float64
 10  PTS      474 non-null    float64
 11  TRB      474 non-null    float64
 12  AST      474 non-null    float64
 13  STL      474 non-null    float64
 14  BLK      474 non-null    float64
 15  FG%      474 non-null    float64
 16  3P%      474 non-null    float64
 17  FT%      474 non-null    float64
 18  WS       474 non-null    float64
 19  WS/48    474 non-null    float64
 20  Year     474 non-null    int64
dtypes: float64(12), int64(6), object(3)
memory usage: 77.9+ KB
None

In [4]:
print(mvp_df.head())

  Rank           Player  Age   Tm  First  Pts Won  Pts Max  Share   G    MP  \
0    1   Michael Jordan   27  CHI     77      891      960  0.928  82  37.0
1    2    Magic Johnson   31  LAL     10      497      960  0.518  79  37.1
2    3   David Robinson   25  SAS      6      476      960  0.496  82  37.7
3    4  Charles Barkley   27  PHI      2      222      960  0.231  67  37.3
4    5      Karl Malone   27  UTA      0      142      960  0.148  82  40.3

   ...   TRB   AST  STL  BLK    FG%    3P%    FT%    WS  WS/48  Year
0  ...   6.0   5.5  2.7  1.0  0.539  0.312  0.851  20.3  0.321  1991
1  ...   7.0  12.5  1.3  0.2  0.477  0.320  0.906  15.4  0.251  1991
2  ...  13.0   2.5  1.5  3.9  0.552  0.143  0.762  17.0  0.264  1991
3  ...  10.1   4.2  1.6  0.5  0.570  0.284  0.722  13.4  0.258  1991
4  ...  11.8   3.3  1.1  1.0  0.527  0.286  0.770  15.5  0.225  1991

[5 rows x 21 columns]

In [5]:
winners = mvp_df[mvp_df['Rank'] == '1']
print(winners.Player.unique())

['Michael Jordan' 'Charles Barkley' 'Hakeem Olajuwon' 'David Robinson'
 'Karl Malone' "Shaquille O'Neal" 'Allen Iverson' 'Tim Duncan'
 'Kevin Garnett' 'Steve Nash' 'Dirk Nowitzki' 'Kobe Bryant' 'LeBron James'
 'Derrick Rose' 'Kevin Durant' 'Stephen Curry' 'Russell Westbrook'
 'James Harden' 'Giannis Antetokounmpo' 'Nikola Joki?']

In [6]:
winners

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
20,1,Michael Jordan,28,CHI,80,900,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
37,1,Charles Barkley,29,PHO,59,835,980,0.852,76,37.6,...,12.2,5.1,1.6,1.0,0.520,0.305,0.765,14.4,0.242,1993
51,1,Hakeem Olajuwon,31,HOU,66,889,1010,0.880,80,41.0,...,11.9,3.6,1.6,3.7,0.528,0.421,0.716,14.3,0.210,1994
68,1,David Robinson,29,SAS,73,901,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
83,1,Michael Jordan,32,CHI,109,1114,1130,0.986,82,37.7,...,6.6,4.3,2.2,0.5,0.495,0.427,0.834,20.4,0.317,1996
100,1,Karl Malone,33,UTA,63,986,1150,0.857,82,36.6,...,9.9,4.5,1.4,0.6,0.550,0.000,0.755,16.7,0.268,1997
120,1,Michael Jordan,34,CHI,92,1084,1160,0.934,82,38.8,...,5.8,3.5,1.7,0.5,0.465,0.238,0.784,15.8,0.238,1998
139,1,Karl Malone,35,UTA,44,827,1180,0.701,49,37.4,...,9.4,4.1,1.3,0.6,0.493,0.000,0.788,9.6,0.252,1999
160,1,Shaquille O'Neal,27,LAL,120,1207,1210,0.998,79,40.0,...,13.6,3.8,0.5,3.0,0.574,0.000,0.524,18.6,0.283,2000
176,1,Allen Iverson,25,PHI,93,1121,1240,0.904,71,42.0,...,3.8,4.6,2.5,0.3,0.420,0.320,0.814,11.8,0.190,2001
193,1,Tim Duncan,25,SAS,57,954,1260,0.757,82,40.6,...,12.7,3.7,0.7,2.5,0.508,0.100,0.799,17.8,0.257,2002
211,1,Tim Duncan,26,SAS,60,962,1190,0.808,81,39.3,...,12.9,3.9,0.7,2.9,0.513,0.273,0.710,16.5,0.248,2003
224,1,Kevin Garnett,27,MIN,120,1219,1230,0.991,82,39.4,...,13.9,5.0,1.5,2.2,0.499,0.256,0.791,18.3,0.272,2004
240,1,Steve Nash,30,PHO,65,1066,1270,0.839,75,34.3,...,3.3,11.5,1.0,0.1,0.502,0.431,0.887,10.9,0.203,2005
256,1,Steve Nash,31,PHO,57,924,1250,0.739,79,35.4,...,4.2,10.5,0.8,0.2,0.512,0.439,0.921,12.4,0.212,2006
267,1,Dirk Nowitzki,28,DAL,83,1138,1290,0.882,78,36.2,...,8.9,3.4,0.7,0.8,0.502,0.416,0.904,16.3,0.278,2007
284,1,Kobe Bryant,29,LAL,82,1100,1260,0.873,82,38.9,...,6.3,5.4,1.8,0.5,0.459,0.361,0.840,13.8,0.208,2008
301,1,LeBron James,24,CLE,109,1172,1210,0.969,81,37.7,...,7.6,7.2,1.7,1.1,0.489,0.344,0.780,20.3,0.318,2009
313,1,LeBron James,25,CLE,116,1205,1230,0.980,76,39.0,...,7.3,8.6,1.6,1.0,0.503,0.333,0.767,18.5,0.299,2010
328,1,Derrick Rose,22,CHI,113,1182,1210,0.977,81,37.4,...,4.1,7.7,1.0,0.6,0.445,0.332,0.858,13.1,0.208,2011
341,1,LeBron James,27,MIA,85,1074,1210,0.888,62,37.5,...,7.9,6.2,1.9,0.8,0.531,0.362,0.771,14.5,0.298,2012
356,1,LeBron James,28,MIA,120,1207,1210,0.998,76,37.9,...,8.0,7.3,1.7,0.9,0.565,0.406,0.753,19.3,0.322,2013
372,1,Kevin Durant,25,OKC,119,1232,1250,0.986,81,38.5,...,7.4,5.5,1.3,0.7,0.503,0.391,0.873,19.2,0.295,2014
389,1,Stephen Curry,26,GSW,100,1198,1300,0.922,80,32.7,...,4.3,7.7,2.0,0.2,0.487,0.443,0.914,15.7,0.288,2015
401,1,Stephen Curry,27,GSW,131,1310,1310,1.000,79,34.2,...,5.4,6.7,2.1,0.2,0.504,0.454,0.908,17.9,0.318,2016
411,1,Russell Westbrook,28,OKC,69,888,1010,0.879,81,34.6,...,10.7,10.4,1.6,0.4,0.425,0.343,0.845,13.1,0.224,2017
422,1,James Harden,28,HOU,86,965,1010,0.955,72,35.4,...,5.4,8.8,1.8,0.7,0.449,0.367,0.858,15.4,0.289,2018
435,1,Giannis Antetokounmpo,24,MIL,78,941,1010,0.932,72,32.8,...,12.5,5.9,1.3,1.5,0.578,0.256,0.729,14.4,0.292,2019
447,1,Giannis Antetokounmpo,25,MIL,85,962,1010,0.952,63,30.4,...,13.6,5.6,1.0,1.0,0.553,0.304,0.633,11.1,0.279,2020
459,1,Nikola Joki?,25,DEN,91,971,1010,0.961,72,34.6,...,10.8,8.3,1.3,0.7,0.566,0.388,0.868,15.6,0.301,2021

In [7]:
players_df = pd.read_csv('players.csv', encoding='latin-1', sep = ';')

In [8]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18044 entries, 0 to 18043
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      18044 non-null  object
 1   Player  18044 non-null  object
 2   Pos     18044 non-null  object
 3   Age     18044 non-null  object
 4   Tm      18044 non-null  object
 5   G       18044 non-null  object
 6   GS      18044 non-null  object
 7   MP      18044 non-null  object
 8   FG      18044 non-null  object
 9   FGA     18044 non-null  object
 10  FG%     18044 non-null  object
 11  3P      18044 non-null  object
 12  3PA     18044 non-null  object
 13  3P%     18044 non-null  object
 14  2P      18044 non-null  object
 15  2PA     18044 non-null  object
 16  2P%     18044 non-null  object
 17  eFG%    18044 non-null  object
 18  FT      18044 non-null  object
 19  FTA     18044 non-null  object
 20  FT%     18044 non-null  object
 21  ORB     18044 non-null  object
 22  DRB     18044 non-null  object
 23  TRB     18044 non-null  object
 24  AST     18044 non-null  object
 25  STL     18044 non-null  object
 26  BLK     18044 non-null  object
 27  TOV     18044 non-null  object
 28  PF      18044 non-null  object
 29  PTS     18044 non-null  object
 30  Year    18044 non-null  int64
dtypes: int64(1), object(30)
memory usage: 4.3+ MB

In [9]:
players_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18039,536,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,...,1,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10,2021
18040,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2,2.2,12.1,2021
18041,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
18042,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
18043,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9,2021

In [10]:
teams_df = pd.read_csv('teams.csv', encoding='latin-1', sep = ';')

In [11]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       1033 non-null   object
 1   L       1033 non-null   object
 2   W/L%    1033 non-null   object
 3   GB      1033 non-null   object
 4   PS/G    1033 non-null   object
 5   PA/G    1033 non-null   object
 6   SRS     1033 non-null   object
 7   Year    1033 non-null   int64
 8   Team    1033 non-null   object
dtypes: int64(1), object(8)
memory usage: 72.8+ KB

In [12]:
teams_df

       W   L   W/L%  GB   PS/G   PA/G    SRS  Year                  Team
0     56  26  0.683     111.5  105.7   5.22  1991       Boston Celtics*
1     44  38  0.537  12  105.4  105.6  -0.39  1991   Philadelphia 76ers*
2     39  43  0.476  17  103.1  103.3  -0.43  1991      New York Knicks*
3     30  52  0.366  26  101.4  106.4  -4.84  1991    Washington Bullets
4     26  56  0.317  30  102.9  107.5  -4.53  1991       New Jersey Nets
...   ..  ..    ...  ..    ...    ...    ...   ...                   ...
1028  42  30  0.583     112.4  110.2   2.26  2021     Dallas Mavericks*
1029  38  34  0.528   4  113.3  112.3   1.07  2021    Memphis Grizzlies*
1030  33  39  0.458   9  111.1  112.8  -1.58  2021     San Antonio Spurs
1031  31  41  0.431  11  114.6  114.9   -0.2  2021  New Orleans Pelicans
1032  17  55  0.236  25  108.8  116.7   -7.5  2021       Houston Rockets

[1033 rows x 9 columns]

In [13]:
player_mvp_df = pd.read_csv('player_mvp_stats.csv', encoding='latin-1', sep = ';')

In [14]:
player_mvp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 41 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   14092 non-null  object
 1   Pos      14092 non-null  object
 2   Age      14092 non-null  int64
 3   Tm       14092 non-null  object
 4   G        14092 non-null  int64
 5   GS       14092 non-null  int64
 6   MP       14092 non-null  float64
 7   FG       14092 non-null  float64
 8   FGA      14092 non-null  float64
 9   FG%      14042 non-null  float64
 10  3P       14092 non-null  float64
 11  3PA      14092 non-null  float64
 12  3P%      12050 non-null  float64
 13  2P       14092 non-null  float64
 14  2PA      14092 non-null  float64
 15  2P%      14008 non-null  float64
 16  eFG%     14042 non-null  float64
 17  FT       14092 non-null  float64
 18  FTA      14092 non-null  float64
 19  FT%      13630 non-null  float64
 20  ORB      14092 non-null  float64
 21  DRB      14092 non-null  float64
 22  TRB      14092 non-null  float64
 23  AST      14092 non-null  float64
 24  STL      14092 non-null  float64
 25  BLK      14092 non-null  float64
 26  TOV      14092 non-null  float64
 27  PF       14092 non-null  float64
 28  PTS      14092 non-null  float64
 29  Year     14092 non-null  int64
 30  Pts Won  14092 non-null  int64
 31  Pts Max  14092 non-null  int64
 32  Share    14092 non-null  float64
 33  Team     14092 non-null  object
 34  W        14092 non-null  int64
 35  L        14092 non-null  int64
 36  W/L%     14092 non-null  float64
 37  GB       14092 non-null  float64
 38  PS/G     14092 non-null  float64
 39  PA/G     14092 non-null  float64
 40  SRS      14092 non-null  float64
dtypes: float64(29), int64(8), object(4)
memory usage: 4.4+ MB

In [15]:
player_mvp_df[player_mvp_df['Year'] == 2021]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
630,Aaron Gordon,PF,25,DEN,50,50,27.7,4.6,10.0,0.463,...,0,0.0,Denver Nuggets,47,25,0.653,5.0,115.1,110.1,4.82
631,Austin Rivers,SG,28,DEN,36,7,23.5,2.9,6.8,0.424,...,0,0.0,Denver Nuggets,47,25,0.653,5.0,115.1,110.1,4.82
632,Bol Bol,PF,21,DEN,32,2,5.0,0.8,1.8,0.431,...,0,0.0,Denver Nuggets,47,25,0.653,5.0,115.1,110.1,4.82
633,Facundo Campazzo,PG,29,DEN,65,19,21.9,1.8,4.8,0.381,...,0,0.0,Denver Nuggets,47,25,0.653,5.0,115.1,110.1,4.82
634,Greg Whittington,PF,27,DEN,4,0,3.0,0.0,0.8,0.000,...,0,0.0,Denver Nuggets,47,25,0.653,5.0,115.1,110.1,4.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13897,Patty Mills,PG,32,SAS,68,1,24.8,3.7,9.0,0.412,...,0,0.0,San Antonio Spurs,33,39,0.458,9.0,111.1,112.8,-1.58
13898,Quinndary Weatherspoon,SG,24,SAS,20,0,6.1,0.8,1.8,0.457,...,0,0.0,San Antonio Spurs,33,39,0.458,9.0,111.1,112.8,-1.58
13899,Rudy Gay,PF,34,SAS,63,1,21.6,4.2,10.0,0.420,...,0,0.0,San Antonio Spurs,33,39,0.458,9.0,111.1,112.8,-1.58
13900,Tre Jones,PG,21,SAS,37,1,7.3,1.0,2.1,0.474,...,0,0.0,San Antonio Spurs,33,39,0.458,9.0,111.1,112.8,-1.58
13901,Trey Lyles,PF,25,SAS,23,9,15.6,1.9,3.9,0.478,...,0,0.0,San Antonio Spurs,33,39,0.458,9.0,111.1,112.8,-1.58

In [24]:
player_mvp_df['Year'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2017, 2010, 2011, 2012, 2013, 2014, 2015, 2008, 2009,
       2016, 2018, 2019, 2020, 2021, 2004, 2005, 2006, 2007])

In [20]:
'The above dataset is the combined version that has all players in a given season and the amount of MVP votes they got even if 0. This is joined with the team stats as well'

'The above dataset is the combined version that has all players in a given season and the amount of MVP votes they got even if 0. This is joined with the team stats as well'

In [17]:
### EDA + visualizations on the above combined MVP dataset

In [18]:
'My next step is to find DPOY vote data and incorporate it into the above dataset -https://www.basketball-reference.com/awards/awards_2022.html'

'My next step is to find DPOY vote data and incorporate it into the above dataset -https://www.basketball-reference.com/awards/awards_2022.html'

In [19]:
'Looks like there are a few additional advanced statistics to consider for DPOY i.e. Defensive Win Share'

'Looks like there are a few additional advanced statistics to consider for DPOY i.e. Defensive Win Share'