In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
from urllib.request import urlopen

In [92]:
from bs4 import BeautifulSoup

In [93]:
integer_years = list(range(1991,2024))
string_years = list(map(str, integer_years))
print(string_years)

['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [94]:
integer_years2 = list(range(1980,1991))
string_years2 = list(map(str, integer_years2))
print(string_years2)

['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990']

In [6]:
def scrape_advanced_stats(years):
    advanced_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_advanced.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        headers = list(map(lambda x: x.replace(' ', 'Blank'), headers))
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_advanced_stats_df = pd.DataFrame(rows_data, columns = headers)
        year_advanced_stats_df = year_advanced_stats_df.drop(columns = '\xa0', axis = 1)
        advanced_stats_df = advanced_stats_df.append(year_advanced_stats_df)
    print(advanced_stats_df)
    advanced_stats_df.to_csv("advanced_stats2.csv", index=False)

In [7]:
scrape_advanced_stats(string_years2)

       Yr                Player Pos Age   Tm   G    MP   PER   TS%  3PAr  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82  3143  25.3  .639  .001  ...
1    1980         Tom Abernethy  PF  25  GSW  67  1222  11.0  .511  .003  ...
2    1980           Alvan Adams   C  25  PHO  75  2168  19.2  .571  .002  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  2864  15.3  .574  .023  ...
4    1980         Dennis Awtrey   C  31  CHI  26   560   7.4  .524  .000  ...
..    ...                   ...  ..  ..  ...  ..   ...   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62  1421  17.6  .601  .009  ...
455  1990      Haywoode Workman  PG  24  ATL   6    16  26.1  .773  .000  ...
456  1990         James Worthy*  SF  28  LAL  80  2960  19.8  .586  .038  ...
457  1990           Danny Young  PG  27  POR  82  1393  11.5  .508  .180  ...
458  1990         Michael Young  SF  29  LAC  45   459  16.0  .520  .134  ...

     TOV%  USG%  OWS  DWS    WS WS/48  OBPM  DBPM   BPM VORP
0    15.7  24.1  9.5  5.3  14.8  .227   4.8   2.4   7.2  7.3
1     9.9  13.3  1.2  0.8   2.0  .080  -1.0  -0.2  -1.2  0.2
2    18.2  21.9  3.1  3.9   7.0  .155   1.7   1.9   3.6  3.1
3    19.7  17.0  5.9  2.9   8.9  .148   1.4  -0.3   1.1  2.3
4    24.8   7.9  0.1  0.5   0.6  .053  -2.3   0.9  -1.4  0.1
..    ...   ...  ...  ...   ...   ...   ...   ...   ...  ...
454  10.0  21.9  3.3  1.5   4.8  .161   1.3   0.2   1.5  1.3
455   0.0  10.2  0.1  0.0   0.1  .357  -0.2  13.8  13.6  0.1
456  10.0  23.0  7.5  3.1  10.6  .172   3.6   0.2   3.8  4.3
457  17.5  12.9  1.0  1.9   3.0  .103  -1.2   2.1   0.9  1.0
458   6.6  20.5  0.6  0.5   1.1  .119   0.4   0.0   0.4  0.3

[4269 rows x 27 columns]

In [30]:
scrape_advanced_stats(string_years)

       Yr              Player Pos Age   Tm   G    MP   PER   TS%  3PAr  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   290  13.1  .499  .000  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  1505  12.2  .448  .099  ...
2    1991          Mark Acres   C  28  ORL  68  1313   9.2  .551  .014  ...
3    1991       Michael Adams  PG  28  DEN  66  2346  22.3  .530  .397  ...
4    1991        Mark Aguirre  SF  31  DET  78  2006  16.7  .526  .086  ...
..    ...                 ...  ..  ..  ...  ..   ...   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   795  14.1  .573  .172  ...
675  2023          Trae Young  PG  24  ATL  73  2541  22.0  .573  .331  ...
676  2023      Omer Yurtseven   C  24  MIA   9    83  16.7  .675  .259  ...
677  2023         Cody Zeller   C  30  MIA  15   217  16.4  .659  .034  ...
678  2023         Ivica Zubac   C  25  LAC  76  2170  16.7  .661  .004  ...

     TOV%  USG%   OWS   DWS    WS   WS/48  OBPM  DBPM   BPM  VORP
0    14.0  22.1   0.0   0.5   0.5    .079  -3.4  -1.2  -4.6  -0.2
1     9.5  27.2  -0.7  -0.3  -1.0  -0.031  -2.0  -3.0  -5.0  -1.1
2    14.0   9.3   1.4   1.1   2.5    .090  -2.8  -0.2  -3.0  -0.3
3    12.7  28.5   5.8   0.4   6.3    .128   6.0  -0.7   5.3   4.3
4    10.9  25.7   2.8   2.7   5.5    .132   1.2   0.2   1.4   1.7
..    ...   ...   ...   ...   ...     ...   ...   ...   ...   ...
674  16.7  13.5   0.7   1.1   1.8    .109  -1.8   1.9   0.1   0.4
675  15.2  32.6   5.3   1.4   6.7    .126   5.3  -2.0   3.3   3.4
676  11.9  18.0   0.2   0.1   0.3    .159  -2.5  -1.5  -3.9   0.0
677  15.8  18.1   0.4   0.3   0.7    .147  -2.0  -0.7  -2.8   0.0
678  15.9  14.8   3.8   2.9   6.7    .149  -1.1   0.2  -0.9   0.6

[18877 rows x 27 columns]

In [8]:
def scrape_totals_stats(years):
    totals_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_totals.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_totals_stats_df = pd.DataFrame(rows_data, columns = headers)
        totals_stats_df = totals_stats_df.append(year_totals_stats_df)
    print(totals_stats_df)
    totals_stats_df.to_csv("totals_stats2.csv", index=False)

In [9]:
scrape_totals_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  835  1383  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222  153   318  ...
2    1980           Alvan Adams   C  25  PHO  75      2168  465   875  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864  383   794  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560   27    60  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  306   550  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16    2     3  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  711  1298  ...
457  1990           Danny Young  PG  27  POR  82   8  1393  138   328  ...
458  1990         Michael Young  SF  29  LAC  45   2   459   92   194  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  190  696  886  371   81  280  297  216  2034
1     .683   62  129  191   87   35   12   39  118   362
2     .797  158  451  609  322  108   55  218  237  1118
3     .830   59  138  197  671  106   10  242  218  1131
4     .640   29   86  115   40   12   15   27   66    86
..     ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
454   .733   49  136  185   96   39   46   73  160   788
455  1.000    0    3    3    2    3    0    0    3     6
456   .782  160  318  478  288   99   49  160  190  1685
457   .813   29   93  122  231   82    4   80   84   383
458   .711   36   50   86   24   25    3   15   47   219

[4269 rows x 30 columns]

In [28]:
scrape_totals_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   55   116  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  417  1009  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313  109   214  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346  560  1421  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006  420   909  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795  108   198  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541  597  1390  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   16    27  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   37    59  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170  326   514  ...

      FT%  ORB  DRB  TRB  AST  STL BLK  TOV   PF   PTS
0    .568   27   62   89   12    4  12   22   39   135
1    .857   34   87  121  206   55   4  110  149   942
2    .653  140  219  359   25   25  25   42  218   285
3    .879   58  198  256  693  147   6  240  162  1752
4    .757  134  240  374  139   47  20  128  209  1104
..    ...  ...  ...  ...  ...  ...  ..  ...  ...   ...
674  .692   71   95  166   75   54   5   42   88   240
675  .886   56  161  217  741   80   9  300  104  1914
676  .833    8   15   23    2    2   2    4   16    40
677  .686   25   39   64   10    3   4   14   33    98
678  .697  236  520  756   77   29  98  117  219   818

[18877 rows x 30 columns]

In [10]:
def scrape_pergame_stats(years):
    pergame_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_game.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_pergame_stats_df = pd.DataFrame(rows_data, columns = headers)
        pergame_stats_df = pergame_stats_df.append(year_pergame_stats_df)
    print(pergame_stats_df)
    pergame_stats_df.to_csv("pergame_stats2.csv", index=False)

In [11]:
scrape_pergame_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      38.3  10.2  16.9  ...
1    1980         Tom Abernethy  PF  25  GSW  67      18.2   2.3   4.7  ...
2    1980           Alvan Adams   C  25  PHO  75      28.9   6.2  11.7  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  35.8   4.8   9.9  ...
4    1980         Dennis Awtrey   C  31  CHI  26      21.5   1.0   2.3  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  22.9   4.9   8.9  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0   2.7   0.3   0.5  ...
456  1990         James Worthy*  SF  28  LAL  80  80  37.0   8.9  16.2  ...
457  1990           Danny Young  PG  27  POR  82   8  17.0   1.7   4.0  ...
458  1990         Michael Young  SF  29  LAC  45   2  10.2   2.0   4.3  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  2.3  8.5  10.8  4.5  1.0  3.4  3.6  2.6  24.8
1     .683  0.9  1.9   2.9  1.3  0.5  0.2  0.6  1.8   5.4
2     .797  2.1  6.0   8.1  4.3  1.4  0.7  2.9  3.2  14.9
3     .830  0.7  1.7   2.5  8.4  1.3  0.1  3.0  2.7  14.1
4     .640  1.1  3.3   4.4  1.5  0.5  0.6  1.0  2.5   3.3
..     ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
454   .733  0.8  2.2   3.0  1.5  0.6  0.7  1.2  2.6  12.7
455  1.000  0.0  0.5   0.5  0.3  0.5  0.0  0.0  0.5   1.0
456   .782  2.0  4.0   6.0  3.6  1.2  0.6  2.0  2.4  21.1
457   .813  0.4  1.1   1.5  2.8  1.0  0.0  1.0  1.0   4.7
458   .711  0.8  1.1   1.9  0.5  0.6  0.1  0.3  1.0   4.9

[4269 rows x 30 columns]

In [30]:
scrape_pergame_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   6.7  1.3   2.7  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  22.5  6.2  15.1  ...
2    1991          Mark Acres   C  28  ORL  68   0  19.3  1.6   3.1  ...
3    1991       Michael Adams  PG  28  DEN  66  66  35.5  8.5  21.5  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  25.7  5.4  11.7  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9  14.7  2.0   3.7  ...
675  2023          Trae Young  PG  24  ATL  73  73  34.8  8.2  19.0  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0   9.2  1.8   3.0  ...
677  2023         Cody Zeller   C  30  MIA  15   2  14.5  2.5   3.9  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  28.6  4.3   6.8  ...

      FT%  ORB  DRB  TRB   AST  STL  BLK  TOV   PF   PTS
0    .568  0.6  1.4  2.1   0.3  0.1  0.3  0.5  0.9   3.1
1    .857  0.5  1.3  1.8   3.1  0.8  0.1  1.6  2.2  14.1
2    .653  2.1  3.2  5.3   0.4  0.4  0.4  0.6  3.2   4.2
3    .879  0.9  3.0  3.9  10.5  2.2  0.1  3.6  2.5  26.5
4    .757  1.7  3.1  4.8   1.8  0.6  0.3  1.6  2.7  14.2
..    ...  ...  ...  ...   ...  ...  ...  ...  ...   ...
674  .692  1.3  1.8  3.1   1.4  1.0  0.1  0.8  1.6   4.4
675  .886  0.8  2.2  3.0  10.2  1.1  0.1  4.1  1.4  26.2
676  .833  0.9  1.7  2.6   0.2  0.2  0.2  0.4  1.8   4.4
677  .686  1.7  2.6  4.3   0.7  0.2  0.3  0.9  2.2   6.5
678  .697  3.1  6.8  9.9   1.0  0.4  1.3  1.5  2.9  10.8

[18877 rows x 30 columns]

In [12]:
def scrape_per36min_stats(years):
    per36min_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_minute.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_per36min_stats_df = pd.DataFrame(rows_data, columns = headers)
        per36min_stats_df = per36min_stats_df.append(year_per36min_stats_df)
    print(per36min_stats_df)
    per36min_stats_df.to_csv("per36min_stats2.csv", index=False)

In [13]:
scrape_per36min_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP   FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  9.6  15.8  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222  4.5   9.4  ...
2    1980           Alvan Adams   C  25  PHO  75      2168  7.7  14.5  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864  4.8  10.0  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560  1.7   3.9  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...  ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  7.8  13.9  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16  4.5   6.8  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  8.6  15.8  ...
457  1990           Danny Young  PG  27  POR  82   8  1393  3.6   8.5  ...
458  1990         Michael Young  SF  29  LAC  45   2   459  7.2  15.2  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0     .765  2.2  8.0  10.1  4.2  0.9  3.2  3.4  2.5  23.3
1     .683  1.8  3.8   5.6  2.6  1.0  0.4  1.1  3.5  10.7
2     .797  2.6  7.5  10.1  5.3  1.8  0.9  3.6  3.9  18.6
3     .830  0.7  1.7   2.5  8.4  1.3  0.1  3.0  2.7  14.2
4     .640  1.9  5.5   7.4  2.6  0.8  1.0  1.7  4.2   5.5
..     ...  ...  ...   ...  ...  ...  ...  ...  ...   ...
454   .733  1.2  3.4   4.7  2.4  1.0  1.2  1.8  4.1  20.0
455  1.000  0.0  6.8   6.8  4.5  6.8  0.0  0.0  6.8  13.5
456   .782  1.9  3.9   5.8  3.5  1.2  0.6  1.9  2.3  20.5
457   .813  0.7  2.4   3.2  6.0  2.1  0.1  2.1  2.2   9.9
458   .711  2.8  3.9   6.7  1.9  2.0  0.2  1.2  3.7  17.2

[4269 rows x 29 columns]

In [32]:
scrape_per36min_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   6.8  14.4  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  10.0  24.1  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313   3.0   5.9  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346   8.6  21.8  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006   7.5  16.3  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795   4.9   9.0  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541   8.5  19.7  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   6.9  11.7  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   6.1   9.8  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170   5.4   8.5  ...

      FT%  ORB  DRB   TRB   AST  STL  BLK  TOV   PF   PTS
0    .568  3.4  7.7  11.0   1.5  0.5  1.5  2.7  4.8  16.8
1    .857  0.8  2.1   2.9   4.9  1.3  0.1  2.6  3.6  22.5
2    .653  3.8  6.0   9.8   0.7  0.7  0.7  1.2  6.0   7.8
3    .879  0.9  3.0   3.9  10.6  2.3  0.1  3.7  2.5  26.9
4    .757  2.4  4.3   6.7   2.5  0.8  0.4  2.3  3.8  19.8
..    ...  ...  ...   ...   ...  ...  ...  ...  ...   ...
674  .692  3.2  4.3   7.5   3.4  2.4  0.2  1.9  4.0  10.9
675  .886  0.8  2.3   3.1  10.5  1.1  0.1  4.3  1.5  27.1
676  .833  3.5  6.5  10.0   0.9  0.9  0.9  1.7  6.9  17.3
677  .686  4.1  6.5  10.6   1.7  0.5  0.7  2.3  5.5  16.3
678  .697  3.9  8.6  12.5   1.3  0.5  1.6  1.9  3.6  13.6

[18877 rows x 29 columns]

In [9]:
def scrape_per100pos_stats(years):
    per100pos_stats_df = pd.DataFrame(columns = ['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF','PTS', 'ORtg', 'DRtg'])
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_per_poss.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        headers.remove('Rk')
        headers.insert(0, 'Yr')
        rows = soup.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
        year_per100pos_stats_df = pd.DataFrame(rows_data, columns = headers)
        per100pos_stats_df = per100pos_stats_df.append(year_per100pos_stats_df)
    print(per100pos_stats_df)
    per100pos_stats_df.to_csv("per100pos_stats2.csv", index=False)

In [15]:
scrape_per100pos_stats(string_years2)

       Yr                Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1980  Kareem Abdul-Jabbar*   C  32  LAL  82      3143  12.3  20.3  ...
1    1980         Tom Abernethy  PF  25  GSW  67      1222   6.0  12.4  ...
2    1980           Alvan Adams   C  25  PHO  75      2168   9.8  18.5  ...
3    1980       Tiny Archibald*  PG  31  BOS  80  80  2864   6.3  13.0  ...
4    1980         Dennis Awtrey   C  31  CHI  26       560   2.3   5.0  ...
..    ...                   ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
454  1990     Orlando Woolridge  SF  30  LAL  62   2  1421  10.7  19.3  ...
455  1990      Haywoode Workman  PG  24  ATL   6   0    16   6.3   9.4  ...
456  1990         James Worthy*  SF  28  LAL  80  80  2960  12.0  21.9  ...
457  1990           Danny Young  PG  27  POR  82   8  1393   4.6  11.0  ...
458  1990         Michael Young  SF  29  LAC  45   2   459   9.7  20.5  ...

      TRB   AST  STL  BLK  TOV   PF   PTS ORtg DRtg
0    13.0   5.4  1.2  4.1  4.4  3.2  29.8  118  100
1     7.5   3.4  1.4  0.5  1.5  4.6  14.1  109  108
2    12.9   6.8  2.3  1.2  4.6  5.0  23.6  107   99
3     3.2  11.0  1.7  0.2  4.0  3.6  18.5  115  105
4     9.7   3.4  1.0  1.3  2.3  5.6   7.2  102  107
..    ...   ...  ...  ...  ...  ...   ...  ...  ... ..
454   6.5   3.4  1.4  1.6  2.6  5.6  27.6  118  108
455   9.4   6.3  9.4  0.0  0.0  9.4  18.8  175   94
456   8.0   4.8  1.7  0.8  2.7  3.2  28.4  119  108
457   4.1   7.8  2.8  0.1  2.7  2.8  12.9  109  105
458   9.1   2.5  2.6  0.3  1.6  5.0  23.1  111  107

[4269 rows x 32 columns]

In [34]:
scrape_per100pos_stats(string_years)

       Yr              Player Pos Age   Tm   G  GS    MP    FG   FGA  ...  \
0    1991      Alaa Abdelnaby  PF  22  POR  43   0   290   9.1  19.1  ...
1    1991  Mahmoud Abdul-Rauf  PG  21  DEN  67  19  1505  11.7  28.3  ...
2    1991          Mark Acres   C  28  ORL  68   0  1313   4.0   7.9  ...
3    1991       Michael Adams  PG  28  DEN  66  66  2346  10.1  25.6  ...
4    1991        Mark Aguirre  SF  31  DET  78  13  2006  10.9  23.7  ...
..    ...                 ...  ..  ..  ...  ..  ..   ...   ...   ...  ...
674  2023      Thaddeus Young  PF  34  TOR  54   9   795   6.7  12.3  ...
675  2023          Trae Young  PG  24  ATL  73  73  2541  11.2  26.1  ...
676  2023      Omer Yurtseven   C  24  MIA   9   0    83   9.6  16.2  ...
677  2023         Cody Zeller   C  30  MIA  15   2   217   8.5  13.6  ...
678  2023         Ivica Zubac   C  25  LAC  76  76  2170   7.4  11.6  ...

      TRB   AST  STL  BLK  TOV   PF   PTS ORtg DRtg
0    14.7   2.0  0.7  2.0  3.6  6.4  22.2   99  103
1     3.4   5.8  1.5  0.1  3.1  4.2  26.4   96  118
2    13.2   0.9  0.9  0.9  1.5  8.0  10.5  116  109
3     4.6  12.5  2.6  0.1  4.3  2.9  31.5  113  115
4     9.7   3.6  1.2  0.5  3.3  5.4  28.7  109  105
..    ...   ...  ...  ...  ...  ...   ...  ...  ... ..
674  10.3   4.7  3.4  0.3  2.6  5.5  14.9  117  112
675   4.1  13.9  1.5  0.2  5.6  2.0  35.9  116  119
676  13.8   1.2  1.2  1.2  2.4  9.6  24.0  126  112
677  14.7   2.3  0.7  0.9  3.2  7.6  22.5  124  114
678  17.1   1.7  0.7  2.2  2.6  4.9  18.5  125  112

[18877 rows x 32 columns]

In [16]:
def scrape_team_data(years):
    
    teams_df = pd.DataFrame(columns = ["Year", "Team", "W", "L",
                                       "W/L%", "GB", "PS/G", "PA/G",
                                       "SRS", "Playoffs",
                                       "Losing_season"])
    
    for year in years:
        url = 'https://www.basketball-reference.com/leagues/NBA_' + year + '_standings.html'
        html = urlopen(url)
        
        soup = BeautifulSoup(html, features="lxml")
        titles = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
        
        headers = titles[1:titles.index("SRS")+1]
        
        titles = titles[titles.index("SRS")+1:]
        
        try:
            row_titles = titles[0:titles.index("Eastern Conference")]
        except: row_titles = titles
        for i in headers:
            row_titles.remove(i)
        row_titles.remove("Western Conference")
        divisions = ["Atlantic Division", "Central Division",
                     "Southeast Division", "Northwest Division",
                     "Pacific Division", "Southwest Division",
                     "Midwest Division"]
        for d in divisions:
            try:
                row_titles.remove(d)
            except:
                continue
        
        rows = soup.findAll('tr')[1:]
        team_stats = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        team_stats = [e for e in team_stats if e != []]
        team_stats = team_stats[0:len(row_titles)]
        
        for i in range(0, len(team_stats)):
            team_stats[i].insert(0, row_titles[i])
            team_stats[i].insert(0, year)
            
        headers.insert(0, "Team")
        headers.insert(0, "Year")
        
        year_standings = pd.DataFrame(team_stats, columns = headers)
        
        year_standings["Playoffs"] = ["Y" if "*" in ele else "N" for ele in year_standings["Team"]]
        year_standings["Team"] = [ele.replace('*', '') for ele in year_standings["Team"]]
        year_standings["Losing_season"] = ["Y" if float(ele) < .5 else "N" for ele in year_standings["W/L%"]]
        
        teams_df = teams_df.append(year_standings)
        
    teams_df.to_csv("teams_data2.csv", index=False)

In [17]:
scrape_team_data(string_years2)

In [50]:
scrape_team_data(string_years)

In [18]:
'Next step is to consolidate all seasons for each scrape'

'Next step is to consolidate all seasons for each scrape'

In [108]:
advanced_stats1 = pd.read_csv('advanced_stats.csv')
advanced_stats2 = pd.read_csv('advanced_stats2.csv')
advanced_stats_combined = pd.concat([advanced_stats1, advanced_stats2], ignore_index=True, axis=0)
advanced_stats_combined.to_csv("advanced_stats_combined.csv", index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'advanced_stats.csv'

In [107]:
advanced_stats_combined

NameError: name 'advanced_stats_combined' is not defined

In [23]:
totals_stats1 = pd.read_csv('totals_stats.csv')
totals_stats2 = pd.read_csv('totals_stats2.csv')
totals_stats_combined = pd.concat([totals_stats1, totals_stats2], ignore_index=True, axis=0)
totals_stats_combined.to_csv("totals_stats_combined.csv", index = False)

In [24]:
totals_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,27,62,89,12,4,12,22,39,135
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,34,87,121,206,55,4,110,149,942
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,140,219,359,25,25,25,42,218,285
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,58,198,256,693,147,6,240,162,1752
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,134,240,374,139,47,20,128,209,1104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,49,136,185,96,39,46,73,160,788
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0,3,3,2,3,0,0,3,6
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,160,318,478,288,99,49,160,190,1685
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,29,93,122,231,82,4,80,84,383
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,36,50,86,24,25,3,15,47,219

In [25]:
pergame_stats1 = pd.read_csv('pergame_stats.csv')
pergame_stats2 = pd.read_csv('pergame_stats2.csv')
pergame_stats_combined = pd.concat([pergame_stats1, pergame_stats2], ignore_index=True, axis=0)
pergame_stats_combined.to_csv("pergame_stats_combined.csv", index = False)

In [27]:
pergame_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,6.7,1.3,2.7,...,0.568,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,22.5,6.2,15.1,...,0.857,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1
2,1991,Mark Acres,C,28,ORL,68,0.0,19.3,1.6,3.1,...,0.653,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2
3,1991,Michael Adams,PG,28,DEN,66,66.0,35.5,8.5,21.5,...,0.879,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5
4,1991,Mark Aguirre,SF,31,DET,78,13.0,25.7,5.4,11.7,...,0.757,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,22.9,4.9,8.9,...,0.733,0.8,2.2,3.0,1.5,0.6,0.7,1.2,2.6,12.7
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,2.7,0.3,0.5,...,1.000,0.0,0.5,0.5,0.3,0.5,0.0,0.0,0.5,1.0
23143,1990,James Worthy*,SF,28,LAL,80,80.0,37.0,8.9,16.2,...,0.782,2.0,4.0,6.0,3.6,1.2,0.6,2.0,2.4,21.1
23144,1990,Danny Young,PG,27,POR,82,8.0,17.0,1.7,4.0,...,0.813,0.4,1.1,1.5,2.8,1.0,0.0,1.0,1.0,4.7
23145,1990,Michael Young,SF,29,LAC,45,2.0,10.2,2.0,4.3,...,0.711,0.8,1.1,1.9,0.5,0.6,0.1,0.3,1.0,4.9

In [28]:
per36min_stats1 = pd.read_csv('per36min_stats.csv')
per36min_stats2 = pd.read_csv('per36min_stats2.csv')
per36min_stats_combined = pd.concat([per36min_stats1, per36min_stats2], ignore_index=True, axis=0)
per36min_stats_combined.to_csv("per36min_stats_combined.csv", index = False)

In [29]:
per36min_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,6.8,14.4,...,0.568,3.4,7.7,11.0,1.5,0.5,1.5,2.7,4.8,16.8
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,10.0,24.1,...,0.857,0.8,2.1,2.9,4.9,1.3,0.1,2.6,3.6,22.5
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,3.0,5.9,...,0.653,3.8,6.0,9.8,0.7,0.7,0.7,1.2,6.0,7.8
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,8.6,21.8,...,0.879,0.9,3.0,3.9,10.6,2.3,0.1,3.7,2.5,26.9
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,7.5,16.3,...,0.757,2.4,4.3,6.7,2.5,0.8,0.4,2.3,3.8,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,7.8,13.9,...,0.733,1.2,3.4,4.7,2.4,1.0,1.2,1.8,4.1,20.0
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,4.5,6.8,...,1.000,0.0,6.8,6.8,4.5,6.8,0.0,0.0,6.8,13.5
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,8.6,15.8,...,0.782,1.9,3.9,5.8,3.5,1.2,0.6,1.9,2.3,20.5
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,3.6,8.5,...,0.813,0.7,2.4,3.2,6.0,2.1,0.1,2.1,2.2,9.9
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,7.2,15.2,...,0.711,2.8,3.9,6.7,1.9,2.0,0.2,1.2,3.7,17.2

In [30]:
per100pos_stats1 = pd.read_csv('per100pos_stats.csv')
per100pos_stats2 = pd.read_csv('per100pos_stats2.csv')
per100pos_stats_combined = pd.concat([per100pos_stats1, per100pos_stats2], ignore_index=True, axis=0)
per100pos_stats_combined.to_csv("per100pos_stats_combined.csv", index = False)

In [31]:
per100pos_stats_combined

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,ORtg,DRtg,Unnamed: 31
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,9.1,19.1,...,14.7,2.0,0.7,2.0,3.6,6.4,22.2,99.0,103.0,NaN
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,11.7,28.3,...,3.4,5.8,1.5,0.1,3.1,4.2,26.4,96.0,118.0,NaN
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,4.0,7.9,...,13.2,0.9,0.9,0.9,1.5,8.0,10.5,116.0,109.0,NaN
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,10.1,25.6,...,4.6,12.5,2.6,0.1,4.3,2.9,31.5,113.0,115.0,NaN
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,10.9,23.7,...,9.7,3.6,1.2,0.5,3.3,5.4,28.7,109.0,105.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23141,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,10.7,19.3,...,6.5,3.4,1.4,1.6,2.6,5.6,27.6,118.0,108.0,NaN
23142,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,6.3,9.4,...,9.4,6.3,9.4,0.0,0.0,9.4,18.8,175.0,94.0,NaN
23143,1990,James Worthy*,SF,28,LAL,80,80.0,2960,12.0,21.9,...,8.0,4.8,1.7,0.8,2.7,3.2,28.4,119.0,108.0,NaN
23144,1990,Danny Young,PG,27,POR,82,8.0,1393,4.6,11.0,...,4.1,7.8,2.8,0.1,2.7,2.8,12.9,109.0,105.0,NaN
23145,1990,Michael Young,SF,29,LAC,45,2.0,459,9.7,20.5,...,9.1,2.5,2.6,0.3,1.6,5.0,23.1,111.0,107.0,NaN

In [32]:
teams_data1 = pd.read_csv('teams_data.csv')
teams_data2 = pd.read_csv('teams_data2.csv')
teams_data_combined = pd.concat([teams_data1, teams_data2], ignore_index=True, axis=0)
teams_data_combined.to_csv("teams_data_combined.csv", index = False)

In [33]:
teams_data_combined

,Year,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
0,1991,Boston Celtics,56,26,0.683,,111.5,105.7,5.22,Y,N
1,1991,Philadelphia 76ers,44,38,0.537,12.0,105.4,105.6,-0.39,Y,N
2,1991,New York Knicks,39,43,0.476,17.0,103.1,103.3,-0.43,Y,Y
3,1991,Washington Bullets,30,52,0.366,26.0,101.4,106.4,-4.84,N,Y
4,1991,New Jersey Nets,26,56,0.317,30.0,102.9,107.5,-4.53,N,Y
...,...,...,...,...,...,...,...,...,...,...,...
1219,1990,Phoenix Suns,54,28,0.659,9.0,114.9,107.8,7.09,Y,N
1220,1990,Seattle SuperSonics,41,41,0.500,22.0,106.9,105.9,1.40,N,N
1221,1990,Golden State Warriors,37,45,0.451,26.0,116.3,119.4,-2.55,N,Y
1222,1990,Los Angeles Clippers,30,52,0.366,33.0,103.8,107.2,-2.80,N,Y
1223,1990,Sacramento Kings,23,59,0.280,40.0,101.7,106.8,-4.41,N,Y

In [ ]:
'Next step is to scrape awards data for MVP and DPOY for those seasons'

In [62]:
def scrape_mvps(years):
    mvps_df = pd.DataFrame(columns = ['Yr', 'Rank', 'Player', 'Age', 'Tm', 'First', 'Pts Won', 'Pts Max', 'Share', 'G','MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS', 'WS/48'])
    for year in years:
        url = 'https://www.basketball-reference.com/awards/awards_' + year + '.html'
        html = urlopen(url)
        soup = BeautifulSoup(html, features="lxml")
        table = soup.findAll('table')[0]
        headers = [th.getText() for th in table.findAll('tr', limit=2)[1].findAll('th')]
        headers.insert(0, 'Yr')
        rows = table.findAll('tr')[1:]
        rows_data = [[td.getText() for td in rows[i].findAll('td')]
                    for i in range(len(rows))]
        rows_data = list(filter(None,rows_data))
        for i in range(0, len(rows_data)):
            rows_data[i].insert(0, year)
            rows_data[i].insert(1, i+1)
        
        year_mvps_df = pd.DataFrame(rows_data, columns = headers)
        mvps_df = mvps_df.append(year_mvps_df)
        
    mvps_df.to_csv("mvps2.csv", index=False)

In [61]:
scrape_mvps(string_years)

In [63]:
scrape_mvps(string_years2)

In [8]:
mvps_data1 = pd.read_csv('mvps.csv')
mvps_data2 = pd.read_csv('mvps2.csv')
mvps_data_combined = pd.concat([mvps_data1, mvps_data2], ignore_index=True, axis=0)
mvps_data_combined.to_csv("mvps_data_combined.csv", index = False)

In [10]:
dpoy_df = pd.read_csv('/Users/mitchellren/Downloads/dpoy_data.csv')
dpoy_df

,Yr,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,STL,BLK,FG%,3P%,FT%,WS,WS/48,DWS,DBPM,DRtg
0,1991,1,Dennis Rodman,29,DET,51,51,96,0.531,82,...,0.8,0.7,0.493,0.200,0.631,8.7,0.151,5.2,0.7,101
1,1991,2,David Robinson,25,SAS,18,18,96,0.188,82,...,1.5,3.9,0.552,0.143,0.762,17.0,0.264,7.6,3.3,96
2,1991,3,Alvin Robertson,28,MIL,15,15,96,0.156,81,...,3.0,0.2,0.485,0.365,0.757,7.7,0.142,4.3,2.8,103
3,1991,4,Joe Dumars,27,DET,3,3,96,0.031,80,...,1.1,0.1,0.481,0.311,0.890,9.9,0.155,3.1,0.1,108
4,1991,5,Hakeem Olajuwon,28,HOU,2,2,96,0.021,56,...,2.2,3.9,0.508,0.000,0.769,8.6,0.201,5.7,4.0,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1983,2,Tree Rollins,27,ATL,10,10,75,0.133,80,...,0.6,4.3,0.510,0.000,0.726,7.3,0.142,5.0,3.7,97
571,1983,3,Larry Bird,26,BOS,6,6,75,0.080,79,...,1.9,0.9,0.504,0.286,0.840,14.0,0.225,5.6,2.1,98
572,1983,4,Maurice Cheeks,26,PHI,6,6,75,0.080,79,...,2.3,0.4,0.542,0.167,0.754,9.4,0.183,3.8,2.3,101
573,1983,5,Michael Cooper,26,LAL,6,6,75,0.080,82,...,1.4,0.6,0.535,0.238,0.785,5.2,0.116,2.1,1.5,105
574,1983,6,Bobby Jones,31,PHI,6,6,75,0.080,74,...,1.1,1.2,0.543,0.000,0.793,6.4,0.175,3.1,2.8,99

In [11]:
dpoy_df.to_csv("dpoy_data_combined.csv", index = False)

In [35]:
'Next step is to join all the separate files together using players, years, and teams as joinkeys'

'Next step is to join all the separate files together using players, years, and teams as joinkeys'

In [95]:
# Subset dataframes to be 1983-2023 because DPOY didn't start until 1983

mvps_df = pd.read_csv('mvps_data_combined.csv')
advanced_stats_df = pd.read_csv('advanced_stats_combined.csv')
per100pos_df = pd.read_csv('per100pos_stats_combined.csv')
per36min_df = pd.read_csv('per36min_stats_combined.csv')
pergame_df = pd.read_csv('pergame_stats_combined.csv')
teams_df = pd.read_csv('teams_data_combined.csv')
totals_stats_df = pd.read_csv('totals_stats_combined.csv')

In [96]:
mvps_df = mvps_df[mvps_df['Yr'] >= 1983]

In [97]:
mvps_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [98]:
advanced_stats_df = advanced_stats_df[advanced_stats_df['Yr'] >= 1983]

In [99]:
advanced_stats_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [100]:
per100pos_df = per100pos_df[per100pos_df['Yr'] >= 1983]

In [101]:
per100pos_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [102]:
per36min_df = per36min_df[per36min_df['Yr'] >= 1983]

In [103]:
per36min_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [104]:
pergame_df = pergame_df[pergame_df['Yr'] >= 1983]

In [105]:
pergame_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [106]:
teams_df = teams_df[teams_df['Year'] >= 1983]

In [107]:
teams_df['Year'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [108]:
totals_stats_df = totals_stats_df[totals_stats_df['Yr'] >= 1983]

In [109]:
totals_stats_df['Yr'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990])

In [110]:
totals_stats_df['joinkey'] = totals_stats_df['Player'] + totals_stats_df['Yr'].astype(str) + totals_stats_df['Tm'] + totals_stats_df['Pos'] + totals_stats_df['Age'].astype(str)

In [111]:
totals_stats_joinkeys = list(totals_stats_df['joinkey'])

In [112]:
advanced_stats_df['joinkey'] = advanced_stats_df['Player'] + advanced_stats_df['Yr'].astype(str) + advanced_stats_df['Tm'] + advanced_stats_df['Pos'] + advanced_stats_df['Age'].astype(str)

In [113]:
advanced_stats_joinkeys = list(advanced_stats_df['joinkey'])

In [114]:
check =  all(item in totals_stats_joinkeys for item in advanced_stats_joinkeys)
 
if check is True:
    print("All joinkeys present in both datasets")    
else :
    print("Not all joinkeys present in both datasets")

All joinkeys present in both datasets

In [115]:
totals_stats_df.columns

Index(['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'joinkey'],
      dtype='object')

In [116]:
advanced_stats_df.columns

Index(['Yr', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'joinkey'],
      dtype='object')

In [117]:
advanced_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'MP']

In [118]:
advanced_stats_df = advanced_stats_df.drop(advanced_stats_remove_cols, axis = 1)

In [119]:
advanced_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PER      22048 non-null  float64
 1   TS%      21947 non-null  float64
 2   3PAr     21934 non-null  float64
 3   FTr      21934 non-null  float64
 4   ORB%     22048 non-null  float64
 5   DRB%     22048 non-null  float64
 6   TRB%     22048 non-null  float64
 7   AST%     22048 non-null  float64
 8   STL%     22048 non-null  float64
 9   BLK%     22048 non-null  float64
 10  TOV%     21965 non-null  float64
 11  USG%     22048 non-null  float64
 12  OWS      22053 non-null  float64
 13  DWS      22053 non-null  float64
 14  WS       22053 non-null  float64
 15  WS/48    22048 non-null  float64
 16  OBPM     22053 non-null  float64
 17  DBPM     22053 non-null  float64
 18  BPM      22053 non-null  float64
 19  VORP     22053 non-null  float64
 20  joinkey  22053 non-null  object
dtypes: float64(20), object(1)
memory usage: 3.7+ MB

In [120]:
totals_and_advanced_df = totals_stats_df.merge(advanced_stats_df, on = 'joinkey', how = 'left')
totals_and_advanced_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,14.0,22.1,0.0,0.5,0.5,0.079,-3.4,-1.2,-4.6,-0.2
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,9.5,27.2,-0.7,-0.3,-1.0,-0.031,-2.0,-3.0,-5.0,-1.1
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,14.0,9.3,1.4,1.1,2.5,0.090,-2.8,-0.2,-3.0,-0.3
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,12.7,28.5,5.8,0.4,6.3,0.128,6.0,-0.7,5.3,4.3
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,10.9,25.7,2.8,2.7,5.5,0.132,1.2,0.2,1.4,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,10.0,21.9,3.3,1.5,4.8,0.161,1.3,0.2,1.5,1.3
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,0.0,10.2,0.1,0.0,0.1,0.357,-0.2,13.8,13.6,0.1
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,10.0,23.0,7.5,3.1,10.6,0.172,3.6,0.2,3.8,4.3
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,17.5,12.9,1.0,1.9,3.0,0.103,-1.2,2.1,0.9,1.0
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,6.6,20.5,0.6,0.5,1.1,0.119,0.4,0.0,0.4,0.3

In [121]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  int64
 8   FG           22048 non-null  float64
 9   FGA          22048 non-null  float64
 10  FG%          21934 non-null  float64
 11  3P           22048 non-null  float64
 12  3PA          22048 non-null  float64
 13  3P%          18518 non-null  float64
 14  2P           22048 non-null  float64
 15  2PA          22048 non-null  float64
 16  2P%          21857 non-null  float64
 17  FT           22048 non-null  float64
 18  FTA          22048 non-null  float64
 19  FT%          21033 non-null  float64
 20  ORB          22048 non-null  float64
 21  DRB          22048 non-null  float64
 22  TRB          22048 non-null  float64
 23  AST          22048 non-null  float64
 24  STL          22048 non-null  float64
 25  BLK          22048 non-null  float64
 26  TOV          22048 non-null  float64
 27  PF           22048 non-null  float64
 28  PTS          22048 non-null  float64
 29  ORtg         21984 non-null  float64
 30  DRtg         22048 non-null  float64
 31  Unnamed: 31  0 non-null      float64
dtypes: float64(25), int64(4), object(3)
memory usage: 5.6+ MB

In [122]:
per100pos_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP', 'Unnamed: 31']

In [123]:
per100pos_df = per100pos_df.rename(columns={"FG": "FGper100pos", "FGA": "FGAper100pos", "FG%": "FG%per100pos", 
                             "3P": "3Pper100pos", "3PA": "3PAper100pos", "3P%": "3P%per100pos",
                            "2P": "2Pper100pos", "2PA": "2PAper100pos", "2P%": "2P%per100pos",
                            "FT": "FTper100pos", "FTA": "FTAper100pos", "FT%": "FT%per100pos",
                            "ORB": "ORBper100pos", "DRB": "DRBper100pos", "TRB": "TRBper100pos",
                            "AST": "ASTper100pos", "STL": "STLper100pos", "BLK": "BLKper100pos",
                            "TOV": "TOVper100pos", "PF": "PFper100pos", "PTS": "PTSper100pos",
                            "ORtg": "ORtgper100pos", "DRtg": "DRtgper100pos"})

In [124]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Yr             22053 non-null  int64
 1   Player         22053 non-null  object
 2   Pos            22053 non-null  object
 3   Age            22053 non-null  int64
 4   Tm             22053 non-null  object
 5   G              22053 non-null  int64
 6   GS             22053 non-null  float64
 7   MP             22053 non-null  int64
 8   FGper100pos    22048 non-null  float64
 9   FGAper100pos   22048 non-null  float64
 10  FG%per100pos   21934 non-null  float64
 11  3Pper100pos    22048 non-null  float64
 12  3PAper100pos   22048 non-null  float64
 13  3P%per100pos   18518 non-null  float64
 14  2Pper100pos    22048 non-null  float64
 15  2PAper100pos   22048 non-null  float64
 16  2P%per100pos   21857 non-null  float64
 17  FTper100pos    22048 non-null  float64
 18  FTAper100pos   22048 non-null  float64
 19  FT%per100pos   21033 non-null  float64
 20  ORBper100pos   22048 non-null  float64
 21  DRBper100pos   22048 non-null  float64
 22  TRBper100pos   22048 non-null  float64
 23  ASTper100pos   22048 non-null  float64
 24  STLper100pos   22048 non-null  float64
 25  BLKper100pos   22048 non-null  float64
 26  TOVper100pos   22048 non-null  float64
 27  PFper100pos    22048 non-null  float64
 28  PTSper100pos   22048 non-null  float64
 29  ORtgper100pos  21984 non-null  float64
 30  DRtgper100pos  22048 non-null  float64
 31  Unnamed: 31    0 non-null      float64
dtypes: float64(25), int64(4), object(3)
memory usage: 5.6+ MB

In [125]:
per100pos_df['joinkey'] = per100pos_df['Player'] + per100pos_df['Yr'].astype(str) + per100pos_df['Tm'] + per100pos_df['Pos'] + per100pos_df['Age'].astype(str)

In [126]:
per100pos_df = per100pos_df.drop(per100pos_stats_remove_cols, axis = 1)

In [127]:
per100pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FGper100pos    22048 non-null  float64
 1   FGAper100pos   22048 non-null  float64
 2   FG%per100pos   21934 non-null  float64
 3   3Pper100pos    22048 non-null  float64
 4   3PAper100pos   22048 non-null  float64
 5   3P%per100pos   18518 non-null  float64
 6   2Pper100pos    22048 non-null  float64
 7   2PAper100pos   22048 non-null  float64
 8   2P%per100pos   21857 non-null  float64
 9   FTper100pos    22048 non-null  float64
 10  FTAper100pos   22048 non-null  float64
 11  FT%per100pos   21033 non-null  float64
 12  ORBper100pos   22048 non-null  float64
 13  DRBper100pos   22048 non-null  float64
 14  TRBper100pos   22048 non-null  float64
 15  ASTper100pos   22048 non-null  float64
 16  STLper100pos   22048 non-null  float64
 17  BLKper100pos   22048 non-null  float64
 18  TOVper100pos   22048 non-null  float64
 19  PFper100pos    22048 non-null  float64
 20  PTSper100pos   22048 non-null  float64
 21  ORtgper100pos  21984 non-null  float64
 22  DRtgper100pos  22048 non-null  float64
 23  joinkey        22053 non-null  object
dtypes: float64(23), object(1)
memory usage: 4.2+ MB

In [128]:
totals_and_advanced_and_per100pos_df = totals_and_advanced_df.merge(per100pos_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRBper100pos,TRBper100pos,ASTper100pos,STLper100pos,BLKper100pos,TOVper100pos,PFper100pos,PTSper100pos,ORtgper100pos,DRtgper100pos
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,10.2,14.7,2.0,0.7,2.0,3.6,6.4,22.2,99.0,103.0
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,2.4,3.4,5.8,1.5,0.1,3.1,4.2,26.4,96.0,118.0
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,8.0,13.2,0.9,0.9,0.9,1.5,8.0,10.5,116.0,109.0
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,3.6,4.6,12.5,2.6,0.1,4.3,2.9,31.5,113.0,115.0
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,6.2,9.7,3.6,1.2,0.5,3.3,5.4,28.7,109.0,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,4.8,6.5,3.4,1.4,1.6,2.6,5.6,27.6,118.0,108.0
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,9.4,9.4,6.3,9.4,0.0,0.0,9.4,18.8,175.0,94.0
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,5.4,8.0,4.8,1.7,0.8,2.7,3.2,28.4,119.0,108.0
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,3.1,4.1,7.8,2.8,0.1,2.7,2.8,12.9,109.0,105.0
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,5.3,9.1,2.5,2.6,0.3,1.6,5.0,23.1,111.0,107.0

In [129]:
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      22053 non-null  int64
 1   Player  22053 non-null  object
 2   Pos     22053 non-null  object
 3   Age     22053 non-null  int64
 4   Tm      22053 non-null  object
 5   G       22053 non-null  int64
 6   GS      22053 non-null  float64
 7   MP      22053 non-null  int64
 8   FG      22048 non-null  float64
 9   FGA     22048 non-null  float64
 10  FG%     21934 non-null  float64
 11  3P      22048 non-null  float64
 12  3PA     22048 non-null  float64
 13  3P%     18518 non-null  float64
 14  2P      22048 non-null  float64
 15  2PA     22048 non-null  float64
 16  2P%     21857 non-null  float64
 17  FT      22048 non-null  float64
 18  FTA     22048 non-null  float64
 19  FT%     21033 non-null  float64
 20  ORB     22048 non-null  float64
 21  DRB     22048 non-null  float64
 22  TRB     22048 non-null  float64
 23  AST     22048 non-null  float64
 24  STL     22048 non-null  float64
 25  BLK     22048 non-null  float64
 26  TOV     22048 non-null  float64
 27  PF      22048 non-null  float64
 28  PTS     22048 non-null  float64
dtypes: float64(22), int64(4), object(3)
memory usage: 5.0+ MB

In [130]:
per36min_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP']

In [131]:
per36min_df = per36min_df.rename(columns={"FG": "FGper36min", "FGA": "FGAper36min", "FG%": "FG%per36min", 
                             "3P": "3Pper36min", "3PA": "3PAper36min", "3P%": "3P%per36min",
                            "2P": "2Pper36min", "2PA": "2PAper36min", "2P%": "2P%per36min",
                            "FT": "FTper36min", "FTA": "FTAper36min", "FT%": "FT%per36min",
                            "ORB": "ORBper36min", "DRB": "DRBper36min", "TRB": "TRBper36min",
                            "AST": "ASTper36min", "STL": "STLper36min", "BLK": "BLKper36min",
                            "TOV": "TOVper36min", "PF": "PFper36min", "PTS": "PTSper36min"})

In [132]:
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  int64
 8   FGper36min   22048 non-null  float64
 9   FGAper36min  22048 non-null  float64
 10  FG%per36min  21934 non-null  float64
 11  3Pper36min   22048 non-null  float64
 12  3PAper36min  22048 non-null  float64
 13  3P%per36min  18518 non-null  float64
 14  2Pper36min   22048 non-null  float64
 15  2PAper36min  22048 non-null  float64
 16  2P%per36min  21857 non-null  float64
 17  FTper36min   22048 non-null  float64
 18  FTAper36min  22048 non-null  float64
 19  FT%per36min  21033 non-null  float64
 20  ORBper36min  22048 non-null  float64
 21  DRBper36min  22048 non-null  float64
 22  TRBper36min  22048 non-null  float64
 23  ASTper36min  22048 non-null  float64
 24  STLper36min  22048 non-null  float64
 25  BLKper36min  22048 non-null  float64
 26  TOVper36min  22048 non-null  float64
 27  PFper36min   22048 non-null  float64
 28  PTSper36min  22048 non-null  float64
dtypes: float64(22), int64(4), object(3)
memory usage: 5.0+ MB

In [133]:
per36min_df['joinkey'] = per36min_df['Player'] + per36min_df['Yr'].astype(str) + per36min_df['Tm'] + per36min_df['Pos'] + per36min_df['Age'].astype(str)

In [134]:
per36min_df = per36min_df.drop(per36min_stats_remove_cols, axis = 1)
per36min_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FGper36min   22048 non-null  float64
 1   FGAper36min  22048 non-null  float64
 2   FG%per36min  21934 non-null  float64
 3   3Pper36min   22048 non-null  float64
 4   3PAper36min  22048 non-null  float64
 5   3P%per36min  18518 non-null  float64
 6   2Pper36min   22048 non-null  float64
 7   2PAper36min  22048 non-null  float64
 8   2P%per36min  21857 non-null  float64
 9   FTper36min   22048 non-null  float64
 10  FTAper36min  22048 non-null  float64
 11  FT%per36min  21033 non-null  float64
 12  ORBper36min  22048 non-null  float64
 13  DRBper36min  22048 non-null  float64
 14  TRBper36min  22048 non-null  float64
 15  ASTper36min  22048 non-null  float64
 16  STLper36min  22048 non-null  float64
 17  BLKper36min  22048 non-null  float64
 18  TOVper36min  22048 non-null  float64
 19  PFper36min   22048 non-null  float64
 20  PTSper36min  22048 non-null  float64
 21  joinkey      22053 non-null  object
dtypes: float64(21), object(1)
memory usage: 3.9+ MB

In [135]:
totals_and_advanced_and_per100pos_and_per36min_df = totals_and_advanced_and_per100pos_df.merge(per36min_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%per36min,ORBper36min,DRBper36min,TRBper36min,ASTper36min,STLper36min,BLKper36min,TOVper36min,PFper36min,PTSper36min
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,3.4,7.7,11.0,1.5,0.5,1.5,2.7,4.8,16.8
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,0.8,2.1,2.9,4.9,1.3,0.1,2.6,3.6,22.5
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,3.8,6.0,9.8,0.7,0.7,0.7,1.2,6.0,7.8
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,0.9,3.0,3.9,10.6,2.3,0.1,3.7,2.5,26.9
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,2.4,4.3,6.7,2.5,0.8,0.4,2.3,3.8,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,1.2,3.4,4.7,2.4,1.0,1.2,1.8,4.1,20.0
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0.0,6.8,6.8,4.5,6.8,0.0,0.0,6.8,13.5
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,1.9,3.9,5.8,3.5,1.2,0.6,1.9,2.3,20.5
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,0.7,2.4,3.2,6.0,2.1,0.1,2.1,2.2,9.9
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,2.8,3.9,6.7,1.9,2.0,0.2,1.2,3.7,17.2

In [136]:
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      22053 non-null  int64
 1   Player  22053 non-null  object
 2   Pos     22053 non-null  object
 3   Age     22053 non-null  int64
 4   Tm      22053 non-null  object
 5   G       22053 non-null  int64
 6   GS      22053 non-null  float64
 7   MP      22053 non-null  float64
 8   FG      22053 non-null  float64
 9   FGA     22053 non-null  float64
 10  FG%     21934 non-null  float64
 11  3P      22053 non-null  float64
 12  3PA     22053 non-null  float64
 13  3P%     18518 non-null  float64
 14  2P      22053 non-null  float64
 15  2PA     22053 non-null  float64
 16  2P%     21857 non-null  float64
 17  eFG%    21934 non-null  float64
 18  FT      22053 non-null  float64
 19  FTA     22053 non-null  float64
 20  FT%     21033 non-null  float64
 21  ORB     22053 non-null  float64
 22  DRB     22053 non-null  float64
 23  TRB     22053 non-null  float64
 24  AST     22053 non-null  float64
 25  STL     22053 non-null  float64
 26  BLK     22053 non-null  float64
 27  TOV     22053 non-null  float64
 28  PF      22053 non-null  float64
 29  PTS     22053 non-null  float64
dtypes: float64(24), int64(3), object(3)
memory usage: 5.2+ MB

In [137]:
pergame_stats_remove_cols = ['Age', 'Pos', 'Yr', 'Player', 'Tm', 'G', 'GS', 'MP']

In [138]:
pergame_df = pergame_df.rename(columns={"FG": "FGpergame", "FGA": "FGApergame", "FG%": "FG%pergame", 
                             "3P": "3Ppergame", "3PA": "3PApergame", "3P%": "3P%pergame",
                            "2P": "2Ppergame", "2PA": "2PApergame", "2P%": "2P%pergame", "eFG%": "eFG%pergame",
                            "FT": "FTpergame", "FTA": "FTApergame", "FT%": "FT%pergame",
                            "ORB": "ORBpergame", "DRB": "DRBpergame", "TRB": "TRBpergame",
                            "AST": "ASTpergame", "STL": "STLpergame", "BLK": "BLKpergame",
                            "TOV": "TOVpergame", "PF": "PFpergame", "PTS": "PTSpergame"})

In [139]:
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Yr           22053 non-null  int64
 1   Player       22053 non-null  object
 2   Pos          22053 non-null  object
 3   Age          22053 non-null  int64
 4   Tm           22053 non-null  object
 5   G            22053 non-null  int64
 6   GS           22053 non-null  float64
 7   MP           22053 non-null  float64
 8   FGpergame    22053 non-null  float64
 9   FGApergame   22053 non-null  float64
 10  FG%pergame   21934 non-null  float64
 11  3Ppergame    22053 non-null  float64
 12  3PApergame   22053 non-null  float64
 13  3P%pergame   18518 non-null  float64
 14  2Ppergame    22053 non-null  float64
 15  2PApergame   22053 non-null  float64
 16  2P%pergame   21857 non-null  float64
 17  eFG%pergame  21934 non-null  float64
 18  FTpergame    22053 non-null  float64
 19  FTApergame   22053 non-null  float64
 20  FT%pergame   21033 non-null  float64
 21  ORBpergame   22053 non-null  float64
 22  DRBpergame   22053 non-null  float64
 23  TRBpergame   22053 non-null  float64
 24  ASTpergame   22053 non-null  float64
 25  STLpergame   22053 non-null  float64
 26  BLKpergame   22053 non-null  float64
 27  TOVpergame   22053 non-null  float64
 28  PFpergame    22053 non-null  float64
 29  PTSpergame   22053 non-null  float64
dtypes: float64(24), int64(3), object(3)
memory usage: 5.2+ MB

In [140]:
pergame_df['joinkey'] = pergame_df['Player'] + pergame_df['Yr'].astype(str) + pergame_df['Tm'] + pergame_df['Pos'] + pergame_df['Age'].astype(str)

In [141]:
pergame_df = pergame_df.drop(pergame_stats_remove_cols, axis = 1)
pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 23145
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FGpergame    22053 non-null  float64
 1   FGApergame   22053 non-null  float64
 2   FG%pergame   21934 non-null  float64
 3   3Ppergame    22053 non-null  float64
 4   3PApergame   22053 non-null  float64
 5   3P%pergame   18518 non-null  float64
 6   2Ppergame    22053 non-null  float64
 7   2PApergame   22053 non-null  float64
 8   2P%pergame   21857 non-null  float64
 9   eFG%pergame  21934 non-null  float64
 10  FTpergame    22053 non-null  float64
 11  FTApergame   22053 non-null  float64
 12  FT%pergame   21033 non-null  float64
 13  ORBpergame   22053 non-null  float64
 14  DRBpergame   22053 non-null  float64
 15  TRBpergame   22053 non-null  float64
 16  ASTpergame   22053 non-null  float64
 17  STLpergame   22053 non-null  float64
 18  BLKpergame   22053 non-null  float64
 19  TOVpergame   22053 non-null  float64
 20  PFpergame    22053 non-null  float64
 21  PTSpergame   22053 non-null  float64
 22  joinkey      22053 non-null  object
dtypes: float64(22), object(1)
memory usage: 4.0+ MB

In [142]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df = totals_and_advanced_and_per100pos_and_per36min_df.merge(pergame_df, on = 'joinkey', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%pergame,ORBpergame,DRBpergame,TRBpergame,ASTpergame,STLpergame,BLKpergame,TOVpergame,PFpergame,PTSpergame
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,0.568,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,0.857,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,0.653,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,0.879,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,0.757,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,0.733,0.8,2.2,3.0,1.5,0.6,0.7,1.2,2.6,12.7
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,1.000,0.0,0.5,0.5,0.3,0.5,0.0,0.0,0.5,1.0
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,0.782,2.0,4.0,6.0,3.6,1.2,0.6,2.0,2.4,21.1
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,0.813,0.4,1.1,1.5,2.8,1.0,0.0,1.0,1.0,4.7
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,0.711,0.8,1.1,1.9,0.5,0.6,0.1,0.3,1.0,4.9

In [143]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156 entries, 0 to 1223
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1156 non-null   int64
 1   Team           1156 non-null   object
 2   W              1156 non-null   int64
 3   L              1156 non-null   int64
 4   W/L%           1156 non-null   float64
 5   GB             1156 non-null   object
 6   PS/G           1156 non-null   float64
 7   PA/G           1156 non-null   float64
 8   SRS            1156 non-null   float64
 9   Playoffs       1156 non-null   object
 10  Losing_season  1156 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 108.4+ KB

In [144]:
teams_list = list(teams_df['Team'].unique())
teams_list

['Boston Celtics',
 'Philadelphia 76ers',
 'New York Knicks',
 'Washington Bullets',
 'New Jersey Nets',
 'Miami Heat',
 'Chicago Bulls',
 'Detroit Pistons',
 'Milwaukee Bucks',
 'Atlanta Hawks',
 'Indiana Pacers',
 'Cleveland Cavaliers',
 'Charlotte Hornets',
 'San Antonio Spurs',
 'Utah Jazz',
 'Houston Rockets',
 'Orlando Magic',
 'Minnesota Timberwolves',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Portland Trail Blazers',
 'Los Angeles Lakers',
 'Phoenix Suns',
 'Golden State Warriors',
 'Seattle SuperSonics',
 'Los Angeles Clippers',
 'Sacramento Kings',
 'Toronto Raptors',
 'Vancouver Grizzlies',
 'Washington Wizards',
 'Memphis Grizzlies',
 'New Orleans Hornets',
 'Charlotte Bobcats',
 'New Orleans/Oklahoma City Hornets',
 'Oklahoma City Thunder',
 'Brooklyn Nets',
 'New Orleans Pelicans',
 'Milwaukee Bucks\xa0(1)\xa0',
 'Boston Celtics\xa0(2)\xa0',
 'Philadelphia 76ers\xa0(3)\xa0',
 'Cleveland Cavaliers\xa0(4)\xa0',
 'New York Knicks\xa0(5)\xa0',
 'Brooklyn Nets\xa0(6)\xa0',
 'Miami Heat\xa0(7)\xa0',
 'Atlanta Hawks\xa0(8)\xa0',
 'Toronto Raptors\xa0(9)\xa0',
 'Chicago Bulls\xa0(10)\xa0',
 'Indiana Pacers\xa0(11)\xa0',
 'Washington Wizards\xa0(12)\xa0',
 'Orlando Magic\xa0(13)\xa0',
 'Charlotte Hornets\xa0(14)\xa0',
 'Detroit Pistons\xa0(15)\xa0',
 'Denver Nuggets\xa0(1)\xa0',
 'Memphis Grizzlies\xa0(2)\xa0',
 'Sacramento Kings\xa0(3)\xa0',
 'Phoenix Suns\xa0(4)\xa0',
 'Los Angeles Clippers\xa0(5)\xa0',
 'Golden State Warriors\xa0(6)\xa0',
 'Los Angeles Lakers\xa0(7)\xa0',
 'Minnesota Timberwolves\xa0(8)\xa0',
 'New Orleans Pelicans\xa0(9)\xa0',
 'Oklahoma City Thunder\xa0(10)\xa0',
 'Dallas Mavericks\xa0(11)\xa0',
 'Utah Jazz\xa0(12)\xa0',
 'Portland Trail Blazers\xa0(13)\xa0',
 'Houston Rockets\xa0(14)\xa0',
 'San Antonio Spurs\xa0(15)\xa0',
 'Kansas City Kings',
 'San Diego Clippers']

In [145]:
teams_df[teams_df['Team'] == 'Charlotte Hornets']

,Year,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
12,1991,Charlotte Hornets,26,56,0.317,35.0,102.8,108.0,-4.95,N,Y
40,1992,Charlotte Hornets,31,51,0.378,36.0,109.5,113.4,-3.57,N,Y
63,1993,Charlotte Hornets,44,38,0.537,13.0,110.1,110.4,-0.02,Y,N
92,1994,Charlotte Hornets,41,41,0.500,16.0,106.5,106.7,-0.23,N,N
116,1995,Charlotte Hornets,50,32,0.610,2.0,100.6,97.3,2.87,Y,N
147,1996,Charlotte Hornets,41,41,0.500,31.0,102.8,103.4,-0.48,N,N
174,1997,Charlotte Hornets,54,28,0.659,15.0,98.9,97.0,2.13,Y,N
202,1998,Charlotte Hornets,51,31,0.622,11.0,96.6,94.6,2.45,Y,N
233,1999,Charlotte Hornets,26,24,0.520,7.0,92.9,93.0,0.63,N,N
259,2000,Charlotte Hornets,49,33,0.598,7.0,98.4,95.8,2.33,Y,N
289,2001,Charlotte Hornets,46,36,0.561,6.0,91.9,89.8,1.45,Y,N
317,2002,Charlotte Hornets,44,38,0.537,6.0,93.9,92.9,0.57,Y,N
709,2015,Charlotte Hornets,33,49,0.402,27.0,94.2,97.3,-3.44,N,Y
731,2016,Charlotte Hornets,48,34,0.585,9.0,103.4,100.7,2.36,Y,N
766,2017,Charlotte Hornets,36,46,0.439,17.0,104.9,104.7,-0.07,N,Y
795,2018,Charlotte Hornets,36,46,0.439,23.0,108.2,108.0,0.07,N,Y
824,2019,Charlotte Hornets,39,43,0.476,21.0,110.7,111.8,-1.32,N,Y
854,2020,Charlotte Hornets,23,42,0.354,29.0,102.9,109.6,-7.03,N,Y
885,2021,Charlotte Hornets,33,39,0.458,16.0,109.5,111.4,-1.94,N,Y
915,2022,Charlotte Hornets,43,39,0.524,10.0,115.3,114.9,0.53,N,N
1177,1989,Charlotte Hornets,20,62,0.244,32.0,104.5,113.0,-7.74,N,Y
1216,1990,Charlotte Hornets,19,63,0.232,37.0,100.4,108.2,-7.00,N,Y

In [146]:
stats_teams = list(totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique())
stats_teams

['POR',
 'DEN',
 'ORL',
 'DET',
 'WSB',
 'DAL',
 'TOT',
 'MIL',
 'NJN',
 'PHI',
 'SAS',
 'CHI',
 'GSW',
 'MIA',
 'CLE',
 'UTA',
 'LAC',
 'SEA',
 'ATL',
 'PHO',
 'BOS',
 'CHH',
 'SAC',
 'MIN',
 'LAL',
 'HOU',
 'NYK',
 'IND',
 'VAN',
 'TOR',
 'WAS',
 'MEM',
 'NOH',
 'CHA',
 'NOK',
 'OKC',
 'BRK',
 'NOP',
 'CHO',
 'SDC',
 'KCK']

In [147]:
team_mappings= {'Boston Celtics':'BOS', 'Philadelphia 76ers':'PHI', 'New York Knicks':'NYK', 'Washington Bullets':'WSB',
'New Jersey Nets':'NJN', 'Miami Heat':'MIA', 'Chicago Bulls':'CHI', 'Detroit Pistons':'DET', 'Milwaukee Bucks':'MIL',
'Atlanta Hawks':'ATL', 'Indiana Pacers':'IND', 'Cleveland Cavaliers':'CLE', 'Charlotte Hornets':'CHA', 'San Antonio Spurs':'SAS',
'Utah Jazz':'UTA', 'Houston Rockets':'HOU', 'Orlando Magic':'ORL', 'Minnesota Timberwolves':'MIN', 'Dallas Mavericks':'DAL',
'Denver Nuggets':'DEN', 'Portland Trail Blazers':'POR', 'Los Angeles Lakers':'LAL', 'Phoenix Suns':'PHO', 'Golden State Warriors':'GSW',
'Seattle SuperSonics':'SEA', 'Los Angeles Clippers':'LAC', 'Sacramento Kings':'SAC', 'Toronto Raptors':'TOR', 'Vancouver Grizzlies':'VAN',
'Washington Wizards':'WAS', 'Memphis Grizzlies':'MEM', 'New Orleans Hornets':'NOH', 'Charlotte Bobcats':'CHA', 'New Orleans/Oklahoma City Hornets':'NOK',
'Oklahoma City Thunder':'OKC', 'Brooklyn Nets':'BRK', 'New Orleans Pelicans':'NOP', 'Milwaukee Bucks\xa0(1)\xa0':'MIL', 'Boston Celtics\xa0(2)\xa0':'BOS',
'Philadelphia 76ers\xa0(3)\xa0':'PHI', 'Cleveland Cavaliers\xa0(4)\xa0':'CLE', 'New York Knicks\xa0(5)\xa0':'NYK', 'Brooklyn Nets\xa0(6)\xa0':'BRK',
'Miami Heat\xa0(7)\xa0':'MIA', 'Atlanta Hawks\xa0(8)\xa0':'ATL', 'Toronto Raptors\xa0(9)\xa0':'TOR', 'Chicago Bulls\xa0(10)\xa0':'CHI',
'Indiana Pacers\xa0(11)\xa0':'IND', 'Washington Wizards\xa0(12)\xa0':'WAS', 'Orlando Magic\xa0(13)\xa0':'ORL', 'Charlotte Hornets\xa0(14)\xa0':'CHA',
'Detroit Pistons\xa0(15)\xa0':'DET', 'Denver Nuggets\xa0(1)\xa0':'DEN', 'Memphis Grizzlies\xa0(2)\xa0':'MEM', 'Sacramento Kings\xa0(3)\xa0':'SAC',
'Phoenix Suns\xa0(4)\xa0':'PHO', 'Los Angeles Clippers\xa0(5)\xa0':'LAC', 'Golden State Warriors\xa0(6)\xa0':'GSW', 'Los Angeles Lakers\xa0(7)\xa0':'LAL',
'Minnesota Timberwolves\xa0(8)\xa0':'MIN', 'New Orleans Pelicans\xa0(9)\xa0':'NOP', 'Oklahoma City Thunder\xa0(10)\xa0':'OKC',
'Dallas Mavericks\xa0(11)\xa0':'DAL', 'Utah Jazz\xa0(12)\xa0':'UTA', 'Portland Trail Blazers\xa0(13)\xa0':'POR', 'Houston Rockets\xa0(14)\xa0':'HOU',
'San Antonio Spurs\xa0(15)\xa0':'SAS', 'Kansas City Kings':'KCK', 'San Diego Clippers':'SDC'}

In [148]:
teams_df['Team'].map(team_mappings).unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOK', 'OKC', 'BRK', 'NOP',
       'KCK', 'SDC'], dtype=object)

In [149]:
teams_df['Team'] = teams_df['Team'].map(team_mappings)
teams_df['Team'].unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOK', 'OKC', 'BRK', 'NOP',
       'KCK', 'SDC'], dtype=object)

In [150]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique()

array(['POR', 'DEN', 'ORL', 'DET', 'WSB', 'DAL', 'TOT', 'MIL', 'NJN',
       'PHI', 'SAS', 'CHI', 'GSW', 'MIA', 'CLE', 'UTA', 'LAC', 'SEA',
       'ATL', 'PHO', 'BOS', 'CHH', 'SAC', 'MIN', 'LAL', 'HOU', 'NYK',
       'IND', 'VAN', 'TOR', 'WAS', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC',
       'BRK', 'NOP', 'CHO', 'SDC', 'KCK'], dtype=object)

In [151]:
extra_mappings = {'NOK':'NOP', 'CHO':'CHA', 'CHH':'CHA', 'POR':'POR', 'DEN':'DEN', 'ORL':'ORL', 
                  'DET':'DET', 'WSB':'WSB', 'DAL':'DAL', 'TOT':'TOT', 'MIL':'MIL', 'NJN':'NJN',
       'PHI':'PHI', 'SAS':'SAS', 'CHI':'CHI', 'GSW':'GSW', 'MIA':'MIA', 'CLE':'CLE', 'UTA':'UTA', 'LAC':'LAC', 'SEA':'SEA',
       'ATL':'ATL', 'PHO':'PHO', 'BOS':'BOS', 'SAC':'SAC', 'MIN':'MIN', 'LAL':'LAL', 'HOU':'HOU', 'NYK':'NYK',
       'IND':'IND', 'VAN':'VAN', 'TOR':'TOR', 'WAS':'WAS', 'MEM':'MEM', 'NOH':'NOH', 'CHA':'CHA', 'OKC':'OKC',
       'BRK':'BRK', 'NOP':'NOP', 'SDC':'SDC', 'KCK':'KCK'}

In [152]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].map(extra_mappings)

In [153]:
teams_df['Team'] = teams_df['Team'].map(extra_mappings)
teams_df['Team'].unique()

array(['BOS', 'PHI', 'NYK', 'WSB', 'NJN', 'MIA', 'CHI', 'DET', 'MIL',
       'ATL', 'IND', 'CLE', 'CHA', 'SAS', 'UTA', 'HOU', 'ORL', 'MIN',
       'DAL', 'DEN', 'POR', 'LAL', 'PHO', 'GSW', 'SEA', 'LAC', 'SAC',
       'TOR', 'VAN', 'WAS', 'MEM', 'NOH', 'NOP', 'OKC', 'BRK', 'KCK',
       'SDC'], dtype=object)

In [154]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm'].unique()

array(['POR', 'DEN', 'ORL', 'DET', 'WSB', 'DAL', 'TOT', 'MIL', 'NJN',
       'PHI', 'SAS', 'CHI', 'GSW', 'MIA', 'CLE', 'UTA', 'LAC', 'SEA',
       'ATL', 'PHO', 'BOS', 'CHA', 'SAC', 'MIN', 'LAL', 'HOU', 'NYK',
       'IND', 'VAN', 'TOR', 'WAS', 'MEM', 'NOH', 'NOP', 'OKC', 'BRK',
       'SDC', 'KCK'], dtype=object)

In [155]:
teams_df['joinkey2'] = teams_df['Year'].astype(str) + teams_df['Team']
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156 entries, 0 to 1223
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1156 non-null   int64
 1   Team           1156 non-null   object
 2   W              1156 non-null   int64
 3   L              1156 non-null   int64
 4   W/L%           1156 non-null   float64
 5   GB             1156 non-null   object
 6   PS/G           1156 non-null   float64
 7   PA/G           1156 non-null   float64
 8   SRS            1156 non-null   float64
 9   Playoffs       1156 non-null   object
 10  Losing_season  1156 non-null   object
 11  joinkey2       1156 non-null   object
dtypes: float64(4), int64(3), object(5)
memory usage: 117.4+ KB

In [156]:
teams_df['joinkey2']

0       1991BOS
1       1991PHI
2       1991NYK
3       1991WSB
4       1991NJN
         ...
1219    1990PHO
1220    1990SEA
1221    1990GSW
1222    1990LAC
1223    1990SAC
Name: joinkey2, Length: 1156, dtype: object

In [157]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['joinkey2'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Yr'].astype(str) + totals_and_advanced_and_per100pos_and_per36min_and_pergame_df['Tm']
totals_and_advanced_and_per100pos_and_per36min_and_pergame_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22053 entries, 0 to 22052
Columns: 118 entries, Yr to joinkey2
dtypes: float64(92), int64(21), object(5)
memory usage: 20.0+ MB

In [158]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_df.merge(teams_df, on = 'joinkey2', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Playoffs,Losing_season
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,POR,63.0,19.0,0.768,,114.7,106.0,8.47,Y,N
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,ORL,31.0,51.0,0.378,24.0,105.9,109.9,-3.79,N,Y
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,DEN,20.0,62.0,0.244,35.0,119.9,130.8,-10.31,N,Y
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,DET,50.0,32.0,0.610,11.0,100.1,96.8,3.08,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,LAL,63.0,19.0,0.768,,110.7,103.9,6.74,Y,N
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,ATL,41.0,41.0,0.500,18.0,108.5,107.5,0.64,N,N
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,LAL,63.0,19.0,0.768,,110.7,103.9,6.74,Y,N
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,POR,59.0,23.0,0.720,4.0,114.2,107.9,6.48,Y,N
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,LAC,30.0,52.0,0.366,33.0,103.8,107.2,-2.80,N,Y

In [159]:
nulls = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df[totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Losing_season'].isnull() == True]

In [160]:
len(nulls['Tm'])

1996

In [161]:
'remove Tm = TOT because they are totals rows'

'remove Tm = TOT because they are totals rows'

In [162]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df[totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Tm'] != 'TOT']['Tm'].unique()

array(['POR', 'DEN', 'ORL', 'DET', 'WSB', 'DAL', 'MIL', 'NJN', 'PHI',
       'SAS', 'CHI', 'GSW', 'MIA', 'CLE', 'UTA', 'LAC', 'SEA', 'ATL',
       'PHO', 'BOS', 'CHA', 'SAC', 'MIN', 'LAL', 'HOU', 'NYK', 'IND',
       'VAN', 'TOR', 'WAS', 'MEM', 'NOH', 'NOP', 'OKC', 'BRK', 'SDC',
       'KCK'], dtype=object)

In [164]:
mvps_df['joinkey3'] = mvps_df['Player'] + mvps_df['Yr'].astype(str) + mvps_df['Tm'] + mvps_df['Age'].astype(str)

In [165]:
dpoy_df = pd.read_csv('dpoy_data_combined.csv')
dpoy_df

,Yr,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,STL,BLK,FG%,3P%,FT%,WS,WS/48,DWS,DBPM,DRtg
0,1991,1,Dennis Rodman,29,DET,51,51,96,0.531,82,...,0.8,0.7,0.493,0.200,0.631,8.7,0.151,5.2,0.7,101
1,1991,2,David Robinson,25,SAS,18,18,96,0.188,82,...,1.5,3.9,0.552,0.143,0.762,17.0,0.264,7.6,3.3,96
2,1991,3,Alvin Robertson,28,MIL,15,15,96,0.156,81,...,3.0,0.2,0.485,0.365,0.757,7.7,0.142,4.3,2.8,103
3,1991,4,Joe Dumars,27,DET,3,3,96,0.031,80,...,1.1,0.1,0.481,0.311,0.890,9.9,0.155,3.1,0.1,108
4,1991,5,Hakeem Olajuwon,28,HOU,2,2,96,0.021,56,...,2.2,3.9,0.508,0.000,0.769,8.6,0.201,5.7,4.0,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1983,2,Tree Rollins,27,ATL,10,10,75,0.133,80,...,0.6,4.3,0.510,0.000,0.726,7.3,0.142,5.0,3.7,97
571,1983,3,Larry Bird,26,BOS,6,6,75,0.080,79,...,1.9,0.9,0.504,0.286,0.840,14.0,0.225,5.6,2.1,98
572,1983,4,Maurice Cheeks,26,PHI,6,6,75,0.080,79,...,2.3,0.4,0.542,0.167,0.754,9.4,0.183,3.8,2.3,101
573,1983,5,Michael Cooper,26,LAL,6,6,75,0.080,82,...,1.4,0.6,0.535,0.238,0.785,5.2,0.116,2.1,1.5,105
574,1983,6,Bobby Jones,31,PHI,6,6,75,0.080,74,...,1.1,1.2,0.543,0.000,0.793,6.4,0.175,3.1,2.8,99

In [166]:
dpoy_df['joinkey3'] = dpoy_df['Player'] + dpoy_df['Yr'].astype(str) + dpoy_df['Tm'] + dpoy_df['Age'].astype(str)

In [168]:
mvps_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 0 to 709
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr        645 non-null    int64
 1   Rank      645 non-null    int64
 2   Player    645 non-null    object
 3   Age       645 non-null    int64
 4   Tm        645 non-null    object
 5   First     645 non-null    float64
 6   Pts Won   645 non-null    float64
 7   Pts Max   645 non-null    int64
 8   Share     645 non-null    float64
 9   G         645 non-null    int64
 10  MP        645 non-null    float64
 11  PTS       645 non-null    float64
 12  TRB       645 non-null    float64
 13  AST       645 non-null    float64
 14  STL       645 non-null    float64
 15  BLK       645 non-null    float64
 16  FG%       645 non-null    float64
 17  3P%       625 non-null    float64
 18  FT%       645 non-null    float64
 19  WS        645 non-null    float64
 20  WS/48     645 non-null    float64
 21  joinkey3  645 non-null    object
dtypes: float64(14), int64(5), object(3)
memory usage: 115.9+ KB

In [169]:
mvp_remove_cols = ['Yr', 'Player', 'Age', 'Tm', 'G', 'MP', 'PTS', 'TRB', 'AST', 'STL', 'BLK', 'FG%', '3P%', 'FT%', 'WS', 'WS/48']

In [170]:
mvps_df = mvps_df.drop(mvp_remove_cols, axis = 1)
mvps_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 0 to 709
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      645 non-null    int64
 1   First     645 non-null    float64
 2   Pts Won   645 non-null    float64
 3   Pts Max   645 non-null    int64
 4   Share     645 non-null    float64
 5   joinkey3  645 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 35.3+ KB

In [171]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3'] = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Player'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Yr'].astype(str) + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Tm'] + totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['Age'].astype(str)

In [172]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df['joinkey3']

0            Alaa Abdelnaby1991POR22
1        Mahmoud Abdul-Rauf1991DEN21
2                Mark Acres1991ORL28
3             Michael Adams1991DEN28
4              Mark Aguirre1991DET31
                    ...
22048     Orlando Woolridge1990LAL30
22049      Haywoode Workman1990ATL24
22050         James Worthy*1990LAL28
22051           Danny Young1990POR27
22052         Michael Young1990LAC29
Name: joinkey3, Length: 22053, dtype: object

In [173]:
mvps_df['joinkey3']

0       Michael Jordan1991CHI27
1        Magic Johnson1991LAL31
2       David Robinson1991SAS25
3      Charles Barkley1991PHI27
4          Karl Malone1991UTA27
                 ...
705         Larry Bird1990BOS33
706      Buck Williams1990POR29
707      Clyde Drexler1990POR27
708         Joe Dumars1990DET26
709       Isiah Thomas1990DET28
Name: joinkey3, Length: 645, dtype: object

In [174]:
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_df.merge(mvps_df, on = 'joinkey3', how = 'left')
totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,PA/G,SRS,Playoffs,Losing_season,joinkey3,Rank,First,Pts Won,Pts Max,Share
0,1991,Alaa Abdelnaby,PF,22,POR,43,0.0,290,55,116,...,106.0,8.47,Y,N,Alaa Abdelnaby1991POR22,NaN,NaN,NaN,NaN,NaN
1,1991,Mahmoud Abdul-Rauf,PG,21,DEN,67,19.0,1505,417,1009,...,130.8,-10.31,N,Y,Mahmoud Abdul-Rauf1991DEN21,NaN,NaN,NaN,NaN,NaN
2,1991,Mark Acres,C,28,ORL,68,0.0,1313,109,214,...,109.9,-3.79,N,Y,Mark Acres1991ORL28,NaN,NaN,NaN,NaN,NaN
3,1991,Michael Adams,PG,28,DEN,66,66.0,2346,560,1421,...,130.8,-10.31,N,Y,Michael Adams1991DEN28,NaN,NaN,NaN,NaN,NaN
4,1991,Mark Aguirre,SF,31,DET,78,13.0,2006,420,909,...,96.8,3.08,Y,N,Mark Aguirre1991DET31,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22048,1990,Orlando Woolridge,SF,30,LAL,62,2.0,1421,306,550,...,103.9,6.74,Y,N,Orlando Woolridge1990LAL30,NaN,NaN,NaN,NaN,NaN
22049,1990,Haywoode Workman,PG,24,ATL,6,0.0,16,2,3,...,107.5,0.64,N,N,Haywoode Workman1990ATL24,NaN,NaN,NaN,NaN,NaN
22050,1990,James Worthy*,SF,28,LAL,80,80.0,2960,711,1298,...,103.9,6.74,Y,N,James Worthy*1990LAL28,NaN,NaN,NaN,NaN,NaN
22051,1990,Danny Young,PG,27,POR,82,8.0,1393,138,328,...,107.9,6.48,Y,N,Danny Young1990POR27,NaN,NaN,NaN,NaN,NaN
22052,1990,Michael Young,SF,29,LAC,45,2.0,459,92,194,...,107.2,-2.80,N,Y,Michael Young1990LAC29,NaN,NaN,NaN,NaN,NaN

In [182]:
matches = totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df[totals_and_advanced_and_per100pos_and_per36min_and_pergame_and_teams_and_mvps_df['Rank'] != None]
matches.dropna(axis = 0, inplace = True)
matches

,Yr,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,PA/G,SRS,Playoffs,Losing_season,joinkey3,Rank,First,Pts Won,Pts Max,Share
200,1991,Kevin Johnson,PG,24,PHO,77,76.0,2772,591,1145,...,107.5,6.49,Y,N,Kevin Johnson1991PHO24,7.0,0.0,32.0,960.0,0.033
312,1991,Terry Porter,PG,27,POR,81,81.0,2665,486,944,...,106.0,8.47,Y,N,Terry Porter1991POR27,10.0,0.0,25.0,960.0,0.026
357,1991,Kenny Smith,PG,25,HOU,78,78.0,2699,522,1003,...,103.2,3.27,Y,N,Kenny Smith1991HOU25,17.0,0.0,5.0,960.0,0.005
544,1992,Brad Daugherty,C,26,CLE,73,73.0,2643,576,1010,...,103.4,5.34,Y,N,Brad Daugherty1992CLE26,11.0,0.0,24.0,960.0,0.025
654,1992,Kevin Johnson,PG,25,PHO,78,78.0,2899,539,1125,...,106.2,5.68,Y,N,Kevin Johnson1992PHO25,15.0,0.0,2.0,960.0,0.002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21330,1989,Kevin Johnson,PG,22,PHO,81,81.0,3179,570,1128,...,110.9,6.84,Y,N,Kevin Johnson1989PHO22,8.0,0.0,22.0,850.0,0.026
21415,1989,Larry Nance,PF,29,CLE,73,72.0,2526,496,920,...,101.2,7.95,Y,N,Larry Nance1989CLE29,16.0,0.0,3.0,850.0,0.004
21455,1989,Mark Price,PG,24,CLE,75,74.0,2728,529,1006,...,101.2,7.95,Y,N,Mark Price1989CLE24,10.0,0.0,18.0,850.0,0.021
21655,1990,Tom Chambers,PF,30,PHO,81,81.0,3046,810,1617,...,107.8,7.09,Y,N,Tom Chambers1990PHO30,8.0,0.0,12.0,920.0,0.013
22028,1990,Buck Williams,PF,29,POR,82,82.0,2801,413,754,...,107.9,6.48,Y,N,Buck Williams1990POR29,11.0,0.0,5.0,920.0,0.005

In [183]:
mvps_df

     Rank  First  Pts Won  Pts Max  Share                  joinkey3
0       1   77.0    891.0      960  0.928   Michael Jordan1991CHI27
1       2   10.0    497.0      960  0.518    Magic Johnson1991LAL31
2       3    6.0    476.0      960  0.496   David Robinson1991SAS25
3       4    2.0    222.0      960  0.231  Charles Barkley1991PHI27
4       5    0.0    142.0      960  0.148      Karl Malone1991UTA27
..    ...    ...      ...      ...    ...                       ...
705    10    0.0      5.0      920  0.005       Larry Bird1990BOS33
706    11    0.0      5.0      920  0.005    Buck Williams1990POR29
707    12    0.0      3.0      920  0.003    Clyde Drexler1990POR27
708    13    0.0      1.0      920  0.001       Joe Dumars1990DET26
709    14    0.0      1.0      920  0.001     Isiah Thomas1990DET28

[645 rows x 6 columns]

In [184]:
'Why are only about half of the MVPs joined successfully?'

'Why are only about half of the MVPs joined successfully?'

In [76]:
# duplicates = totals_and_advanced_df.duplicated(subset=['joinkey'])

In [77]:
# duplicates[duplicates == True]

In [78]:
# totals_and_advanced_df.loc[21340]

In [79]:
# totals_and_advanced_df.loc[21341]